<!-- Main navbar -->
<%= render "/admin/main/main_navbar" %>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                <%= render "/admin/main/user_menu" %>
                <!-- /user menu -->

                <!-- Main navigation -->
                <%= render "/admin/main/main_menu" %>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">
        
            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><span class="text-semibold"><%= t(:options) %></span></h4>
                    </div>
                    
                </div>
                
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><%= link_to '<i class="icon-home2 position-left"></i>'.html_safe + t(:home), { controller: "main", action: "index" } %></li>
                        <li><a href="<%= admin_options_path %>"><%= t(:settings) %></a></li>
                        <li class="active"><%= t(:options) %></li>
                    </ul>
                    
                </div>
            </div>
            <!-- /page header -->
            
            <!-- Content area -->
            <div class="content">
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="panel-heading col-md-12">
                        <h5 class="panel-title col-md-6"><span class="text-semibold"><%= t(:listing_options) %></span></h5>
                        <% if can?(:create, Option) %>
                            <%= link_to t(:new_option), new_admin_option_path, class: 'btn btn-primary pull-right' %>
                        <% end %>
                    </div>
                    <table class="table">
                        <thead>
                            <tr class="bg-teal-800">
                                <th><%= t(:title) %></th>
                                <th><%= t(:tags) %></th>
                                <th><%= t(:value) %></th>
                                <th><%= t(:note) %></th>
                                <th><%= t(:created_at) %></th>
                                <th class="text-center"><%= t(:actions) %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @options.each do |item| %>
                                <tr>
                                    <td>
                                        <% if can? :update, item %>
                                            <strong><%= link_to item.title, edit_admin_option_path(item) %></strong>
                                        <% else %>
                                            <strong><%= item.title %></strong>
                                        <% end %>
                                    </td>
                                    <td><%= item.tag %></td>
                                    <td><%= item.value %></td>
                                    <td><%= item.note %></td>
                                    <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                                    <td class="text-center">
                                        <% if can?(:update, item) or can?(:delete, item) %>
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>
                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <% if can? :update, item %>
                                                            <li>
                                                                <%= link_to '<i class="glyphicon glyphicon-edit"></i> '.html_safe + t(:edit), edit_admin_option_path(item) %>
                                                            </li>
                                                        <% end %>
                                                        <% if can? :delete, item %>
                                                            <li>
                                                                <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), [:admin, item], method: :delete, data: {confirm: t(:confirm_delete)} %>
                                                            </li>
                                                        <% end %>
                                                    </ul>
                                                </li>
                                            </ul>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <div class="dataTables_wrapper no-footer">
                        <div class="datatable-footer showed">
                            <div class="dataTables_info" ><%= page_entries_info @options %></div>
                            <div class="dataTables_paginate paging_simple_numbers">
                                <%= will_paginate @options, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /basic datatable -->
            
                <!-- Footer -->
                <%= render '/admin/main/footer' %>
                <!-- /footer -->
            
            </div>
            <!-- /content area -->
        
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/assets/javascripts/datatables_products.js' %>
<!-- /theme JS files -->