<section class="section_offset">
                            
    <h3>Bình luận</h3>

    <ol class="comments-list">
        
        <% if @blog.comment_articles.get_comments.count > 0 %>
        
            <% @blog.comment_articles.get_comments.each do |comment| %>
    
                <!-- - - - - - - - - - - - - - Comment (level 1) - - - - - - - - - - - - - - - - -->
        
                <li class="comment">
        
                    <article>
        
                        <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->
                    
                        <div class="avatar">
        
                            <img src="/frontend/images/comment_author_photo.jpg" alt="">
        
                        </div>
        
                        <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->
        
                        <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->
        
                        <div class="comment-body">
        
                            <header class="comment-meta">
        
                                <h6 class="comment-author"><%= comment.name %></h6>, <%= comment.created_at.strftime("%d-%m-%Y") %>
        
                            </header>
        
                            <p class="text-justifly"><%= comment.content %></p>
        
                        </div>
        
                        <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->
        
                        <a href="#comment_reply" value="<%= comment.id %>" class="button_grey icon_btn custom-comment-reply-link"><i class="icon-reply-4"></i></a>
						
						<a href="#delete" class="button_grey icon_btn custom-comment-remove-link"><i class="icon-cancel"></i></a>
        
                    </article>
                    
                    <% if comment.children.count > 0 %>
                    
                        <ol class="children">
                            
                            <% comment.children.each do |child| %>
    
                                <!-- - - - - - - - - - - - - - Comment (level 2) - - - - - - - - - - - - - - - - -->
        
                                <li class="comment">
        
                                    <article>
        
                                        <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->
                                    
                                        <div class="avatar">
        
                                            <img src="/frontend/images/comment_author_photo.jpg" alt="">
        
                                        </div>
        
                                        <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->
        
                                        <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->
        
                                        <div class="comment-body">
        
                                            <header class="comment-meta">
        
                                                <h6 class="comment-author"><%= child.name %></h6>, <%= child.created_at.strftime("%d-%m-%Y") %>
        
                                            </header>
        
                                            <p class="text-justifly"><%= child.content %></p>
        
                                        </div>
        
                                        <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->
										
										<a href="#delete" class="button_grey icon_btn custom-comment-remove-link"><i class="icon-cancel"></i></a>
        
                                    </article>
        
                                </li>
        
                                <!-- - - - - - - - - - - - - - End of comment (level 2) - - - - - - - - - - - - - - - - -->
    
                            <% end %>
                            
                        </ol>
                        
                    <% end %>
        
                </li>
        
                <!-- - - - - - - - - - - - - - End of comment (level 1) - - - - - - - - - - - - - - - - -->
                
            <% end %>
            
        <% end %>

    </ol>

</section>