<section class="section_offset">
	
	<% if !current_user.present? %>
                
		<a href="#login" class="checkout-quick-login button_blue middle_btn" onclick="$('.checkout-quick-login-box').toggle()">Viết bình luận</a>

		<!-- - - - - - - - - - - - - - Login - - - - - - - - - - - - - - - - -->

		<section class="section_offset checkout-quick-login-box" style="display: none;">

			<h3>Bạn cần đăng nhập để bình luận cho bài viết.</h3>

			<div class="theme_box">

				<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "type_2"}) do |f| %>
					
					<ul>
						
						<li class="row">
							
							<div class="col-sm-6">
								
								<label for="email" class="required">Tài khoản: </label>
								<%= f.email_field :email, autofocus: true, class: "form-control required", placeholder: "Nhập địa chỉ email..." %>

							</div><!--/ [col] -->

							<div class="col-sm-6">
								
								<label for="email" class="required">Mật khẩu</label>
								<%= f.password_field :password, autocomplete: "off", class: "form-control required", placeholder: "Nhập mật khẩu..." %>

							</div><!--/ [col] -->

						</li><!--/ .row -->

					</ul>
					
					<br/>
				
					<footer class="on_the_sides">
						
						<div class="left_side">
  
							<%= link_to "Đăng ký", { controller: "account", action: "register" }, class: "button_grey middle_btn" %>
  
							<%= link_to '<i class="icon-facebook-1"></i><span class="tooltip top"></span>'.html_safe, user_omniauth_authorize_path(:facebook), class: "icon_btn middle_btn social_facebook" %></li>
							
							<%= link_to '<i class="icon-gplus-2"></i><span class="tooltip top"></span>'.html_safe, user_omniauth_authorize_path(:google_oauth2), class: "icon_btn middle_btn social_googleplus" %>
						
						</div>

						<div class="right_side">
  
							<%= button_tag "Đăng nhập", class: "button_blue middle_btn" %>
  
						</div>
  
					</footer>
					
				<% end %>

			</div>

		</section><!--/ .section_offset -->

		<!-- - - - - - - - - - - - - - End of login - - - - - - - - - - - - - - - - -->
		
	<% end %>
	
	<% if current_user.present? %>

		<div class="theme_box">
			
			<% if !flash[:notice].nil? %>
									
				<!-- - - - - - - - - - - - - - Alert box - - - - - - - - - - - - - - - - -->
				
				<div class="alert_box warning warning_contact">
	
					<b>Thông báo!</b> Quý khách chưa chọn xác nhận recaptcha.
	
					<button class="close"></button>
	
				</div>
				
				<!--/ .alert_box.warning -->
				
			<% end %>
	
			<%= form_for @comment, html: {class: "type_2"} do |f| %>
			
				<%= hidden_field_tag 'parent_id' %>
				
				<% if current_user.present? %>
																	
					<%= f.hidden_field :user_id, value: current_user.id %>
				
				<% end %>
			
				<%= f.hidden_field :article_id, value: @blog.id %>
				
				<ul>
					
					<li class="row comment_article_reply">
						
					</li>
	
					<li class="row">
						
						<div class="col-sm-6">
	
							<label for="lc_name" class="required">Tên</label>
							
							<% if current_user.present? %>
																				
								<%= f.text_field :name, value: current_user.first_name + ' ' + current_user.last_name, readonly: true, class: "required" %>
							
							<% else %>
								
								<%= f.text_field :name, class: "required" %>
								
							<% end %>
	
						</div>
	
						<div class="col-sm-6">
	
							<label for="lc_email" class="required">Địa chỉ e-mail</label>
							
							<% if current_user.present? %>
																				
								<%= f.text_field :email, value: current_user.email, readonly: true, class: "required email" %>
							
							<% else %>
								
								<%= f.text_field :email, class: "required email" %>
								
							<% end %>
	
						</div>
	
					</li>
	
					<li class="row">
	
						<div class="col-xs-12">
	
							<label for="lc_message" class="required">Nội dung</label>
							
							<%= f.text_area :content, rows: "6", class: "required" %>
	
						</div>
	
					</li>
					
					<div class="alignleft">
	
						<div class="g-recaptcha" data-sitekey="6Le7mh8TAAAAALNVSNBWWfIHmrp-pZfOCoToS2p5"></div>
	
					</div> <!--/ .row -->
					
					<%= f.submit "Đăng bình luận", class: "button_blue middle_btn alignright" %>
	
				</ul>
	
			<% end %> 
	
		</div>
	
	<% end %>

</section>