<section class="section_offset">

    <h3>Tìm kiếm</h3>

    <%= form_tag({controller: "product", action: "category"}, method: "get", class: "type_2") do %>
    <%= hidden_field_tag "number", params[:number] %>
    <%= hidden_field_tag "sort_group", params[:sort_group] %>

        <div class="table_layout list_view">

            <div class="table_row">

                <!-- - - - - - - - - - - - - - Manufacturer - - - - - - - - - - - - - - - - -->

                <div class="table_cell">

                    <fieldset>

                        <legend>Thương hiệu</legend>

                        <ul class="checkboxes_list">
                            
                            <% @manufacturers.each do |manufacturer| %>

                                <li>
                                    
                                    <!--<input type="checkbox" <%= "checked" if manufacturer.id == params[:manufacturer_ids] %> name="manufacturer_ids[<%= manufacturer.id %>][]" value="<%= manufacturer.id %>" id="manufacturer_<%= manufacturer.id %>">
                                    <!--<= check_box_tag "manufacturer_ids[]", manufacturer.id, :id => "manufacturer_ids_#{manufacturer.id}" %>-->
                                    <!--<label for="manufacturer_<%= manufacturer.id %>"><%= manufacturer.name %></label>-->
                                    <%= check_box_tag("manufacturer_ids[]", manufacturer.id, "#{manufacturer.id}") %>
                                    <%= manufacturer.name %>
                                </li>
                            
                            <% end %>
                                
                                

                        </ul>

                    </fieldset>

                </div><!--/ .table_cell -->

                <!-- - - - - - - - - - - - - - End manufacturer - - - - - - - - - - - - - - - - -->

            </div><!--/ .table_row -->

        </div><!--/ .table_layout -->

        <footer class="bottom_box">

            <div class="buttons_row">

                <button type="submit" class="button_blue middle_btn">Tìm kiếm</button>

                <button type="reset" class="button_grey middle_btn filter_reset">Nhập lại</button>

            </div>
            
        </footer>
        
    <% end %>

</section>