<section class="section_offset">

    <h3>Sản phẩm bán chạy</h3>

    <ul class="products_list_widget">
        
        <% if @current_area.id.present? %>
        
            <% Product.get_by_bestseller.each do | product | %>
            
                <% product.areas.each do |area| %>
													
					<% if @current_area.id == area.id %>
    
                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                
                        <li>
                            
                            <%= link_to image_tag(product.get_main_image.image_url.smaller_image), { controller: "product", action: "product", product_id: product }, class: "product_thumb" %>
                
                            <div class="wrapper">
                
                                <%= link_to product.name, { controller: "product", action: "product", product_id: product }, class: "product_title" %>
                
                                <div class="clearfix product_info">
                
									<% if product.is_deal? %>
																				
										<p class="product_price alignleft"><s><%= format_number(product.old_price) %></s> <b><%= format_number(product.price) %> đ</b></p><br/>
									
									<% elsif %>
										
										<p class="product_price alignleft"><b><%= format_number(product.price) %> đ</b></p><br/>
									
									<% end %>
                
                                    <% if product.count_stars.length > 0 %>
            
                                        <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
                                        
                                        <ul class="rating">
                                            
                                            <% (1..product.average_stars).each do |star| %>
            
                                                <li class="active"></li>
                                            
                                            <% end %>
            
                                        </ul>
                                            
                                        <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->
            
                                    <% end %>
                
                                </div>
                
                            </div>
                
                        </li>
                
                        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                        
                    <% end %>
                    
                <% end %>
                
            <% end %>
            
        <% else %>
            
            <% Product.get_by_bestseller.each do | product | %>
    
                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
        
                <li>
                    
                    <%= link_to image_tag(product.get_main_image.image_url.smaller_image), { controller: "product", action: "product", product_id: product }, class: "product_thumb" %>
        
                    <div class="wrapper">
        
                        <%= link_to product.name, { controller: "product", action: "product", product_id: product }, class: "product_title" %>
        
                        <div class="clearfix product_info">
        
                            <% if product.is_deal? %>
																				
								<p class="product_price alignleft"><s><%= format_number(product.old_price) %></s> <b><%= format_number(product.price) %> đ</b></p><br/>
							
							<% elsif %>
								
								<p class="product_price alignleft"><b><%= format_number(product.price) %> đ</b></p><br/>
							
							<% end %>
        
                            <% if product.count_stars.length > 0 %>
    
                                <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
                                
                                <ul class="rating">
                                    
                                    <% (1..product.average_stars).each do |star| %>
    
                                        <li class="active"></li>
                                    
                                    <% end %>
    
                                </ul>
                                    
                                <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->
    
                            <% end %>
        
                        </div>
        
                    </div>
        
                </li>
        
                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                
            <% end %>
            
        <% end %>

    </ul><!--/ .list_of_products-->

</section>