                                                <% if !Company.get_company.nil? %>
                                                        
                                                    <li class=""><a>Hotline: <%= Company.get_company.hotline %></a></li>
                                                    
                                                <% end %>
        
                                                <li><%= link_to "Câu hỏi thường gặp", { controller: "information", action: "faq" } %></li>
        
                                                <li><%= link_to "Chính sách bảo mật", { controller: "information", action: "privacy_policy" } %></li>
                                                
                                                <li><%= link_to "Chính sách giao hàng", { controller: "information", action: "delivery" } %></li>
                                                
                                                <li><%= link_to "Điều khoản sử dụng", { controller: "information", action: "terms_conditions" } %></li>
                                                
                                                <li><%= link_to "Liên hệ", { controller: "information", action: "contact_us" } %></li>