<section class="section_offset">

    <h3>Lọc</h3>

    <%= form_tag({controller: "product", action: "search"}, method: "get", class: "type_2") do %>
    
        <%= hidden_field_tag "category_id", @category.id %>

        <div class="table_layout list_view">

            <div class="table_row">

                <!-- - - - - - - - - - - - - - Category filter - - - - - - - - - - - - - - - - -->

                <div class="table_cell">

                    <label>Khu vực</label>

                    <div class="">

                        <select name="area_id">
                            
                            <option value="">Tất cả</option>
                            
                            <% Area.where(level: 2).each do |item| %>
                                                    
                                <option value="<%= item.id %>" class="list_category_option"><%= item.name %></option>
                                                                           
                            <% end %>

                        </select>

                    </div>

                </div><!--/ .table_cell -->

                <!-- - - - - - - - - - - - - - End of category filter - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Manufacturer - - - - - - - - - - - - - - - - -->

                <div class="table_cell">

                    <fieldset>

                        <legend>Thương hiệu</legend>

                        <ul class="checkboxes_list">
                            
                            <% @manufacturers.each do |manufacturer| %>

                                <li>
                                    
                                    <input type="checkbox" name="manufacturer_id" value="<%= manufacturer.id %>" id="manufacturer_<%= manufacturer.id %>">
                                    <label for="manufacturer_<%= manufacturer.id %>"><%= manufacturer.name %></label>
    
                                </li>
                            
                            <% end %>

                        </ul>

                    </fieldset>

                </div><!--/ .table_cell -->

                <!-- - - - - - - - - - - - - - End manufacturer - - - - - - - - - - - - - - - - -->

            </div><!--/ .table_row -->

        </div><!--/ .table_layout -->

        <footer class="bottom_box">

            <div class="buttons_row">

                <button type="submit" class="button_blue middle_btn">Tìm kiếm</button>

                <button type="reset" class="button_grey middle_btn filter_reset">Nhập lại</button>

            </div>
            
        </footer>
        
    <% end %>

</section>