    <div class="container">
        <!-- - - - - - - - - - - - - - Areas map - - - - - - - - - - - - - - - - -->
            
        <%= render "module/areas_map" %>
    
        <!-- - - - - - - - - - - - - - End areas map - - - - - - - - - - - - - - - - -->
    </div>

<% if @current_area.id.present? %>

    <div class="container">
        
        
        
        <section class="section_offset">
    
            <h3 class="offset_title name_area_footer">Danh sách chi nhánh <em class="current_area_size">- <%= @current_area.name %></em></h3>
        
            <!-- - - - - - - - - - - - - - Carousel of you might also like - - - - - - - - - - - - - - - - -->
        
            <div class="owl_carousel six_items">
                
                <% Company.get_branch.each do |branch| %>
                
                    <% if @current_area.id == branch.area.id %>
                
                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                
                        <div class="product_item">
                
                            <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
                            
                            <div class="image_wrap">
                
                                <a href="#branch"><img src="<%= branch.image_url.small_image %>" alt=""></a>
                
                            </div><!--/. image_wrap-->
                
                            <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->
                
                            <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->
                
                            <div class="description">
                
                                <p><a href="#"><%= branch.name %></a></p>
                                
                                <p><%= branch.head_office_address %></p>
                
                                <div class="clearfix product_info">
                
                                    <p class="product_price"><b><%= branch.phone %></b></p>
                
                                </div><!--/ .clearfix.product_info-->
                
                            </div>
                
                            <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->
                
                        </div><!--/ .product_item-->
                        
                        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                        
                    <% else %>
                
                        <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->
            
                        <div class="description">
            
                            <p>Chưa có chi nhánh cho khu vực này</p>
            
                        </div>
            
                        <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->
                        
                    <% end %>
                
                <% end %>
        
            </div><!--/ .owl_carousel-->
            
            <!-- - - - - - - - - - - - - - End of you might also like - - - - - - - - - - - - - - - - -->
        
        </section>
        
    </div>
    
<% end %>

<div class="container mobile_container_socical_feeds">
        
    <section class="section_offset">

        <!-- - - - - - - - - - - - - - Social icon's list - - - - - - - - - - - - - - - - -->
        
        <ul class="social_btns">

            <li>
                <a href="#facebook" class="icon_btn middle_btn social_facebook tooltip_container" box="section_follow_facebook"><i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a>
            </li>
            
            <li>
                <a href="#googleplus" class="icon_btn middle_btn social_googleplus tooltip_container" box="section_follow_googleplus"><i class="icon-gplus-2"></i><span class="tooltip top">Google+</span></a>
            </li>
        
            <li>
                <a href="#contact" class="icon_btn middle_btn social_contact tooltip_container" box="section_follow_contact"><i class="icon-mail-8"></i><span class="tooltip top">Liên hệ</span></a>
            </li>
        
            <li>
                <a href="#gmap" class="icon_btn middle_btn social_gmap tooltip_container" box="section_follow_gmap"><i class="icon-location-4"></i><span class="tooltip top">Thông tin công ty</span></a>
            </li>
        
        </ul>
        
        <!-- - - - - - - - - - - - - - End social icon's list - - - - - - - - - - - - - - - - -->
        
    </section>
    
    <section class="mobile_social_box section_offset section_follow_facebook" style="display: none;">
        
        <div class="animated_item">

            <h3 class="title">Tham gia cùng chúng tôi trên Facebook</h3>

        </div><!--/ .animated_item-->

        <div class="animated_item">

            <div style="display: inline">
                
                <div class="fb-page" data-href="https://www.facebook.com/DacSanVungMien.net" data-tabs="timeline" data-width="410" data-height="340" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                   
                    <div class="fb-xfbml-parse-ignore">
                        
                        <blockquote cite="https://www.facebook.com/DacSanVungMien.net">
                           
                            <a href="https://www.facebook.com/DacSanVungMien.net">DacSanVungMien.net</a>
                       
                        </blockquote>
                    
                    </div>
                
                </div>
                
                <div id="fb-root"></div>
                
                <script>
                
                    (function(d, s, id) {
                    
                        var js, fjs = d.getElementsByTagName(s)[0];
                        
                        if (d.getElementById(id)) return;
                        
                        js = d.createElement(s); js.id = id;
                        
                        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=604561792922205";
                        
                        fjs.parentNode.insertBefore(js, fjs);
                    
                    }
                    
                    (document, 'script', 'facebook-jssdk'));
                
                </script>
            
            </div>

        </div><!--/ .animated_item-->
        
    </section>
    
    <section class="mobile_social_box section_offset section_follow_googleplus" style="display: none;">
        
        <div class="animated_item">

            <h3 class="title">Google +</h3>

        </div><!--/ .animated_item-->

        <div class="animated_item">
            
            <!-- Place this tag where you want the widget to render. -->
            <div class="g-person" data-width="230" data-href="//plus.google.com/u/0/104171666401993038308" data-rel="author"></div>
            
        </div>
         
        <footer class="animated_item bottom_box">
            
            <%= link_to "Vào trang", "//plus.google.com/u/0/104171666401993038308", class: "button_grey middle_btn", target: "_blank" %>

        </footer><!--/ .animated_item-->
        
        <!-- Place this tag in your head or just before your close body tag. -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        
    </section>
    
    <section class="mobile_social_box section_offset section_follow_contact" style="display: none;">
        
        <div class="animated_item">

            <h3 class="title">Liên hệ</h3>

        </div><!--/ .animated_item-->
         
        <div class="animated_item">

            <p class="form_caption">Điền thông tin và nội dung tin nhắn để gửi đến Đặc sản vùng miền.</p>

            <%= form_for Contact.new, html: {id: "new_contact_form"} do |f| %>

                <ul>

                    <li class="row">

                        <div class="col-xs-12">

                            <input type="text" class="required" title="Name" id="contact_name" name="contact[name]" placeholder="Họ & tên">

                        </div>

                    </li>

                    <li class="row">

                        <div class="col-xs-12">

                            <input type="email" class="required" title="Email" id="contact_email" name="contact[email]" placeholder="Địa chỉ email">

                        </div>

                    </li>

                    <li class="row">

                        <div class="col-xs-12">

                            <textarea placeholder="Nội dung" class="required" title="Message" id="contact_message" name="contact[message]" rows="6"></textarea>

                        </div>

                    </li>
                    
                    <li class="row">

                        <div class="col-xs-12">

                            <button class="button_grey middle_btn">Gửi liên hệ</button>

                        </div>

                    </li>

                </ul>

            <% end %>

        </div><!--/ .animated_item-->
        
    </section>
    
    <section class="mobile_social_box section_offset section_follow_gmap" style="display: none;">
        
        <div class="animated_item">

            <h3 class="title">Thông tin công ty</h3>

        </div><!--/ .animated_item-->
           
        <div class="animated_item">
            
            <% if !Company.get_company.nil? %>
                
                <p class="c_info_location">VP: <%= Company.get_company.head_office_address + ", " + Company.get_company.area.name %></p>
                
                <p class="c_info_location">VPGD: <%= Company.get_company.sales_office_address + ", " + Company.get_company.area.name %></p>
            
            <% end %>

            <div class="proportional_frame">

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3024.238131852431!2d-74.006059!3d40.712773999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258fda88cefb3%3A0x7f1e88758d210007!2z0J3RjNGOLdC50L7RgNC60YHQutC40Lkg0KHQuNGC0Lgt0YXQvtC70Ls!5e0!3m2!1sru!2sua!4v1415946524959" style="border:0"></iframe>

            </div>

            <ul class="c_info_list">
               
                <% if !Company.get_company.nil? %>
                   
                    <li class="c_info_phone">ĐT: <%= Company.get_company.phone %></li>
                   
                    <li class="c_info_phone">Hotline: <%= Company.get_company.hotline %></li>
                    
                    <li class="c_info_mail">Email: <a href="mailto:<%= Company.get_company.email %>"><%= Company.get_company.email %></a></li>
                
                <% end %>
            
            </ul>

        </div><!--/ .animated_item-->
        
    </section>

</div>

<footer id="footer">
    
    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section section_1">

        <div class="container">

            <div class="row">

                <div class="col-xs-6 col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - About us widget- - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Tin tức Facebook</h4>
                        
                        <ul class="list_of_entries">

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <li>
                                    
                                <div class="animated_item">

                                    <div style="display: inline">
                                        
                                        <div class="fb-page" data-href="https://www.facebook.com/DacSanVungMien.net" data-tabs="timeline" data-width="410" data-height="340" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                           
                                            <div class="fb-xfbml-parse-ignore">
                                                
                                                <blockquote cite="https://www.facebook.com/DacSanVungMien.net">
                                                   
                                                    <a href="https://www.facebook.com/DacSanVungMien.net">DacSanVungMien.net</a>
                                               
                                                </blockquote>
                                            
                                            </div>
                                        
                                        </div>
                                        
                                        <div id="fb-root"></div>
                                        
                                        <script>
                                        
                                            (function(d, s, id) {
                                            
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                
                                                if (d.getElementById(id)) return;
                                                
                                                js = d.createElement(s); js.id = id;
                                                
                                                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=604561792922205";
                                                
                                                fjs.parentNode.insertBefore(js, fjs);
                                            
                                            }
                                            
                                            (document, 'script', 'facebook-jssdk'));
                                        
                                        </script>
                                    
                                    </div>
                    
                                </div><!--/ .animated_item-->

                            </li>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </ul>
                        
                        <%= link_to "Theo dõi trang", "https://www.facebook.com/DacSanVungMien.net/", class: "button_grey middle_btn", target: "_blank" %>
                        
                    </section><!--/ .widget-->
                    
                    <!-- - - - - - - - - - - - - - End of about us widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

                <div class="col-xs-6 col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Từ khóa phổ biến</h4>
                        
                        <div class="tags_container">
                            
                            <% if !Article.get_keyword_article.nil? %>
                               
                                <ul class="tags_cloud">
                                    
                                    <% Article.get_keyword_article.keywords.each do |item| %>
                                        
                                        <li><a href="#" class="button_grey"><%= item.html_safe %></a></li>
                                    
                                    <% end %>
    
                                </ul><!--/ .tags_cloud-->
                           
                            <% end %>
                            
                        </div>
                    
                    <!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->
                
                </div><!--/ [col]-->

                <div class="col-xs-6 col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - My account widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Ý kiến khách hàng</h4>

                        <ul class="list_of_entries">
                            
                            <% Testimonial.all.limit(2).each do |item| %>

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                <li>
                                        
                                    <article class="entry">
    
                                        <div class="wrapper">
    
                                            <h6 class="entry_title"><%= link_to item.name + ", " + item.city, testimonial_list_path %></h6>
    
                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
    
                                            <div class="entry_meta">
    
                                                <p class="text-justify"><%= truncate(strip_tags(item.content), length: 150) %></p>
    
                                            </div><!--/ .entry_meta-->
    
                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .wrapper-->
    
                                    </article><!--/ .clearfix-->
    
                                </li>
    
                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                            
                            <% end %>

                        </ul>
                        
                        <%= link_to "Xem toàn bộ", testimonial_list_path, class: "button_grey middle_btn" %>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End my account widget - - - - - - - - - - - - - - - - -->

                </div>

                <div class="col-xs-6 col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - Blog widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Bài viết mới nhất</h4>

                        <ul class="list_of_entries">
                            
                            <% Article.get_lastest_blog_posts.each do |blog| %>

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                <li>
                                        
                                    <article class="entry">
                                        
                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
                                        
                                        <%= link_to image_tag(blog.image_url.smaller_image), { controller: "blog", action: "show", blog_id: blog.id }, class: "entry_thumb", title: blog.title %>
    
                                        <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->
    
                                        <div class="wrapper">
    
                                            <h6 class="entry_title"><%= link_to blog.title, { controller: "blog", action: "show", blog_id: blog.id } %></h6>
    
                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
    
                                            <div class="entry_meta">
    
                                                <span><i class="icon-calendar"></i> <%= blog.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %></span>
                                                
                                                <span><i class="icon-comment"></i> <%= blog.comment_articles.count %></span>
                                                
                                            </div><!--/ .entry_meta-->
    
                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .wrapper-->
    
                                    </article><!--/ .clearfix-->
    
                                </li>
    
                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                            
                            <% end %>
                            
                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of blog widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section section_2">

        <div class="container">
            
            <div class="row">

                <div class="col-xs-12 col-md-6 col-sm-12">

                    <div class="row">
        
                        <div class="col-xs-6 col-md-6 col-sm-6">
        
                            <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->
        
                            <section class="widget">
        
                                <h4>Giới thiệu</h4>
        
                                <ul class="list_of_links">
        
                                    <li><%= link_to "Về chúng tôi", { controller: "information", action: "about_us" } %></li>
                                    <li><%= link_to "Thông tin giao hàng", { controller: "information", action: "delivery" } %></li>
                                    <li><%= link_to "Chính sách bảo mật", { controller: "information", action: "privacy_policy" } %></li>
                                    <li><%= link_to "Điều khoản sử dụng dịch vụ", { controller: "information", action: "terms_conditions" } %></li>
                                    <li><%= link_to "Liên hệ", { controller: "information", action: "contact_us" } %></li>
        
                                </ul>
        
                            </section><!--/ .widget-->
                            
                            <!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->
                        
                        </div><!--/ [col]-->
        
                        <div class="col-xs-6 col-md-6 col-sm-6">
        
                            <!-- - - - - - - - - - - - - - Extras widget - - - - - - - - - - - - - - - - -->
        
                            <section class="widget">
        
                                <h4>Thông tin</h4>
        
                                <ul class="list_of_links">
        
                                    <li><%= link_to "Thương hiệu sản phẩm", { controller: "manufacturer", action: "list" } %></li>
                                    <li><%= link_to "Chi nhánh", list_branch_path %></li>
                                    <li><%= link_to "Sản phẩm đặc biệt", { controller: "product", action: "special" } %></li>
                                    <li><%= link_to "Sơ đồ website", { controller: "information", action: "sitemap" } %></li>
        
                                </ul>
        
                            </section><!--/ .widget-->
        
                            <!-- - - - - - - - - - - - - - End of extras widget - - - - - - - - - - - - - - - - -->
        
                        </div><!--/ [col]-->
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-12 footer_second_row">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-sm-6">
        
                            <!-- - - - - - - - - - - - - - My account widget - - - - - - - - - - - - - - - - -->
        
                            <section class="widget">
        
                                <h4>Tài khoản</h4>
        
                                <ul class="list_of_links">
         
                                    <% if current_user.present? %>
                                        
                                        <li><%= link_to "Tài khoản của tôi", { controller: "account", action: "my_account" } %></li>
                                        
                                        <li><%= link_to "Chỉnh sửa tài khoản", { controller: "account", action: "edit" } %></li>
                                        
                                        <li><%= link_to "Lịch sử đặt hàng", { controller: "account", action: "order" } %></li>
                                        
                                        <li><%= link_to "Sản phẩm yêu thích", { controller: "account", action: "wishlist" } %></li>
                                    
                                    <% else %>
                                        
                                        <li><%= link_to "Tài khoản của tôi", { controller: "account", action: "login" } %></li>
                                        
                                        <li><%= link_to "Chỉnh sửa tài khoản", { controller: "account", action: "login" } %></li>
                                        
                                        <li><%= link_to "Lịch sử đặt hàng", { controller: "account", action: "login" } %></li>
                                        
                                        <li><%= link_to "Danh sách sản phẩm yêu thích", { controller: "account", action: "login" } %></li>
                                    
                                    <% end %>
                                    
                                </ul>
        
                            </section><!--/ .widget-->
        
                            <!-- - - - - - - - - - - - - - End my account widget - - - - - - - - - - - - - - - - -->
        
                        </div>
                        
                        <div class="col-xs-6 col-md-6 col-sm-6">
        
                            <!-- - - - - - - - - - - - - - About us widget- - - - - - - - - - - - - - - - -->
        
                            <section class="widget">
        
                                <h4>Chăm sóc khách hàng</h4>
        
                                <ul class="list_of_links">
        
                                    <li><%= link_to "Trung tâm hỗ trợ khách hàng", "" %></li>
                                    <li><%= link_to "Chính sách thanh toán", "" %></li>
                                    <li><%= link_to "Chính sách giao hàng", "" %></li>
                                    <li><%= link_to "Chính sách bảo hành", "" %></li>
        
                                </ul>
                                
                            </section>
                            
                            <!-- - - - - - - - - - - - - - End of about us widget - - - - - - - - - - - - - - - - -->
        
                        </div><!--/ [col]-->
        
                    </div><!--/ .row-->
                    
                </div>
            </div>

        </div><!--/ .container -->

    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

    <div class="footer_section_3 align_center">
        
        <div class="container company_info">
            
            <p class="copyright">
              
                <% if !Company.get_company.nil? %>
                   
                    <h3 class="company_name"><%= Company.get_company.name %></h3>  
                   
                    <strong>Văn phòng: </strong> <%= Company.get_company.head_office_address + ", " + Company.get_company.area.name  %> </br>
                   
                    <strong>Giấy Phép Đăng Ký: </strong> <%= Company.get_company.certificate_no %> - Cấp ngày <%= Company.get_company.date_of_issue.strftime("%d-%m-%Y") %> <br/>
                   
                    <strong>Văn Phòng Giao Dịch: </strong><%= Company.get_company.sales_office_address + ", " + Company.get_company.area.name  %><br/>
                   
                    <strong>Điện Thoại: </strong> <%= Company.get_company.phone %>&nbsp;&nbsp;<strong> Hotline: </strong> <%= Company.get_company.hotline %>&nbsp;&nbsp; <strong>Email: </strong> <a href="mailto:<%= Company.get_company.email %>"><%= Company.get_company.email %></a><br/>
               
                <% end %>
            
            </p>
            
        </div>

        <div class="container">

            <!-- - - - - - - - - - - - - - Payments - - - - - - - - - - - - - - - - -->

            <!--<ul class="payments">

                <li><img src="/frontend/images/payment_1.png" alt=""></li>
                <li><img src="/frontend/images/payment_2.png" alt=""></li>
                <li><img src="/frontend/images/payment_3.png" alt=""></li>
                <li><img src="/frontend/images/payment_4.png" alt=""></li>
                <li><img src="/frontend/images/payment_5.png" alt=""></li>
                <li><img src="/frontend/images/payment_6.png" alt=""></li>
                <li><img src="/frontend/images/payment_7.png" alt=""></li>
                <li><img src="/frontend/images/payment_8.png" alt=""></li>

            </ul>-->
            
            <!-- - - - - - - - - - - - - - End of payments - - - - - - - - - - - - - - - - -->

            <p class="copyright">
                &copy; 2016 <%= link_to "Đặc sản vùng miền", { controller: "information", action: "about_us" }, target: "_blank" %>. All Rights Reserved.<br/>
                Thiết kế bởi <%= link_to "DacSanVungMien.net", "http://dacsanvungmien.net/", target: "_blank" %>
            </p>

        </div><!--/ .container -->

    </div><!--/ .footer_section-->

    <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->

</footer>

<% if !current_user.present? %>

    <!-- - - - - - - - - - - - - - Footer Regiter Bos Section - - - - - - - - - - - - - - - - -->
    
        <div class="footer_register_box">
        
            <section class="col-sm-12 section_register_box">
        
                <!-- - - - - - - - - - - - - - Tabs v2 - - - - - - - - - - - - - - - - -->
        
                <div class="tabs type_2">
            
                    <ul class="tabs_nav clearfix">
                
                        <li class="active"><a href="#quick_register"><i class="icon-user-md"></i></a></li>
                        <li class=""><a href="#quick_login"><i class="icon-login-2"></i></a></li>
                
                    </ul>
                    
                <!-- - - - - - - - - - - - - - End of tabs v2 - - - - - - - - - - - - - - - - -->
                
                <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->
            
                <div class="tab_containers_wrap">
            
                    <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
            
                    <div id="quick_register" class="tab_container">
                        
                        <h3>Thông tin khách hàng</h3>
            
                        <%= form_for User.new, url: destop_quick_register_path, html: {class: "type_2", id: "quick_register"} do |f| %>
                    
                            <ul>
                                                    
                                <li>
                                    
                                    <label for="login_email">Họ & Tên:</label>
                                    
                                    <%= f.text_field :first_name, autofocus: true, class: "form-control required", placeholder: "Họ tên khách hàng" %>
                                
                                </li>
                                
                                <% if !Option.get_user_guest.nil? %>
                                    
                                    <% if Option.get_user_guest.accept_email == true %>
                                
                                        <li>
                                            
                                            <label for="login_email">Email:</label>
                                            
                                            <%= f.email_field :email, class: "form-control required", placeholder: "Email khách hàng" %>
                                        
                                        </li>
                                        
                                    <% end %>
                                    
                                <% end %>
                                
                                <li>
                                    
                                    <label for="login_email">Số điện thoại:</label>
                                    
                                    <%= f.text_field :phone, class: "form-control required", placeholder: "Số điện thoại khách hàng" %>
                                
                                </li>
                    
                                <li class="v_centered">
                                    
                                    <input type="submit" value="Đăng ký" class="button_blue middle_btn">
                                
                                </li>
                    
                            </ul>
                            
                        <% end %>
                        
                    </div><!--/ #quick_register-->
                                                        
                    <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
                                                    
                    <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
        
                    <div id="quick_login" class="tab_container">
                        
                        <h3>Đăng nhập</h3>
            
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "type_2", id: "quick_login"}) do |f| %>
                    
                            <ul>
                    
                                <li>
                                    
                                    <label for="login_email">Địa chỉ email:</label>
                                    
                                    <%= f.email_field :email, autofocus: true, class: "form-control required", placeholder: "Nhập địa chỉ email..." %>
                                
                                </li>
                    
                                <li>
                                    
                                    <label for="login_password">Mật khẩu:</label>
                                    
                                    <%= f.password_field :password, autocomplete: "off", class: "form-control required", placeholder: "Nhập mật khẩu..." %>
                                
                                </li>
                    
                                <li class="v_centered">
                                    
                                    <%= button_tag "Đăng nhập", class: "button_blue middle_btn"%>
                                    
                                    <%= link_to "Quên mật khẩu?", { controller: "account", action: "forgotten" }, class: "small_link" %>
                                
                                </li>
                    
                            </ul>
                    
                        <% end %>
                    
                        <div class="streamlined">
                    
                            <!--Social icon's list-->
                            <ul class="horizontal_list social_btns">
                    
                                <li><%= link_to '<i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span>'.html_safe, user_omniauth_authorize_path(:facebook), class: "icon_btn middle_btn social_facebook tooltip_container" %></li>
                                <li><%= link_to '<i class="icon-gplus-2"></i><span class="tooltip top">GooglePlus</span>'.html_safe, user_omniauth_authorize_path(:google_oauth2), class: "icon_btn middle_btn social_googleplus tooltip_container" %></li>
                    
                            </ul><!--/ .horizontal_list.wrapper.social_btns-->
                            <!--End social icon's list-->
                    
                        </div><!--/ .streamlined-->
                        
                    </div><!--/ #quick_login-->
                                                        
                    <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
        
                </div><!--/ .tab_containers_wrap -->
            
            </section><!--/ [col]-->
        
        </div>
    
    <!-- - - - - - - - - - - - - - End Footer Regiter Bos Section - - - - - - - - - - - - - - - - -->

<% end %>

<script>
    $(document).ready(function() {
        // mobile social button
        $('.mobile_container_socical_feeds .social_btns li a').click(function() {
            var box = $(this).attr('box');
            $('.mobile_social_box').hide();
            $('.'+box).show();
        });
    });
    
    $(document).on("click", ".botton_footer_register_box", function() {
        $(".footer_register_box").toggle();
    });
    
    $(document).mouseup(function (e)
    {
        var container = $(".footer_register_box");
        if (e.target.className != 'icon-comment' && !container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            container.hide();
        }
    });
    
    $(document).ready(function(){
        $("#new_user").validate();
    });
    
    $(document).ready(function(){
        $("#quick_register").validate();
    });
    
    $(document).ready(function(){
        $("#quick_login").validate();
    });
    

    

</script>