<footer id="footer">
    
    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section">

        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - About us widget- - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Latest Tweets</h4>
                        
                        <ul class="list_of_entries">

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <li>
                                    
                                <article class="entry">

                                    <div class="wrapper">

                                        <div class="entry_meta">
                                            
                                            <p>Cosyone Opencart Theme is finally updated to support Opencart 2.0.1! Get the update from <a href="http://t.co/IaqcfWSQip" target="_blank">http://t.co/IaqcfWSQip</a></p>
                                            
                                        </div>
                                        
                                        <span class="tweets_span">over a year ago</span>

                                    </div><!--/ .wrapper-->

                                </article><!--/ .clearfix-->

                            </li>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <li>
                                    
                                <article class="entry">

                                    <div class="wrapper">

                                        <div class="entry_meta">
                                            
                                            <p>Cosyone Opencart Theme is finally updated to support Opencart 2.0.1! Get the update from <a href="http://t.co/IaqcfWSQip" target="_blank">http://t.co/IaqcfWSQip</a></p>
                                            
                                        </div>
                                        
                                        <span class="tweets_span">over a year ago</span>

                                    </div><!--/ .wrapper-->

                                </article><!--/ .clearfix-->

                            </li>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </ul>
                        
                        <a href="#" class="button_grey middle_btn">Theo dõi trang</a>
                        
                    </section><!--/ .widget-->
                    
                    <!-- - - - - - - - - - - - - - End of about us widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Từ khóa phổ biến</h4>
                        
                        <div class="tags_container">

                            <ul class="tags_cloud">
                                
                                <% Article.get_keyword_article.keywords.each do |item| %>
                                    
                                    <li><a href="#" class="button_grey"><%= item.html_safe %></a></li>
                                
                                <% end %>

                            </ul><!--/ .tags_cloud-->
                            
                        </div>
                    
                    <!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->
                
                </div><!--/ [col]-->

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - My account widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Ý kiến khách hàng</h4>

                        <ul class="list_of_entries">

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <li>
                                    
                                <article class="entry">

                                    <div class="wrapper">

                                        <h6 class="entry_title"><a href="#">Sample Name, London</a></h6>

                                        <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                                        <div class="entry_meta">

                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some f..</p>

                                        </div><!--/ .entry_meta-->

                                        <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .wrapper-->

                                </article><!--/ .clearfix-->

                            </li>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <li>
                                    
                                <article class="entry">

                                    <div class="wrapper">

                                        <h6 class="entry_title"><a href="#">Sample Name, London</a></h6>

                                        <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                                        <div class="entry_meta">

                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some f..</p>

                                        </div><!--/ .entry_meta-->

                                        <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .wrapper-->

                                </article><!--/ .clearfix-->

                            </li>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </ul>
                        
                        <a href="#" class="button_grey middle_btn">Xem toàn bộ</a>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End my account widget - - - - - - - - - - - - - - - - -->

                </div>

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - Blog widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Bài viết mới nhất</h4>

                        <ul class="list_of_entries">
                            
                            <% Article.order("created_at DESC").first(3).each do |blog| %>

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                <li>
                                        
                                    <article class="entry">
                                        
                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
                                        
                                        <%= link_to image_tag(blog.image_url.smaller_image), { controller: "blog", action: "show", blog_id: blog.id }, class: "entry_thumb", title: blog.title %>
    
                                        <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->
    
                                        <div class="wrapper">
    
                                            <h6 class="entry_title"><%= link_to blog.title, { controller: "blog", action: "show", blog_id: blog.id } %></h6>
    
                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
    
                                            <div class="entry_meta">
    
                                                <span><i class="icon-calendar"></i> <%= blog.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %></span>
                                                
                                                <span><i class="icon-comment"></i> 3</span>
                                                
                                            </div><!--/ .entry_meta-->
    
                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .wrapper-->
    
                                    </article><!--/ .clearfix-->
    
                                </li>
    
                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                            
                            <% end %>
                            
                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of blog widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section">

        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - About us widget- - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Về chúng tôi</h4>

                        <p class="about_us">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euis- mod in auctor ut, ligula. Aliquam dapibus tincidunt metus.</p>
                        
                        <p>Email us: <a href="mailto:company@companyname.com">company@company.com</a><br></p>

                    </section>
                    
                    <!-- - - - - - - - - - - - - - End of about us widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Thông tin</h4>

                        <ul class="list_of_links">

                            <li><%= link_to "Về chúng tôi", { controller: "information", action: "about_us" } %></li>
                            <li><%= link_to "Thông tin giao hàng", { controller: "information", action: "delivery" } %></li>
                            <li><%= link_to "Chính sách bảo mật", { controller: "information", action: "privacy_policy" } %></li>
                            <li><%= link_to "Điều khoản sử dụng dịch vụ", { controller: "information", action: "terms_conditions" } %></li>
                            <li><%= link_to "Liên hệ", { controller: "information", action: "contact_us" } %></li>

                        </ul>

                    </section><!--/ .widget-->
                    
                    <!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->
                
                </div><!--/ [col]-->

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - Extras widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Extras</h4>

                        <ul class="list_of_links">

                            <li><%= link_to "Thương hiệu sản phẩm", { controller: "manufacturer", action: "list" } %></li>
                            <li><%= link_to "Phiếu quà tặng", { controller: "account", action: "voucher" } %></li>
                            <li><%= link_to "Đại lý", "" %></li>
                            <li><%= link_to "Đặc biệt", { controller: "product", action: "special" } %></li>
                            <li><%= link_to "Sơ đồ website", { controller: "information", action: "sitemap" } %></li>

                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of extras widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

                <div class="col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - My account widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Tài khoản</h4>

                        <ul class="list_of_links">
 
                            <% if current_user.present? %>
                                
                                <li><%= link_to "Tài khoản của tôi", { controller: "account", action: "my_account" } %></li>
                                
                                <li><%= link_to "Lịch sử đặt hàng", { controller: "account", action: "order" } %></li>
                                
                                <li><%= link_to "Sản phẩm trả lại", { controller: "account", action: "return_product" } %></li>
                                
                                <li><%= link_to "Danh sách sản phẩm yêu thích", { controller: "account", action: "wishlist" } %></li>
                                
                                <li><%= link_to "Nhận tin mới", { controller: "account", action: "newsletter" } %></li>
                            
                            <% else %>
                                
                                <li><%= link_to "Tài khoản của tôi", { controller: "account", action: "login" } %></li>
                                
                                <li><%= link_to "Lịch sử đặt hàng", { controller: "account", action: "login" } %></li>
                                
                                <li><%= link_to "Sản phẩm trả lại", { controller: "account", action: "login" } %></li>
                                
                                <li><%= link_to "Danh sách sản phẩm yêu thích", { controller: "account", action: "login" } %></li>
                                
                                <li><%= link_to "Nhận tin mới", { controller: "account", action: "login" } %></li>
                            
                            <% end %>
                            
                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End my account widget - - - - - - - - - - - - - - - - -->

                </div>

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

    <div class="footer_section_3 align_center">
        
        <div class="container company_info">
            
            <p class="copyright">
                
                <h4 class="company_name"><%= Company.first.name %></h4>  
                <strong>Văn phòng: </strong> <%= Company.first.head_office_address %> </br>
                <strong>GPĐK: </strong> <%= Company.first.certificate_no %> - Cấp ngày <%= Company.first.date_of_issue.strftime("%d-%m-%Y") %> <br/>
                <strong>VPGD: </strong><%= Company.first.sales_office_address %><br/>
                <strong>ĐT: </strong> <%= Company.first.phone %>&nbsp;&nbsp;<strong> Hotline: </strong> <%= Company.first.hotline %>&nbsp;&nbsp; <strong>Email: </strong> <a href="mailto:<%= Company.first.email %>"><%= Company.first.email %></a><br/>
                
            </p>
            
        </div>

        <div class="container">

            <!-- - - - - - - - - - - - - - Payments - - - - - - - - - - - - - - - - -->

            <ul class="payments">

                <li><img src="/frontend/images/payment_1.png" alt=""></li>
                <li><img src="/frontend/images/payment_2.png" alt=""></li>
                <li><img src="/frontend/images/payment_3.png" alt=""></li>
                <li><img src="/frontend/images/payment_4.png" alt=""></li>
                <li><img src="/frontend/images/payment_5.png" alt=""></li>
                <li><img src="/frontend/images/payment_6.png" alt=""></li>
                <li><img src="/frontend/images/payment_7.png" alt=""></li>
                <li><img src="/frontend/images/payment_8.png" alt=""></li>

            </ul>
            
            <!-- - - - - - - - - - - - - - End of payments - - - - - - - - - - - - - - - - -->

            <p class="copyright">
                &copy; 2016 <%= link_to "Đặc sản vùng miền", { controller: "information", action: "about_us" }, target: "_blank" %>. All Rights Reserved.<br/>
                Thiết kế bởi <%= link_to "Hoang Khang Incotech", "http://hoangkhang.com.vn/", target: "_blank" %>
            </p>

        </div><!--/ .container -->

    </div><!--/ .footer_section-->

    <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->

</footer>