<% if params[:area_id].present? %>

    <div class="container">
        
        <section class="section_offset">
    
            <h3 class="offset_title">Danh sách chi nhánh - TP. Hồ Chí Minh</h3>
        
            <!-- - - - - - - - - - - - - - Carousel of you might also like - - - - - - - - - - - - - - - - -->
        
            <div class="owl_carousel six_items">
                
                <% Company.get_branch.each do |branch| %>
                
                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                    <div class="product_item">
            
                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
                        
                        <div class="image_wrap">
            
                            <a href="#branch"><img src="<%= branch.image_url.small_image %>" alt=""></a>
            
                        </div><!--/. image_wrap-->
            
                        <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->
            
                        <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->
            
                        <div class="description">
            
                            <p><a href="#"><%= branch.name %></a></p>
                            
                            <p><%= branch.head_office_address %></p>
            
                            <div class="clearfix product_info">
            
                                <p class="product_price"><b><%= branch.phone %></b></p>
            
                            </div><!--/ .clearfix.product_info-->
            
                        </div>
            
                        <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->
            
                    </div><!--/ .product_item-->
                    
                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                
                <% end %>
        
            </div><!--/ .owl_carousel-->
            
            <!-- - - - - - - - - - - - - - End of you might also like - - - - - - - - - - - - - - - - -->
        
        </section>
        
    </div>
    
<% end %>

<footer id="footer">
    
    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section section_1">

        <div class="container">

            <div class="row">

                <div class="col-xs-6 col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - About us widget- - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Tin tức Facebook</h4>
                        
                        <ul class="list_of_entries">

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <li>
                                    
                                <div class="animated_item">

                                    <div style="display: inline">
                                        
                                        <div class="fb-page" data-href="https://www.facebook.com/DacSanVungMien.net" data-tabs="timeline" data-width="410" data-height="340" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                           
                                            <div class="fb-xfbml-parse-ignore">
                                                
                                                <blockquote cite="https://www.facebook.com/DacSanVungMien.net">
                                                   
                                                    <a href="https://www.facebook.com/DacSanVungMien.net">DacSanVungMien.net</a>
                                               
                                                </blockquote>
                                            
                                            </div>
                                        
                                        </div>
                                        
                                        <div id="fb-root"></div>
                                        
                                        <script>
                                        
                                            (function(d, s, id) {
                                            
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                
                                                if (d.getElementById(id)) return;
                                                
                                                js = d.createElement(s); js.id = id;
                                                
                                                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=604561792922205";
                                                
                                                fjs.parentNode.insertBefore(js, fjs);
                                            
                                            }
                                            
                                            (document, 'script', 'facebook-jssdk'));
                                        
                                        </script>
                                    
                                    </div>
                    
                                </div><!--/ .animated_item-->

                            </li>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                        </ul>
                        
                        <%= link_to "Theo dõi trang", "https://www.facebook.com/DacSanVungMien.net/", class: "button_grey middle_btn", target: "_blank" %>
                        
                    </section><!--/ .widget-->
                    
                    <!-- - - - - - - - - - - - - - End of about us widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

                <div class="col-xs-6 col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Từ khóa phổ biến</h4>
                        
                        <div class="tags_container">
                            
                            <% if !Article.get_keyword_article.nil? %>
                               
                                <ul class="tags_cloud">
                                    
                                    <% Article.get_keyword_article.keywords.each do |item| %>
                                        
                                        <li><a href="#" class="button_grey"><%= item.html_safe %></a></li>
                                    
                                    <% end %>
    
                                </ul><!--/ .tags_cloud-->
                           
                            <% end %>
                            
                        </div>
                    
                    <!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->
                
                </div><!--/ [col]-->

                <div class="col-xs-6 col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - My account widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Ý kiến khách hàng</h4>

                        <ul class="list_of_entries">
                            
                            <% Testimonial.all.limit(2).each do |item| %>

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                <li>
                                        
                                    <article class="entry">
    
                                        <div class="wrapper">
    
                                            <h6 class="entry_title"><%= link_to item.name + ", " + item.city, testimonial_list_path %></h6>
    
                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
    
                                            <div class="entry_meta">
    
                                                <p class="text-justify"><%= truncate(strip_tags(item.content), length: 150) %></p>
    
                                            </div><!--/ .entry_meta-->
    
                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .wrapper-->
    
                                    </article><!--/ .clearfix-->
    
                                </li>
    
                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                            
                            <% end %>

                        </ul>
                        
                        <%= link_to "Xem toàn bộ", testimonial_list_path, class: "button_grey middle_btn" %>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End my account widget - - - - - - - - - - - - - - - - -->

                </div>

                <div class="col-xs-6 col-md-3 col-sm-6">

                    <!-- - - - - - - - - - - - - - Blog widget - - - - - - - - - - - - - - - - -->

                    <section class="widget">

                        <h4>Bài viết mới nhất</h4>

                        <ul class="list_of_entries">
                            
                            <% Article.get_lastest_blog_posts.each do |blog| %>

                                <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                <li>
                                        
                                    <article class="entry">
                                        
                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
                                        
                                        <%= link_to image_tag(blog.image_url.smaller_image), { controller: "blog", action: "show", blog_id: blog.id }, class: "entry_thumb", title: blog.title %>
    
                                        <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->
    
                                        <div class="wrapper">
    
                                            <h6 class="entry_title"><%= link_to blog.title, { controller: "blog", action: "show", blog_id: blog.id } %></h6>
    
                                            <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
    
                                            <div class="entry_meta">
    
                                                <span><i class="icon-calendar"></i> <%= blog.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %></span>
                                                
                                                <span><i class="icon-comment"></i> <%= blog.comment_articles.count %></span>
                                                
                                            </div><!--/ .entry_meta-->
    
                                            <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
    
                                        </div><!--/ .wrapper-->
    
                                    </article><!--/ .clearfix-->
    
                                </li>
    
                                <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
                            
                            <% end %>
                            
                        </ul>

                    </section><!--/ .widget-->

                    <!-- - - - - - - - - - - - - - End of blog widget - - - - - - - - - - - - - - - - -->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

    <div class="footer_section section_2">

        <div class="container">
            
            <div class="row">

                <div class="col-xs-12 col-md-6 col-sm-12">

                    <div class="row">
        
                        <div class="col-xs-6 col-md-6 col-sm-6">
        
                            <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->
        
                            <section class="widget">
        
                                <h4>Giới thiệu</h4>
        
                                <ul class="list_of_links">
        
                                    <li><%= link_to "Về chúng tôi", { controller: "information", action: "about_us" } %></li>
                                    <li><%= link_to "Thông tin giao hàng", { controller: "information", action: "delivery" } %></li>
                                    <li><%= link_to "Chính sách bảo mật", { controller: "information", action: "privacy_policy" } %></li>
                                    <li><%= link_to "Điều khoản sử dụng dịch vụ", { controller: "information", action: "terms_conditions" } %></li>
                                    <li><%= link_to "Liên hệ", { controller: "information", action: "contact_us" } %></li>
        
                                </ul>
        
                            </section><!--/ .widget-->
                            
                            <!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->
                        
                        </div><!--/ [col]-->
        
                        <div class="col-xs-6 col-md-6 col-sm-6">
        
                            <!-- - - - - - - - - - - - - - Extras widget - - - - - - - - - - - - - - - - -->
        
                            <section class="widget">
        
                                <h4>Thông tin</h4>
        
                                <ul class="list_of_links">
        
                                    <li><%= link_to "Thương hiệu sản phẩm", { controller: "manufacturer", action: "list" } %></li>
                                    <li><%= link_to "Chi nhánh", list_branch_path %></li>
                                    <li><%= link_to "Sản phẩm đặc biệt", { controller: "product", action: "special" } %></li>
                                    <li><%= link_to "Sơ đồ website", { controller: "information", action: "sitemap" } %></li>
        
                                </ul>
        
                            </section><!--/ .widget-->
        
                            <!-- - - - - - - - - - - - - - End of extras widget - - - - - - - - - - - - - - - - -->
        
                        </div><!--/ [col]-->
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-12 footer_second_row">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-sm-6">
        
                            <!-- - - - - - - - - - - - - - My account widget - - - - - - - - - - - - - - - - -->
        
                            <section class="widget">
        
                                <h4>Tài khoản</h4>
        
                                <ul class="list_of_links">
         
                                    <% if current_user.present? %>
                                        
                                        <li><%= link_to "Tài khoản của tôi", { controller: "account", action: "my_account" } %></li>
                                        
                                        <li><%= link_to "Chỉnh sửa tài khoản", { controller: "account", action: "edit" } %></li>
                                        
                                        <li><%= link_to "Lịch sử đặt hàng", { controller: "account", action: "order" } %></li>
                                        
                                        <li><%= link_to "Sản phẩm yêu thích", { controller: "account", action: "wishlist" } %></li>
                                    
                                    <% else %>
                                        
                                        <li><%= link_to "Tài khoản của tôi", { controller: "account", action: "login" } %></li>
                                        
                                        <li><%= link_to "Chỉnh sửa tài khoản", { controller: "account", action: "login" } %></li>
                                        
                                        <li><%= link_to "Lịch sử đặt hàng", { controller: "account", action: "login" } %></li>
                                        
                                        <li><%= link_to "Danh sách sản phẩm yêu thích", { controller: "account", action: "login" } %></li>
                                    
                                    <% end %>
                                    
                                </ul>
        
                            </section><!--/ .widget-->
        
                            <!-- - - - - - - - - - - - - - End my account widget - - - - - - - - - - - - - - - - -->
        
                        </div>
                        
                        <div class="col-xs-6 col-md-6 col-sm-6">
        
                            <!-- - - - - - - - - - - - - - About us widget- - - - - - - - - - - - - - - - -->
        
                            <section class="widget">
        
                                <h4>Chăm sóc khách hàng</h4>
        
                                <ul class="list_of_links">
        
                                    <li><%= link_to "Trung tâm hỗ trợ khách hàng", "" %></li>
                                    <li><%= link_to "Chính sách thanh toán", "" %></li>
                                    <li><%= link_to "Chính sách giao hàng", "" %></li>
                                    <li><%= link_to "Chính sách bảo hành", "" %></li>
        
                                </ul>
                                
                            </section>
                            
                            <!-- - - - - - - - - - - - - - End of about us widget - - - - - - - - - - - - - - - - -->
        
                        </div><!--/ [col]-->
        
                    </div><!--/ .row-->
                    
                </div>
            </div>

        </div><!--/ .container -->

    </div><!--/ .footer_section_2-->

    <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

    <div class="footer_section_3 align_center">
        
        <div class="container company_info">
            
            <p class="copyright">
              
                <% if !Company.get_company.nil? %>
                   
                    <h3 class="company_name"><%= Company.get_company.name %></h3>  
                   
                    <strong>Văn phòng: </strong> <%= Company.get_company.head_office_address + ", " + Company.get_company.area.name  %> </br>
                   
                    <strong>Giấy Phép Đăng Ký: </strong> <%= Company.get_company.certificate_no %> - Cấp ngày <%= Company.get_company.date_of_issue.strftime("%d-%m-%Y") %> <br/>
                   
                    <strong>Văn Phòng Giao Dịch: </strong><%= Company.get_company.sales_office_address + ", " + Company.get_company.area.name  %><br/>
                   
                    <strong>Điện Thoại: </strong> <%= Company.get_company.phone %>&nbsp;&nbsp;<strong> Hotline: </strong> <%= Company.get_company.hotline %>&nbsp;&nbsp; <strong>Email: </strong> <a href="mailto:<%= Company.get_company.email %>"><%= Company.get_company.email %></a><br/>
               
                <% end %>
            
            </p>
            
        </div>

        <div class="container">

            <!-- - - - - - - - - - - - - - Payments - - - - - - - - - - - - - - - - -->

            <ul class="payments">

                <li><img src="/frontend/images/payment_1.png" alt=""></li>
                <li><img src="/frontend/images/payment_2.png" alt=""></li>
                <li><img src="/frontend/images/payment_3.png" alt=""></li>
                <li><img src="/frontend/images/payment_4.png" alt=""></li>
                <li><img src="/frontend/images/payment_5.png" alt=""></li>
                <li><img src="/frontend/images/payment_6.png" alt=""></li>
                <li><img src="/frontend/images/payment_7.png" alt=""></li>
                <li><img src="/frontend/images/payment_8.png" alt=""></li>

            </ul>
            
            <!-- - - - - - - - - - - - - - End of payments - - - - - - - - - - - - - - - - -->

            <p class="copyright">
                &copy; 2016 <%= link_to "Đặc sản vùng miền", { controller: "information", action: "about_us" }, target: "_blank" %>. All Rights Reserved.<br/>
                Thiết kế bởi <%= link_to "DacSanVungMien.net", "http://dacsanvungmien.net/", target: "_blank" %>
            </p>

        </div><!--/ .container -->

    </div><!--/ .footer_section-->

    <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->

</footer>