<header id="header" class="type_2">

    <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

    <div class="bottom_part header_top">

        <div class="sticky_part">

            <div class="container">

                <div class="row">

                    <div class="main_header_row">

                        <div class="col-sm-3 header_logo">

                            <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
                            
                            <%= link_to image_tag("/frontend/images/dsvm_logo2.png", class: ""), home_path, class: "logo" %>

                            <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->

                        </div><!--/ [col]-->

                        <div class="col-lg-6 col-md-5 col-sm-6">

                            <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->

                            <nav>

                                <ul class="topbar">

                                    <li><%= link_to "Giới thiệu", about_us_path %></li>
                                    <li><%= link_to 'Tin tức', {controller: 'blog', action: 'index'} %></li>
                                    <li><%= link_to "Liên hệ", { controller: "information", action: "contact_us" } %></li>
                                    <li><%= link_to "Câu hỏi thường gặp", { controller: "information", action: "faq" } %></li>
                                    <li class="has_submenu">

                                        <a href="#">Tài khoản</a>
                                        
                                        <% if current_user.present? %>
                                        
                                            <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->
        
                                            <ul class="theme_menu submenu">
                                                        
                                                <li class="current"><%= link_to "Tài khoản của tôi", my_account_path %></li>
        
                                                <li><%= link_to "Chỉnh sửa thông tin", edit_path %></li>
        
                                                <li><%= link_to "Địa chỉ cho đơn hàng", address_path %></li>
                                                
                                                <li><%= link_to "Sản phẩm yêu thích", wishlist_path %></li>
                                                
                                                <li><%= link_to "Lịch sử đặt hàng", account_order_path %></li>
                                                
                                                <li><%= link_to "Đăng ký nhận tin mới", newsletter_path %></li>
                                                
                                                <li><%= link_to("Đăng xuất", destroy_user_session_path, :method => :delete) %></li>
        
                                            </ul>
        
                                            <!-- - - - - - - - - - - - - - End submenu (level 2) - - - - - - - - - - - - - - - - -->
    
                                        <% else %>
                                            
                                            <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->
        
                                            <ul class="theme_menu submenu">
                                                        
                                                <li class="current"><%= link_to "Đăng nhập", login_path %></li>
        
                                                <li><%= link_to "Đăng ký", register_path %></li>
        
                                                <li><%= link_to "Quên mật khẩu", forgotten_path %></li>
        
                                            </ul>
        
                                            <!-- - - - - - - - - - - - - - End submenu (level 2) - - - - - - - - - - - - - - - - -->
                                            
                                        <% end %>
                                    
                                    </li>
                                    <li class="has_submenu">

                                        <a href="#">Chăm sóc khách hàng</a>
                                        
                                            <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->
        
                                            <ul class="theme_menu submenu">
                                                
                                                <% if !Company.get_company.nil? %>
                                                        
                                                    <li class=""><a>Hotline: <%= Company.get_company.hotline %></a></li>
                                                    
                                                <% end %>
        
                                                <li><%= link_to "Câu hỏi thường gặp", { controller: "information", action: "faq" } %></li>
        
                                                <li><%= link_to "Chính sách bảo mật", { controller: "information", action: "privacy_policy" } %></li>
                                                
                                                <li><%= link_to "Chính sách giao hàng", { controller: "information", action: "delivery" } %></li>
                                                
                                                <li><%= link_to "Điều khoản sử dụng", { controller: "information", action: "terms_conditions" } %></li>
                                                
                                                <li><%= link_to "Liên hệ", { controller: "information", action: "contact_us" } %></li>
        
                                            </ul>
        
                                            <!-- - - - - - - - - - - - - - End submenu (level 2) - - - - - - - - - - - - - - - - -->
                                    
                                    </li>
                                    
                                </ul>

                            </nav>

                            <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->
                            
                            <%= form_tag({controller: "product", action: "search"}, method: "get", class: "clearfix search") do %>
    
                                <input type="text" name="keyword" tabindex="1" value="<%= params[:keyword] if params[:keyword].present? %>" placeholder="Tìm kiếm..." class="alignleft">
                                
                                <button class="button_blue def_icon_btn alignleft search_button_top"></button>
                                
                                <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
    
                                <div class="search_category alignleft">
                                    
                                     <div class="search_category_box">
                                        <h4><i class="fa fa-map-marker"></i> <span class="area_current">Tất cả khu vực</span></h4>
                                        <input type="hidden" name="area_id" />
                                        <ul style="display: none">
                                            <li value="">
                                                <a href="#">Tất cả khu vực</a>
                                            </li>
                                            <% Area.order("display_order").where(level: 2).each do |item| %>
                                            
                                                <li value="<%= item.id %>">
                                                    <a class="level-<%= item.level %>" href="#"><%= item.name %></a>
                                                </li>
                                                
                                                <% item.children.order("display_order").each do |child| %>

                                                    <li value="<%= child.id %>">
                                                        <a class="level-<%= child.level %>" href="#"><%= child.name %></a>
                                                    </li>
                                                                                               
                                                <% end %>
                                                                                           
                                            <% end %>
                                        
                                        </ul>
    
                                    </div><!--/ .custom_select -->
    
                                </div><!--/ .search_category.alignleft-->
    
                                <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
    
                                
    
                            <% end %><!--/ #search-->
                            
                            <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->

                        </div><!--/ [col]-->

                        <div class="col-lg-3 col-md-4 col-sm-3">

                            <div class="clearfix">

                                <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

                                <div class="alignright site_settings">
                                    
                                    <% if params[:locale] == "vi" %>

                                    <span class="current open_"><img src="/frontend/images/flag_vn.jpg" alt="">Vietnam</span>
                                    
                                    <% else %>
                                        
                                        <span class="current open_"><img src="/frontend/images/flag_en.jpg" alt="">English</span>
                                        
                                    <% end %>
                                    
                                    <ul class="dropdown site_setting_list language">

                                        <li class="animated_item"><a href="<%= url_for( :locale => 'vi' ) %>"><img src="/frontend/images/flag_vn.jpg" alt=""> Vietnam</a></li>
                                    
                                        <li class="animated_item"><a href="<%= url_for( :locale => 'en' ) %>"><img src="/frontend/images/flag_en.jpg" alt=""> English</a></li>
                                        
                                    </ul>

                                </div><!--/ .alignright.site_settings-->

                                <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->
                                
                                <!-- - - - - - - - - - - - - - Currency change - - - - - - - - - - - - - - - - -->

                                <div class="alignright site_settings currency">

                                    <span class="current open_">VND</span>

                                    <ul class="dropdown site_setting_list">

                                        <li class="animated_item"><a href="#">VND</a></li>

                                    </ul>

                                </div><!--/ .alignright.site_settings.currency-->

                                <!-- - - - - - - - - - - - - - End of currency change - - - - - - - - - - - - - - - - -->

                            </div><!--/ .clearfix-->
                            
                            <div class="ajax_shopping_carts align_right v_centered">

                                <%= render "/module/shopping_cart_items" %>
                            
                            </div><!--/ .align_right-->

                        </div><!--/ [col]-->

                    </div><!--/ .main_header_row-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div>

    </div><!--/ .bottom_part -->

    <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->

</header>
<script>
    function get_cart() {
        var url = "<%= cart_carts_path %>";
        $.ajax({
            method: "GET",
            url: url   
        })
        .done(function( msg ) {
		  $(".ajax_shopping_carts").html(msg);
		});
    }
    $(document).on("click", ".remove_item", function(e){
        e.preventDefault();
        var url = $(this).attr("href");
        $.ajax({
            method: "GET",
            url: url
        })
        .done(function( msg ) {
            get_cart();
		});
    });
    
    
    $(".search_category_box ul").height($(window).height()-150);
    $( window ).resize(function() {
        $(".search_category_box ul").height($(window).height()-150);
    });
    $(document).on("click", ".search_category_box h4", function(e){
        var box = $(".search_category_box");
        box.find("ul").toggle();
    });    
    $(document).on("click", ".search_category_box a", function(e){
        var box = $(".search_category_box");
        var menu = $(".search_category_box ul");
        var value = $(this).attr("value");
        var text = $(this).html();
        
        box.find(".area_current").html(text);
        menu.hide();        
    });
    $(document).mouseup(function (e)
    {
        var container = $(".search_category_box ul");
    
        if (!container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            container.hide();
        }
    });
    
</script>

