<header id="header" class="type_2">

    <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

    <div class="bottom_part header_top">

        <div class="sticky_part">

            <div class="container">

                <div class="row">

                    <div class="main_header_row">

                        <div class="col-sm-3 header_logo">

                            <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
                            
                            <%= link_to image_tag("/frontend/images/dsvm_logo2.png", class: ""), home_path, class: "logo" %>

                            <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->

                        </div><!--/ [col]-->

                        <div class="col-lg-6 col-md-5 col-sm-6">

                            <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->
                            
                            <%= render "module/verytop_menu_bar", prefix: "" %>

                            <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->
                            
                            <%= render "module/top_search_form" %>                            
                            
                            <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->

                        </div><!--/ [col]-->

                        <div class="col-lg-3 col-md-4 col-sm-3">

                            <div class="clearfix">

                                <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

                                <div class="alignright site_settings">
                                    
                                    <% if params[:locale] == "vi" %>

                                    <span class="current open_"><img src="/frontend/images/flag_vn.jpg" alt="">Vietnam</span>
                                    
                                    <% else %>
                                        
                                        <span class="current open_"><img src="/frontend/images/flag_en.jpg" alt="">English</span>
                                        
                                    <% end %>
                                    
                                    <ul class="dropdown site_setting_list language">

                                        <li class="animated_item"><a href="<%= url_for( :locale => 'vi' ) %>"><img src="/frontend/images/flag_vn.jpg" alt=""> Vietnam</a></li>
                                    
                                        <li class="animated_item"><a href="<%= url_for( :locale => 'en' ) %>"><img src="/frontend/images/flag_en.jpg" alt=""> English</a></li>
                                        
                                    </ul>

                                </div><!--/ .alignright.site_settings-->

                                <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->
                                
                                <% if user_signed_in? %>
                                
                                    <!-- - - - - - - - - - - - - - Conversation - - - - - - - - - - - - - - - - -->
    
                                    <div class="alignright site_settings">
    
                                        <span class="current open_">
                                            
                                            <i class="icon-comment"></i>
                                            
                                            <% if current_user.unread_conversations_count > 0 %>
                                                
                                                (<%= current_user.unread_conversations_count %>)
                                            
                                            <% end %>
                                        
                                        </span>
                                        
                                        <ul class="dropdown site_setting_list conversation">
                                            
                                            <% if current_user.is_admin == false %>
                  
                                                <% User.get_admins.each do |user| %>
                                                
                                                   <li class="animated_item">
                                                     
                                                     <a href="#" class="start-conversation" data-sid="<%= current_user.id %>" data-rip="<%= user.id %>"><b><%= user.first_name.to_s + " " + user.last_name.to_s %></b><br/>
                                                             
                                                         <p class="style_chat">Chat với quản trị viên</p>
                                                         
                                                     </a>
                                                   
                                                   </li>
                             
                                                 <% end %>
                                               
                                            <% end %>
                                            
                                            <% if current_user.involving_conversations.count != 0 %>
                                            
                                                <% current_user.involving_conversations.each do |chat| %>
        
                                                    <li class="animated_item <%= "unread_conversation" if current_user.unread_messages({conversation_id: chat.id}).count > 0 %>">
                                                        
                                                        <a href="#" class="start-conversation" data-sid="<%= current_user.id %>" data-rip="<%= chat.get_chatter(current_user).id %>">
                                                            <b><%= chat.get_chatter(current_user).first_name.to_s + " " + chat.get_chatter(current_user).last_name.to_s %>
                                                                
                                                                <% if current_user.unread_messages({conversation_id: chat.id}).count > 0 %>
                                                
                                                                    (<%= current_user.unread_messages({conversation_id: chat.id}).count %>)
                                                                
                                                                <% end %>
                                                                
                                                            </b><br/>
                                                            
                                                            <p class="style_chat"><%= truncate(strip_tags(chat.get_new_message.body), length: 50) %></p>
                                                        
                                                            <% if chat.messages.count > 0 %>
                                                                <p class="style_chat"><%= chat.messages.lastest_message.created_at.strftime("%H:%M %d-%m-%Y") %></p>
                                                            <% end %>
                                                        </a>
                                                    
                                                    </li>
                                                    
                                                <% end %>
                                            
                                            <% else %>
                                                
                                                <li class="animated_item">
                                                        
                                                    <a href="#"><b>Bạn chưa có cuộc trò chuyện nào...</b></a>
                                                    
                                                <li>
                                            
                                            <% end %>
                                        
                                        </ul>
    
                                    </div><!--/ .alignright.site_settings-->
    
                                    <!-- - - - - - - - - - - - - - End of conversation - - - - - - - - - - - - - - - - -->
                                
                                <% else %>
                                    
                                    <div class="alignright site_settings">
    
                                        <span class="botton_footer_register_box"><i class="icon-comment"></i></span>
                                        
                                    </div>
                                
                                
                                <% end %>

                            </div><!--/ .clearfix-->
                            
                            <div class="ajax_shopping_carts align_right v_centered">

                                <%= render "/module/shopping_cart_items" %>
                            
                            </div><!--/ .align_right-->

                        </div><!--/ [col]-->

                    </div><!--/ .main_header_row-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div>

    </div><!--/ .bottom_part -->

    <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->

</header>
<script>
    function get_cart() {
        var url = "<%= cart_carts_path %>";
        $.ajax({
            method: "GET",
            url: url   
        })
        .done(function( msg ) {
		  $(".ajax_shopping_carts").html(msg);
		});
    }
    $(document).on("click", ".remove_item", function(e){
        e.preventDefault();
        var url = $(this).attr("href");
        $.ajax({
            method: "GET",
            url: url
        })
        .done(function( msg ) {
            get_cart();
		});
    });
    
    
    $( document ).ready(function() {
        $(".search_category_box ul").height($(window).height()-100);
    });
    $( window ).resize(function() {
        $(".search_category_box ul").height($(window).height()-100);
    });
    $(document).on("click", ".search_category_box h4", function(e){
        var box = $(".search_category_box");
        box.find("ul").toggle();
    });    
    //$(document).on("click", ".search_category_box a", function(e){
    //    var box = $(".search_category_box");
    //    var menu = $(".search_category_box ul");
    //    var value = $(this).parent().attr("value");
    //    var text = $(this).html();
    //    $("input[name=area_id]").val(value);
    //    box.find(".area_current").html(text);
    //    menu.hide();
    //    $(this).parents("form").submit();
    //});
    $(document).mouseup(function (e)
    {
        var container = $(".search_category_box ul");

        if (e.target.className != 'area_current' && !container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            container.hide();
        }
    });
    
</script>

<%= render "module/mobile_header" %>