<header id="header" class="type_2">

    <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

    <div class="bottom_part">

        <div class="sticky_part">

            <div class="container">

                <div class="row">

                    <div class="main_header_row">

                        <div class="col-sm-3">

                            <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
                            
                            <%= link_to image_tag("/frontend/images/logo.png"), home_path, class: "logo" %>

                            <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->

                        </div><!--/ [col]-->

                        <div class="col-lg-6 col-md-5 col-sm-6">

                            <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->

                            <nav>

                                <ul class="topbar">

                                    <li><%= link_to "Trang chủ", home_path %></li>
                                    <% if current_user.present? %>
                                        <li><%= link_to "Tài khoản", { controller: "account", action: "my_account" } %></li>
                                    <% else %>
                                        <li><%= link_to "Tài khoản", { controller: "account", action: "login" } %></li>
                                    <% end %>
                                    <li><%= link_to "Giỏ hàng", { controller: "checkout", action: "shopping_cart" } %></li>
                                    <li><%= link_to "Thanh toán", { controller: "checkout", action: "checkout" } %></li>
                                    <li><%= link_to 'Bài viết', {controller: 'blog', action: 'index'} %></li>
                                    <li><%= link_to "Liên hệ", { controller: "information", action: "contact_us" } %></li>
                                    <li><%= link_to "FAQ", { controller: "information", action: "faq" } %></li>
                                    <% if current_user.present? %>
                                        <% if user_signed_in? %>
                                            <li><%= link_to("Đăng xuất", destroy_user_session_path, :method => :delete) %></li>
                                        <%end%>
                                    <% else %>
                                        <li><a href="#" data-modal-url="<%= quick_login_path %>">Đăng nhập</a></li>
                                    <% end %>  
                                </ul>

                            </nav>

                            <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->

                            <form class="clearfix search" %>
    
                                <input type="text" name="search" tabindex="1" placeholder="Tìm kiếm..." class="alignleft">
                                
                                <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
    
                                <div class="search_category alignleft">
                                    
                                     <div class="">
    
                                        <select class="select_header" name="category_id">
                                            
                                            <option value="">Tất cả</option>
                                            
                                            <% Area.where(level: 2).each do |item| %>
                                                    
                                                <option value="<%= item.id %>" class="list_category_option"><%= item.name %></option>
                                                
                                                <% item.children.each do |child| %>
                                                    
                                                    <option value="<%= child.id %>" class="list_category_option">-- <%= child.name %></option>
                                                                                               
                                                <% end %>
                                                                                           
                                            <% end %>
                                        
                                        </select>
    
                                    </div><!--/ .custom_select -->
    
                                </div><!--/ .search_category.alignleft-->
    
                                <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
    
                                <button class="button_blue def_icon_btn alignleft"></button>
    
                            </form><!--/ #search-->
                            
                            <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->

                        </div><!--/ [col]-->

                        <div class="col-lg-3 col-md-4 col-sm-3">

                            <div class="clearfix">

                                <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

                                <div class="alignright site_settings">
                                    
                                    <% if params[:locale] == "vi" %>

                                    <span class="current open_"><img src="/frontend/images/flag_vn.jpg" alt="">Vietnam</span>
                                    
                                    <% else %>
                                        
                                        <span class="current open_"><img src="/frontend/images/flag_en.jpg" alt="">English</span>
                                        
                                    <% end %>
                                    
                                    <ul class="dropdown site_setting_list language">

                                        <li class="animated_item"><a href="<%= url_for( :locale => 'vi' ) %>"><img src="/frontend/images/flag_vn.jpg" alt=""> Vietnam</a></li>
                                    
                                        <li class="animated_item"><a href="<%= url_for( :locale => 'en' ) %>"><img src="/frontend/images/flag_en.jpg" alt=""> English</a></li>
                                        
                                    </ul>

                                </div><!--/ .alignright.site_settings-->

                                <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->
                                
                                <!-- - - - - - - - - - - - - - Currency change - - - - - - - - - - - - - - - - -->

                                <div class="alignright site_settings currency">

                                    <span class="current open_">VND</span>

                                    <ul class="dropdown site_setting_list">

                                        <li class="animated_item"><a href="#">VND</a></li>

                                    </ul>

                                </div><!--/ .alignright.site_settings.currency-->

                                <!-- - - - - - - - - - - - - - End of currency change - - - - - - - - - - - - - - - - -->

                            </div><!--/ .clearfix-->

                            <div class="align_right v_centered align_shopping_cart">

                                <!-- - - - - - - - - - - - - - Wishlist & compare counters - - - - - - - - - - - - - - - - -->

                                <ul class="shop_links_list">

                                    <li>
                                        
                                        <% if current_user.present? %>
                                       
                                            <a href="#" class="small_link"><i class="icon-heart-5"></i> <%= link_to "Yêu thích", { controller: "account", action: "wishlist" } %> (<%= + current_user.wish_lists.count %>)</a>
                                        
                                        <% else %>
                                            
                                            <a href="#" class="small_link"><i class="icon-heart-5"></i> <%= link_to "Yêu thích", { controller: "account", action: "login" } %> (0)</a>
                                            
                                        <% end %>
                                    
                                    </li>
                                    
                                    <li>
                                        
                                        <a href="#" class="small_link"><i class="icon-resize-small"></i> <%= link_to "So sánh", { controller: "product", action: "comparison" } %> (<%= @compare.get_number_items %>)</a>
                                    
                                    </li>

                                </ul><!--/ .align_right.shop_links-->
                            
                                <!-- - - - - - - - - - - - - - End of wishlist & compare counters - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Shopping cart - - - - - - - - - - - - - - - - -->

                                <div class="shopping_cart_wrap">

                                    <button id="open_shopping_cart" class="open_button" data-amount="<%= @cart.get_number_items %>">
                                        <b class="title">Giỏ hàng</b>
                                        <b class="total_price"><%= format_number(@cart.total_order) %> đ</b>
                                    </button>

                                    <!-- - - - - - - - - - - - - - Products list - - - - - - - - - - - - - - - - -->

                                    <div class="shopping_cart dropdown">
                                        
                                        <% @cart.line_items.each do |item| %>

                                            <div class="animated_item">
    
                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
    
                                                <div class="clearfix sc_product">
                                                    
                                                    <% if item.product.get_main_image.present? %>
																
                                                        <%= link_to image_tag(item.product.get_main_image.image_url.smaller_image), { controller: "product", action: "product", product_id: item.product.id }, class: "product_thumb", title: item.product.name %>
                                                    
                                                    <% else %>
                                                        
                                                        <%= link_to image_tag("/frontend/images/smaller_image.png"), { controller: "product", action: "product", product_id: item.product.id }, class: "product_thumb", title: item.product.name %>
                                                    
                                                    <% end %>
    
                                                    <%= link_to item.product.name, { controller: "product", action: "product", product_id: item.product.id }, class: "product_name" %>
    
                                                    <p><%= item.quantity %> x <%= format_number(item.product.price) %> đ</p>
    
                                                    <%= link_to "" , {controller: "checkout", action: "shopping_cart", do: 'remove_item', line_item_id: item.id }, {class: "close"}  %>
    
                                                </div><!--/ .clearfix.sc_product-->
                                                
                                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
    
                                            </div><!--/ .animated_item-->
                                        
                                        <% end %>

                                        <div class="animated_item">

                                            <!-- - - - - - - - - - - - - - Total info - - - - - - - - - - - - - - - - -->

                                            <ul class="total_info">

                                                <li><span class="price">Thuế:</span> 0.000 đ</li>
                                                
                                                <% if @cart.voucher.present? %>

                                                    <li><span class="price">Voucher:</span>- <%= format_number(@cart.voucher.price) %> đ</li>
                                                    
                                                <% end %>
                                                
                                                <% if @cart.coupon.present? %>

                                                    <li><span class="price">Coupon:</span>- <%= format_number(@cart.coupon.price) %> đ</li>
                                                    
                                                <% end %>

                                                <li class="total"><b><span class="price">Tổng:</span> <%= format_number(@cart.total_order) %> đ</b></li>

                                            </ul>
                                            
                                            <!-- - - - - - - - - - - - - - End of total info - - - - - - - - - - - - - - - - -->

                                        </div><!--/ .animated_item-->

                                        <div class="animated_item">
                                            
                                            <%= link_to "Xem giỏ hàng", { controller: "checkout", action: "shopping_cart" }, class: "button_grey" %>
                                            
                                            <%= link_to "Đặt hàng", { controller: "checkout", action: "checkout" }, class: "button_blue" %>

                                        </div><!--/ .animated_item-->

                                    </div><!--/ .shopping_cart.dropdown-->

                                    <!-- - - - - - - - - - - - - - End of products list - - - - - - - - - - - - - - - - -->

                                </div><!--/ .shopping_cart_wrap.align_left-->
                                
                                <!-- - - - - - - - - - - - - - End of shopping cart - - - - - - - - - - - - - - - - -->

                            </div><!--/ .align_right-->

                        </div><!--/ [col]-->

                    </div><!--/ .main_header_row-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div>

    </div><!--/ .bottom_part -->

    <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->

</header>