<% if !@is_mobile.present? %>
        <header id="header" class="type_2">
        
            <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->
        
            <div class="bottom_part header_top">
        
                <div class="sticky_part">
        
                    <div class="container">
        
                        <div class="row">
        
                            <div class="main_header_row">
        
                                <div class="col-sm-3 header_logo">
        
                                    <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->
                                    
                                    <%= link_to image_tag("/frontend/images/dsvm_logo2.png", class: ""), go_home_path, class: "logo" %>
        
                                    <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->
        
                                </div><!--/ [col]-->
        
                                <div class="col-lg-6 col-md-5 col-sm-6">
        
                                    <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->
                                    
                                    <%= render "module/verytop_menu_bar", prefix: "" %>
        
                                    <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->
        
                                    <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->
                                    
                                    <%= render "module/top_search_form" %>                            
                                    
                                    <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->
        
                                </div><!--/ [col]-->
        
                                <div class="col-lg-3 col-md-4 col-sm-3">
        
                                    <div class="clearfix">
        
                                        <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->
        
                                        <div class="alignright site_settings">
                                            
                                            <% if params[:locale] == "vi" %>
        
                                            <span class="current open_"><img src="/frontend/images/flag_vn.jpg" alt="">Vietnam</span>
                                            
                                            <% else %>
                                                
                                                <span class="current open_"><img src="/frontend/images/flag_en.jpg" alt="">English</span>
                                                
                                            <% end %>
                                            
                                            <ul class="dropdown site_setting_list language">
        
                                                <li class="animated_item"><a href="<%= url_for( :locale => 'vi' ) %>"><img src="/frontend/images/flag_vn.jpg" alt=""> Vietnam</a></li>
                                            
                                                <li class="animated_item"><a href="<%= url_for( :locale => 'en' ) %>"><img src="/frontend/images/flag_en.jpg" alt=""> English</a></li>
                                                
                                            </ul>
        
                                        </div><!--/ .alignright.site_settings-->
        
                                        <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->
                                        
                                        
        
                                    </div><!--/ .clearfix-->
                                    
                                    <div class="ajax_shopping_carts align_right v_centered">
        
                                        <%= render "/module/shopping_cart_items" %>
                                    
                                    </div><!--/ .align_right-->
        
                                </div><!--/ [col]-->
        
                            </div><!--/ .main_header_row-->
        
                        </div><!--/ .row-->
        
                    </div><!--/ .container-->
        
                </div>
        
            </div><!--/ .bottom_part -->
        
            <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->
        
        </header>

<% end %>

<script>
    function get_cart() {
        var url = "<%= cart_carts_path %>";
        $.ajax({
            method: "GET",
            url: url   
        })
        .done(function( msg ) {
		  $(".ajax_shopping_carts").html(msg);
		});
    }
    $(document).on("click", ".remove_item", function(e){
        e.preventDefault();
        var url = $(this).attr("href");
        $.ajax({
            method: "GET",
            url: url
        })
        .done(function( msg ) {
            get_cart();
		});
    });
    
    
    // for top area menus
    $( document ).ready(function() {
        $(".search_category_box .area_menus_box").height($(window).height()-100);
    });
    $( window ).resize(function() {
        $(".search_category_box .area_menus_box").height($(window).height()-100);
    });
    $(document).on("click", ".search_category_box h4", function(e){
        var box = $(".search_category_box");
        box.find(".area_menus_box").toggle();
        if(box.find("ul li").length < 5) {
            var url = "<%= ajax_area_menus_areas_path %>";
            $.ajax({
                method: "GET",
                url: url   
            })
            .done(function( msg ) {
              box.find(".area_menus_box").html(msg);
            });
        }
    });    
    $(document).mouseup(function (e)
    {
        var container = $(".search_category_box .area_menus_box");
        
        if (e.target.className != 'area_current' && !container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            container.hide();
        }
    });
    
    // hide social box
    $(document).mouseup(function (e)
    {
        var container = $(".mobile_social_box");
        
        if (!container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            container.hide();
        }
    });
    
    // Loading home categories products tabs
    function checkHomeTabFinish() {
        if($(".tabs.initialized").length > 0) {
            $(".categories_products_home_tabs_container .tab_containers_wrap").css("visibility", "visible");
            $(".categories_module").show();
            $(".tabs-loading").css("height","auto");
            $(".tabs-loading").hide();
            if($(window).width() < 490) {
                $('.categories_products_home_tabs_container .owl-item').width($('.owl-stage-outer').width()/2);
                $('.categories_products_home_tabs_container .owl-item .product_item').height($('.owl-stage-outer').width()/2 + 35);
                $('.categories_products_home_tabs_container .tab_containers_wrap').height($('.owl-stage-outer').width()/2 + 90);
            }
        }        
    };
    $( document ).ready(function() {
        setInterval("checkHomeTabFinish()", 500);        
    });
</script>

<% if @is_mobile.present? %>

    <%= render "module/mobile_header" %>
    
<% end %>

<% if !@blog_advertise.nil? %>
    
    <div class="banner_item " id="advertise_area">
        
        <%= link_to image_tag(@blog_advertise.image_url.advertise_image), { controller: "blog", action: "show", blog_id: @blog_advertise.id }, class: "width_area_banner" %>
        
    </div>
    
<% end %>