<div class="section_offset">

    <div class="row">
        
        <% Article.get_highest_product_quality.each do |item| %>

            <div class="col-md-3 col-sm-6">
                
                <section class="infoblock type_2 animated transparent" data-animation="fadeInDown">
    
                    <i class="icon-thumbs-up-1"></i>
    
                    <h5 class="caption"><b><%= item.title %></b></h5>
                    
                    <%= link_to "Đọc tiếp", { controller: "blog", action: "show", blog_id: item }, class: "button_dark_grey middle_btn" %>
    
                </section><!--/ .infoblock.type_2-->
    
            </div><!--/ [col]-->
            
        <% end %>
        
        <% Article.get_fast_free_delivery.each do |item| %>

            <div class="col-md-3 col-sm-6">
                
                <section class="infoblock type_2 animated transparent" data-animation="fadeInDown">
    
                    <i class="icon-paper-plane"></i>
    
                    <h5 class="caption"><b><%= item.title %></b></h5>
                    
                    <%= link_to "Đọc tiếp", { controller: "blog", action: "show", blog_id: item }, class: "button_dark_grey middle_btn" %>
    
                </section><!--/ .infoblock.type_2-->
    
            </div><!--/ [col]-->
            
        <% end %>
        
        <% Article.get_safe_secure_order.each do |item| %>

            <div class="col-md-3 col-sm-6">
                
                <section class="infoblock type_2 animated transparent" data-animation="fadeInDown">
    
                    <i class="icon-lock"></i>
    
                    <h5 class="caption"><b><%= item.title %></b></h5>
                    
                    <%= link_to "Đọc tiếp", { controller: "blog", action: "show", blog_id: item }, class: "button_dark_grey middle_btn" %>
    
                </section><!--/ .infoblock.type_2-->
    
            </div><!--/ [col]-->
            
        <% end %>
        
        <% Article.get_money_back.each do |item| %>

            <div class="col-md-3 col-sm-6">
                
                <section class="infoblock type_2 animated transparent" data-animation="fadeInDown">
    
                    <i class="icon-money"></i>
    
                    <h5 class="caption"><b><%= item.title %></b></h5>
                    
                    <%= link_to "Đọc tiếp", { controller: "blog", action: "show", blog_id: item }, class: "button_dark_grey middle_btn" %>
    
                </section><!--/ .infoblock.type_2-->
    
            </div><!--/ [col]-->
            
        <% end %>

    </div><!--/ .row-->

</div><!--/ .section_offset-->