
    
    <%= render 'module/main_nav_right' %>
    
    
    
    <div class="main_slider animated transparent" data-animation="fadeInDown" data-animation-delay="400">
    
        <!-- - - - - - - - - - - - - - Revolution slider - - - - - - - - - - - - - - - - -->

        <div class="revolution_slider">

            <div class="rev_slider">

                <ul>
                    <% count = 1 %>
                        
                    <% Slideshow.get_all_slides.each do |item| %>
                    
                        <% if count == 1 %>

                            <!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->
        
                            <li data-transition="<%= item.style %>" data-slotamount="7">
                                
                                <img src="<%= item.image_url.image %>" alt="">
        
                                <div class="caption sfl stl layer_1" style="color: <%= item.color_1 %>" data-x="left" data-hoffset="60" data-y="90" data-easing="easeOutBack" data-speed="600" data-start="900"><%= item.title_1 %></div>
        
                                <div class="caption sfl stl layer_2" style="color: <%= item.color_2 %>" data-x="left" data-y="138" data-hoffset="60" data-easing="easeOutBack" data-speed="600" data-start="1000"><%= item.title_2 %></div>
                                
                                <% if item.name_button != "" && item.link != "" %>
                                    
                                    <div class="caption sfb stb" data-x="left" data-y="245" data-hoffset="60" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                        
                                        <% if item.link != "" %>
                                        
                                            <a href="<%= item.link %>" class="button_blue big_btn"><%= item.name_button %></a>
                                        
                                        <% else %>
                                            
                                            <a href="#<%= item.name_button %>" class="button_blue big_btn"><%= item.name_button %></a>
                                            
                                        <% end %>
                                    
                                    </div>
                                    
                                <% end %>
        
                            </li>
        
                            <!-- - - - - - - - - - - - - - End of Slide 1 - - - - - - - - - - - - - - - - -->
                            
                        <% end %>
                        
                        <% if count == 2 %>
    
                            <!-- - - - - - - - - - - - - - Slide 2 - - - - - - - - - - - - - - - - -->
        
                            <li data-transition="<%= item.style %>" data-slotamount="7" class="align_center">
                                
                                <img src="<%= item.image_url.image %>" alt="">
        
                                <div class="caption sfl stl layer_5" style="color: <%= item.color_1 %>" data-x="center" data-y="77" data-easing="easeOutBack" data-speed="600" data-start="900"><%= item.title_1 %></div>
        
                                <div class="caption sfl stl layer_6" style="color: <%= item.color_2 %>" data-x="center" data-y="135" data-easing="easeOutBack" data-speed="600" data-start="1050"><%= item.title_2 %></div>
        
                                <% if item.name_button != "" && item.link != "" %>
                                    
                                    <div class="caption sfb stb" data-x="center" data-y="260" data-easing="easeOutBack" data-speed="700" data-start="1150">
                                        
                                        <% if item.link != "" %>
                                        
                                            <a href="<%= item.link %>" class="button_blue big_btn"><%= item.name_button %></a>
                                        
                                        <% else %>
                                            
                                            <a href="#<%= item.name_button %>" class="button_blue big_btn"><%= item.name_button %></a>
                                            
                                        <% end %>
                                   
                                    </div>
                                    
                                <% end %>
        
                            </li>
        
                            <!-- - - - - - - - - - - - - - End of Slide 2 - - - - - - - - - - - - - - - - -->
                            
                        <% end %>
                        
                        <% if count == 3 %>
    
                            <!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->
        
                            <li data-transition="<%= item.style %>" data-slotamount="7">
                                
                                <img src="<%= item.image_url.image %>" alt="">
        
                                <div class="caption sfl stl layer_8" style="color: <%= item.color_1 %>" data-x="right" data-y="73" data-hoffset="-60" data-easing="easeOutBack" data-speed="600" data-start="900"><%= item.title_1 %></div>
        
                                <div class="caption sfl stl layer_9" style="color: <%= item.color_2 %>" data-x="right" data-y="122" data-hoffset="-60" data-easing="easeOutBack" data-speed="600" data-start="1000"><%= item.title_2 %></div>
        
                                <div class="caption sfl stl layer_10" data-x="right" data-y="178" data-hoffset="-60" data-easing="easeOutBack" data-speed="600" data-start="1100"></div>
        
                                <% if item.name_button != "" && item.link != "" %>
                                    
                                    <div class="caption sfb stb" data-x="right" data-hoffset="-60" data-y="262" data-easing="easeOutBack" data-speed="700" data-start="1150">
                                        
                                        <% if item.link != "" %>
                                        
                                            <a href="<%= item.link %>" class="button_blue big_btn"><%= item.name_button %></a>
                                        
                                        <% else %>
                                            
                                            <a href="#<%= item.name_button %>" class="button_blue big_btn"><%= item.name_button %></a>
                                            
                                        <% end %>
                                    
                                    </div>
                                    
                                <% end %>
        
                            </li>
        
                            <!-- - - - - - - - - - - - - - End of Slide 3 - - - - - - - - - - - - - - - - -->
                            
                        <% end %>
                        
                        <% count = 0 if count > 2 %>
                        
                        <% count = count + 1 %>
                        
                    <% end %>

                </ul>

            </div><!--/ .rev_slider-->

        </div><!--/ .revolution_slider-->
        
        <!-- - - - - - - - - - - - - - End of Revolution slider - - - - - - - - - - - - - - - - -->

    </div><!--/ .animated.transparent-->

