<div class="mobile_header mobile_element">
  
  <div class="row">
    
    <div class="col-xs-5" style="padding-right: 0">
      
      <%= link_to image_tag("/frontend/images/dsvm_logo2.png", class: ""), go_home_path, class: "logo" %>
    
    </div>
    
    <div class="col-xs-7 text-right" style="padding-left: 0">
      
      <a class="top_mobile_button main_menu" href="#">
        
        <i class="icon-menu"></i>        
      
      </a>
      
      <!--Conversation List-->
      <% if user_signed_in? %>
      
        <a class="top_mobile_button menu_chat" href="#">
          
          <i class="icon-comment"></i>
          
          <% if current_user.unread_conversations_count > 0 %>
            
            <span class="badge badge-info"><number><%= current_user.unread_conversations_count %></number></span>
          
          <% end %>
        
        </a>
        
        <div class="mobile_top_menu conversation_list" style="display: none">
  
            <ul class="topbar_mobile">
              
                <% if current_user.is_admin == false %>
                  
                   <% User.get_admins.each do |user| %>
                   
                      <li>
                        
                        <a href="<%= chat_box_path(sender_id: current_user.id, recipient_id: user.id) %>"><b><%= user.first_name.to_s + " " + user.last_name.to_s %></b><br/>
                                
                            <p class="style_chat">Chat với quản trị viên</p>
                            
                        </a>
                      
                      </li>

                    <% end %>
                  
                <% end %>
              
                <% if current_user.involving_conversations.count != 0 %>
                                            
                    <% current_user.involving_conversations.each do |chat| %>
  
                        <li class="<%= "unread_conversation" if current_user.unread_messages({conversation_id: chat.id}).count > 0 %>">
                            
                            <a href="<%= chat_box_path(chat_id: chat.id) %>">
                              
                              <b>
                                
                                <%= chat.get_chatter(current_user).first_name.to_s + " " + chat.get_chatter(current_user).last_name.to_s %>
                                
                                <% if current_user.unread_messages({conversation_id: chat.id}).count > 0 %>
              
                                  (<span class="badge badge-info conversation_<%= chat.id %>_<%= current_user.id %>"><number><%= current_user.unread_messages({conversation_id: chat.id}).count %></number></span>)
                                
                                
                                <% end %>
                              
                              </b><br/>
                                
                              <p class="style_chat"><%= truncate(strip_tags(chat.get_new_message.body), length: 50) %></p>
                              
                              <% if chat.messages.count > 0 %>
                                <p class="style_chat"><%= chat.messages.lastest_message.created_at.strftime("%H:%M %d-%m-%Y") %></p>
                              <% end %>
                            
                            </a>
                        
                        </li>
                        
                    <% end %>
                
                <% else %>
                    
                    <li>
                            
                        <a href="#"><b>Bạn chưa có cuộc trò chuyện nào...</b></a>
                        
                    <li>
                
                <% end %>
            
            </ul>
            
        </div>
        
      <% else %>
        
        <a class="top_mobile_button menu_chat" href="#">
          
            <i class="icon-comment"></i>
        
        </a>
        
        <div class="mobile_top_menu conversation_list" style="display: none">
  
            <ul class="topbar_mobile">
                    
                <li>
                        
                    <a href="<%= chat_box_path %>" class="no_singed"><b>Chat với quản trị viên</b></a>
                    
                <li>
            
            </ul>
            
        </div>
        
      <% end %>
      
      <a class="top_mobile_button menu_cart" href="<%= url_for(controller: "checkout", action: "shopping_cart") %>">
       
        <i class="icon-basket"></i>
        
        <% if @cart.line_items.count_items > 0 %>
         
            <span class="badge badge-info"><number><%= @cart.line_items.count_items %></number></span>
       
        <% end %>
     
      </a>
      
      <div class="mobile_top_menu verytop_menu" style="display: none">
          
          <%= render "module/verytop_menu_bar", prefix: "_mobile" %>
      
      </div>
      
      <div class="customer_care_box">
        <h5>
          <a href="#search" class="care_open_button">
            <i class="icon-phone" style="color: #ff7c00"></i> Chăm sóc khách hàng
          </a>
        </h5>
        
        <div class="mobile_top_menu menu_container" style="display: none">
            <ul class="topbar_mobile">
                
                <%= render "module/customer_care_items" %>

            </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>
  
    
<div class="mobile_footer mobile_element">
  <div class="row">
    <div class="col-xs-12">
      <a class="top_mobile_button menu_search after_search" href="#search">
        <i class="icon-search"></i>
      </a>
      
      <a class="top_mobile_button menu_search_close before_search" href="#close">
        <i class="icon-cancel"></i>
      </a>
      
      <%= render "module/top_search_form" %>

    </div>
  </div>
</div>
    
<script>
    $(document).on("click", ".top_mobile_button.main_menu", function(e){
        var box = $(".verytop_menu");
        box.toggle();
    });    
    $(document).mouseup(function (e)
    {
        var container = $(".verytop_menu");
    
        if (e.target.className != 'icon-menu' && !container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            container.hide();
        }
    });
    
    
    //
    $(document).on("click", ".customer_care_box h5 a", function(e){
        var box = $(".customer_care_box .menu_container");
        box.toggle();
    });    
    $(document).mouseup(function (e)
    {
        var container = $(".customer_care_box .menu_container");
        if (e.target.className != 'care_open_button' && !container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            container.hide();
        }
    });
    
    $(document).on("click", ".mobile_footer .menu_search", function(e){
        $(".mobile_footer .before_search").show();
        // $(".mobile_footer input.before_search").focus();
        $(".mobile_footer .after_search").hide();
    });
    $(document).on("click", ".mobile_footer .menu_search_close", function(e){
        $(".mobile_footer .before_search").hide();
        $(".mobile_footer .after_search").show();
    });
    
    
    $(document).on("click", ".top_mobile_button.menu_chat", function(e){
        var box = $(".conversation_list");
        box.toggle();
    });    
    $(document).mouseup(function (e)
    {
        var container = $(".conversation_list");
        if (e.target.className != 'icon-comment' && !container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            container.hide();
        }
    });
</script>
    
