<section class="section_offset">

    <h3>Tìm kiếm</h3>

    <%= form_tag({controller: "product", action: "search"}, method: "get", class: "type_2") do %>
        
        <%= hidden_field_tag "keyword", params[:keyword] %>
        <%= hidden_field_tag "area_id", params[:area_id] %>

        <div class="table_layout list_view">

            <div class="table_row">

                <!-- - - - - - - - - - - - - - Manufacturer - - - - - - - - - - - - - - - - -->

                <div class="table_cell">

                    <fieldset>

                        <legend>Thương hiệu</legend>

                        <ul class="checkboxes_list">
                            
                            <% @manufacturers.each do |manufacturer| %>

                                <li>
                                    
                                    <input type="checkbox" name="manufacturer_id" value="<%= manufacturer.id %>" id="manufacturer_<%= manufacturer.id %>">
                                    <label for="manufacturer_<%= manufacturer.id %>"><%= manufacturer.name %></label>
    
                                </li>
                            
                            <% end %>

                        </ul>

                    </fieldset>

                </div><!--/ .table_cell -->

                <!-- - - - - - - - - - - - - - End manufacturer - - - - - - - - - - - - - - - - -->

            </div><!--/ .table_row -->

        </div><!--/ .table_layout -->

        <footer class="bottom_box">

            <div class="buttons_row">

                <button type="submit" class="button_blue middle_btn">Tìm kiếm</button>

                <button type="reset" class="button_grey middle_btn filter_reset">Nhập lại</button>

            </div>
            
        </footer>
        
    <% end %>

</section>