                              <nav<%= prefix %>>

                                <ul class="topbar<%= prefix %>">

                                    <li><%= link_to "Giới thiệu", about_us_path %></li>
                                    <li><%= link_to 'Tin tức', {controller: 'blog', action: 'index'} %></li>
                                    <li><%= link_to "Liên hệ", { controller: "information", action: "contact_us" } %></li>
                                    <li><%= link_to "Câu hỏi thường gặp", { controller: "information", action: "faq" } %></li>
                                    <li class="has_submenu<%= prefix %>">

                                        <a href="#">Tài khoản</a>
                                        
                                        <% if current_user.present? %>
                                        
                                            <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->
        
                                            <ul class="theme_menu<%= prefix %> submenu<%= prefix %>">
                                                        
                                                <li><%= link_to "Tài khoản của tôi", my_account_path %></li>
        
                                                <li><%= link_to "Chỉnh sửa thông tin", edit_path %></li>
        
                                                <li><%= link_to "Địa chỉ cho đơn hàng", address_path %></li>
                                                
                                                <li><%= link_to "Sản phẩm yêu thích", wishlist_path %></li>
                                                
                                                <li><%= link_to "Lịch sử đặt hàng", account_order_path %></li>
                                                
                                                <li><%= link_to "Đăng ký nhận tin mới", newsletter_path %></li>
                                                
                                                <li><%= link_to("Đăng xuất", destroy_user_session_path, :method => :delete) %></li>
        
                                            </ul>
        
                                            <!-- - - - - - - - - - - - - - End submenu (level 2) - - - - - - - - - - - - - - - - -->
    
                                        <% else %>
                                            
                                            <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->
        
                                            <ul class="theme_menu<%= prefix %> submenu<%= prefix %>">
                                                        
                                                <li><%= link_to "Đăng nhập", login_path %></li>
                                                
                                                <% if user_signed_in? %>
                                                
                                                    <li><%= link_to "Đăng xuất khỏi Facebook", destroy_user_session_path, :method => :delete %></li>
        
                                                <% else %>
                                                    
                                                    <li><%= link_to "Đăng nhập bằng Facebook", user_omniauth_authorize_path(:facebook) %></li>
                                                
                                                <% end %>
                                                
                                                <li><%= link_to "Đăng ký", register_path %></li>
                                                
                                                <li><%= link_to("Đăng xuất", destroy_user_session_path, :method => :delete) %></li>
        
                                                <li><%= link_to "Quên mật khẩu", forgotten_path %></li>
        
                                            </ul>
        
                                            <!-- - - - - - - - - - - - - - End submenu (level 2) - - - - - - - - - - - - - - - - -->
                                            
                                        <% end %>
                                    
                                    </li>
                                    <li class="has_submenu<%= prefix %>">

                                        <a href="#">Chăm sóc khách hàng</a>
                                        
                                            <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->
        
                                            <ul class="theme_menu<%= prefix %> submenu<%= prefix %>">
                                                
                                                <%= render "module/customer_care_items" %>
        
                                            </ul>
        
                                            <!-- - - - - - - - - - - - - - End submenu (level 2) - - - - - - - - - - - - - - - - -->
                                    
                                    </li>
                                    
                                </ul>

                            </nav<%= prefix %>>