<div class="navbar navbar-inverse">
    <div class="navbar-header">
        
        <b><%= link_to("DACSANVUNGMIEN.NET", root_path, class: "navbar-brand", target: "_blank") %></b>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <p class="navbar-text"><span class="label bg-success-400"><%= t(:online) %></span></p>

        <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown language-switch">
                
                <% if params[:locale] == "vi" %>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/backend/assets/images/flags/vn.png" class="position-left" alt="">
                            <%= t(:vietnamese) %>
                        <span class="caret"></span>
                    </a>
    
                    <ul class="dropdown-menu">
                        <li><a href="<%= url_for( :locale => 'en' ) %>"><img src="/backend/assets/images/flags/gb.png" alt=""> <%= t(:english) %></a></li>
                        <li><a href="<%= url_for( :locale => 'vi' ) %>"><img src="/backend/assets/images/flags/vn.png" alt=""> <%= t(:vietnamese) %></a></li>
                    </ul>
                <% else %>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/backend/assets/images/flags/gb.png" class="position-left" alt="">
                            <%= t(:english) %>
                        <span class="caret"></span>
                    </a>
    
                    <ul class="dropdown-menu">
                        <li><a href="<%= url_for( :locale => 'vi' ) %>"><img src="/backend/assets/images/flags/vn.png" alt=""> <%= t(:vietnamese) %></a></li>
                        <li><a href="<%= url_for( :locale => 'en' ) %>"><img src="/backend/assets/images/flags/gb.png" alt=""> <%= t(:english) %></a></li>
                    </ul>
                <% end %>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/backend/assets/images/logo_admin.png" alt="">
                    <span><%= current_user.first_name.to_s + " " + current_user.last_name.to_s %></span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i> <%= t(:my_profile) %></a></li>
                    <li><a href="#"><i class="icon-cog5"></i> <%= t(:account_settings) %></a></li>
                    <li class="divider"></li>
                    <li><% if user_signed_in? %>
                            <%= link_to('<i class="icon-switch2"></i>'.html_safe + t(:logout).html_safe, destroy_user_session_path, :method => :delete) %>
                        <%end%>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>