<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <!-- Main -->
            <li class="navigation-header"><span></span> <i class="icon-menu"></i></li>
            <li class="<%= "active" if ["admin/main"].include?(params[:controller]) %>"><%= link_to '<i class="icon-home4"></i> <span>'.html_safe + t(:dashboard) +'</span>'.html_safe, { controller: "main", action: "index" } %></li>
            
            <% if can?(:read, Article) or can?(:read, ArticleCategory) %>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-pencil"></i> <span><%= t(:article) %></span></a>
                    <ul>
                        <% if can? :read, Article %>
                            <li class="<%= "active" if ["admin/articles"].include?(params[:controller]) %>">
                                <%= link_to t(:articles), admin_articles_path %>
                            </li>
                        <% end %>
                        <% if can? :read, ArticleCategory %>
                            <li class="<%= "active" if ["admin/article_categories"].include?(params[:controller]) %>">
                                <%= link_to t(:article_categories), admin_article_categories_path %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
            
            <li>
                <a href="#"><i class="glyphicon glyphicon-pencil"></i> <span>Thư viện</span></a>
                <ul>
                    <li class="<%= "active" if ["admin/galleries"].include?(params[:controller]) %>">
                        <%= link_to "Quản lý thư viện ảnh", admin_galleries_path %>
                    </li>
                    <li>
                        <%= link_to "Quản lý thư viện nhạc", "#" %>
                    </li>
                    <li>
                        <%= link_to "Quản lý banner", "#" %>
                    </li>
                </ul>
            </li>
            
            <% if can?(:read, Contact) %>
                <li>
                    <a href="#"><i class="icon-people"></i> <span><%= t(:contact) %></span></a>
                    <ul>
                        <% if can? :read, Contact %>
                            <li class="<%= "active" if ["admin/contacts"].include?(params[:controller]) %>">
                                <%= link_to t(:contact), admin_contacts_path %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
            
            <% if can?(:read, User) or can?(:read, UserGroup) %>
                
                <li>
                    <a href="#"><i class="icon-users"></i> <span><%= t(:user) %></span></a>
                    <ul>
                        <% if can? :read, User %>
                            <li class="<%= "active" if ["admin/users"].include?(params[:controller]) %>">
                                <%= link_to t(:users), admin_users_path %>
                            </li>
                        <% end %>
                        <% if can? :read, UserGroup %>
                            <li class="<%= "active" if ["admin/user_groups"].include?(params[:controller]) %>">
                                <%= link_to t(:user_groups), admin_user_groups_path %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            
            <% end %>
        
            <% if can?(:read, Company) %>
                <li>
                    <a href="#"><i class="icon-home"></i> <span>Quản lý thông tin chùa</span></a>
                    <ul>
                        <% if can? :read, Company %>
                            <li class="<%= "active" if ["admin/companies"].include?(params[:controller]) %>">
                                <%= link_to "Chùa Linh Quang", admin_companies_path %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
            
        </ul>
    </div>
</div>