<div class="navbar navbar-inverse">
    <div class="navbar-header">
        
        <b><%= link_to("CHÙA LINH QUANG - CPANEL", { controller: "main", action: "index" }, class: "navbar-brand") %></b>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <p class="navbar-text"><span class="label bg-success-400"><%= t(:online) %></span></p>

        <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown language-switch">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/backend/assets/images/flags/vn.png" class="position-left" alt=""> Tiếng Việt
                </a>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/backend/assets/images/logo_admin.png" alt="">
                    <span><%= current_user.first_name.to_s + " " + current_user.last_name.to_s %></span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><%= link_to '<i class="icon-user-plus"></i>'.html_safe + t(:my_profile) , admin_companies_path %></li>
                    <li class="divider"></li>
                    <li><% if user_signed_in? %>
                            <%= link_to('<i class="icon-switch2"></i>'.html_safe + t(:logout).html_safe, destroy_user_session_path, :method => :delete) %>
                        <%end%>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>