<% if @user_group.errors.any? %>
    <div id="error_explanation">
        <span class="label label-warning"></span>
        <div class="alert alert-warning alert-styled-left">
            <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            <% @user_group.errors.full_messages.each do |message| %>
                -
                <%= message %><br/>
                    <% end %>
        </div>
    </div>
    <% end %>

        <%= form_for [:admin, @user_group], html: {class: "form-horizontal"} do |f| %>

            <div class="form-group">
                <label class="col-lg-1 control-label"><%= t(:name) %> <span class='text-danger'>*</span></label>
                <div class="col-lg-11">
                    <%= f.text_field :name, class: "form-control" %>
                </div>
            </div>
            <br /><br />
            <h2><%= t(:permission) %></h2>

            <% ["Product",
"Category", 
"Manufacturer", 
"Area", 
"Article_category", 
"Article", 
"Code_status", 
"Slideshow", 
"Order", 
"Delivery_method", 
"Payment_method", 
"Comment", 
"Question", 
"Comment_article", 
"Testimonial", 
"Voucher", 
"Coupon", 
"Customer", 
"User", 
"Company", 
"Setting"].each do |item|  %>
                <fieldset>
                    <legendz class="text-semibold">
                        <h4><strong><%= t(item) %></strong></h4>
                    </legendz>
                    <div class="row">
                        <div class="col-md-2">
                            <label><%= t(:read) %>:</label>
                            <select name="permissions[<%= item %>][read][]" class="select">
                                <option<%= " selected" if @user_group.ability(item,'read').include?('no') %> value="no"><%= t(:_no) %></option> 
                                <option<%= " selected" if @user_group.ability(item,'read').include?('yes') %>  value="yes"><%= t(:_yes) %></option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label><%= t(:create) %>:</label>
                            <select name="permissions[<%= item %>][create][]" class="select">
                  <option<%= " selected" if @user_group.ability(item,'create').include?('no') %> value="no"><%= t(:_no) %></option> 
                  <option<%= " selected" if @user_group.ability(item,'create').include?('yes') %> value="yes"><%= t(:_yes) %></option>
                </select>
                        </div>

                        <div class="col-md-3">
                            <label><%= t(:update) %>:</label>
                            <select name="permissions[<%= item %>][update][]" class="select" multiple>
                                <option<%= " selected" if @user_group.ability(item,'update').include?('no') %>  value="no"><%= t(:_no) %></option> 
                                <option<%= " selected" if @user_group.ability(item,'update').include?('yes') %>  value="yes"><%= t(:_yes) %></option>
                                <option<%= " selected" if @user_group.ability(item,'update').include?('own') %>  value="own"><%= t(:_own) %></option>
                                <option<%= " selected" if @user_group.ability(item,'update').include?('not_own') %>  value="not_own"><%= t(:_not_own) %></option>
                                <option<%= " selected" if @user_group.ability(item,'update').include?('approved') %>  value="approved"><%= t(:_approved) %></option>
                                <option<%= " selected" if @user_group.ability(item,'update').include?('not_approved') %>  value="not_approved"><%= t(:_not_approved) %></option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label><%= t(:delete) %>:</label>
                            <select name="permissions[<%= item %>][delete][]" class="select" multiple>
                                <option<%= " selected" if @user_group.ability(item,'delete').include?('no') %>  value="no"><%= t(:_no) %></option> 
                                <option<%= " selected" if @user_group.ability(item,'delete').include?('yes') %>  value="yes"><%= t(:_yes) %></option>
                                <option<%= " selected" if @user_group.ability(item,'delete').include?('own') %>  value="own"><%= t(:_own) %></option>
                                <option<%= " selected" if @user_group.ability(item,'delete').include?('not_own') %>  value="not_approved"><%= t(:_not_own) %></option>
                                <option<%= " selected" if @user_group.ability(item,'delete').include?('approved') %>  value="approved"><%= t(:_approved) %></option>
                                <option<%= " selected" if @user_group.ability(item,'delete').include?('not_approved') %>  value="not_approved"><%= t(:_not_approved) %></option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label><%= t(:approve) %>:</label>
                            <select name="permissions[<%= item %>][approve][]" class="select" multiple>
                                <option<%= " selected" if @user_group.ability(item,'approve').include?('no') %>  value="no"><%= t(:_no) %></option> 
                                <option<%= " selected" if @user_group.ability(item,'approve').include?('yes') %>  value="yes"><%= t(:_yes) %></option>
                                <option<%= " selected" if @user_group.ability(item,'approve').include?('own') %>  value="own"><%= t(:_own) %></option>
                                <option<%= " selected" if @user_group.ability(item,'approve').include?('not_own') %>  value="not_own"><%= t(:_not_own) %></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <hr><br/>
                <% end %>

                    <div class="text-right">
                        <%= button_tag "#{t(:save)}<i class=\"icon-plus22 position-right\"></i>".html_safe, class: "btn btn-primary"%>
                            <%= link_to "#{t(:cancel)}<i class=\"icon-cross3 position-right\"></i>".html_safe, admin_user_groups_path, class: "btn btn-danger"%>
                    </div>

                    <% end %>