<h3>Giỏ hàng</h3>

<div class="table_wrap">

    <table class="table_type_1 order_review">

        <thead>
            
            <tr>
                
                <th class="product_sku_col">Hình ảnh</th>
                <th class="product_title_col">Tên sản phẩm</th>
                <th class="product_total_col">Số lượng</th>
                <th class="product_qty_col">Giá</th>
                <th class="product_total_col">Thành tiền</th>

            </tr>

        </thead>

        <tbody>

            <% @cart.line_items.each do |item| %>

                <tr>
                    
                    <input type="hidden" name="line_items[id]" value="<%= item.id %>">

                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                        
                    <td class="product_image_col" data-title="Product Image">
                        
                        <% if item.product.get_main_image.present? %>
                        
                            <%= link_to image_tag(item.product.get_main_image.image_url.small_image), { controller: "product", action: "product", product_id: item.product.id }, title: item.product.name %>
                           
                        <% else %>
                        
                            <img src="/frontend/images/small_image.png" alt="">                                                           
                        
                        <% end %>   
                            
                    </td>

                    <!-- - - - - - - - - - - - - - End of product Image - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Product name - - - - - - - - - - - - - - - - -->

                    <td data-title="Product Name">
                        
                        <%= link_to item.product.name, { controller: "product", action: "product", product_id: item.product.id }, class: "product_title" %><br/>

                        <%= link_to item.product.manufacturer.name, { controller: "manufacturer", action: "list"} %>
                    
                    </td>

                    <!-- - - - - - - - - - - - - - End of product name - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

                    <td data-title="Quantity">

                        <div class="min clearfix action_checkout">

                            <input class="display_inline qty_input" type="text" name="quantities[<%= item.id %>]" value="<%= item.quantity %>">

                            <a class="button_dark_grey icon_btn edit_product refresh_checkout">
                                
                                <i class='fa fa-refresh fa-refresh-checkout'></i>
                            
                            </a>

                            <%= link_to "<i class='icon-cancel-2'></i>".html_safe , {controller: "checkout", action: "shopping_cart", do: 'remove_item', line_item_id: item.id }, {class: "button_dark_grey icon_btn remove_product remove_checkout"} %>
                                
                        </div><!--/ .qty.min.clearfix-->

                    </td>

                    <!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->
                    
                    <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->

                    <td class="subtotal" data-title="Price">
                        
                        <%= format_number(item.product.price) %> đ

                    </td>

                    <!-- - - - - - - - - - - - - - End of Price - - - - - - - - - - - - - - - - -->


                    <!-- - - - - - - - - - - - - - Total - - - - - - - - - - - - - - - - -->

                    <td class="total" data-title="Total">

                        <%= format_number(item.total_item) %> đ

                    </td>

                    <!-- - - - - - - - - - - - - - End of total - - - - - - - - - - - - - - - - -->

                </tr>
                
            <% end %>

        </tbody>

        <tfoot>

            <tr>
                
                <td colspan="4" class="bold">Tổng tiền</td>
                <td class="total"><%= format_number(@cart.total_order) %> đ</td>

            </tr>

            <tr>
                
                <td colspan="4" class="bold">Phí vận chuyển</td>
                <td class="total"></td>

            </tr>
            
            <% if !@cart.voucher.nil? %>
            
                <tr>
                    
                    <td colspan="4" class="bold">Voucher</td>
                    <td class="total">- <%= format_number(@cart.voucher.price) %> đ</td>

                </tr>
                
            <% end %>
            
            <% if !@cart.coupon.nil? %>
            
                <tr>
                    
                    <td colspan="4" class="bold">Coupon</td>
                    <td class="total">- <%= format_number(@cart.coupon.price) %> đ</td>

                </tr>
                
            <% end %>

            <tr>
                
                <td colspan="4" class="grandtotal">Tổng tiền đơn hàng</td>
                <td class="grandtotal"><%= format_number(@cart.total_order_sale) %> đ</td>

            </tr>

        </tfoot>

    </table>

</div><!--/ .table_wrap -->

<footer class="bottom_box on_the_sides">
   
    <!-- - - - - - - - - - - - - - Alert box - - - - - - - - - - - - - - - - -->
    
    <% if @voucher_error == true %>
        
        <div class="alert_box error">

            Mã Voucher không hợp lệ. Quý khách hàng vui lòng thử lại!

            <a class="close"></a>

        </div>
   
    <% end %>
    
    <!--/ .alert_box.warning -->
    
    <!-- - - - - - - - - - - - - - Alert box - - - - - - - - - - - - - - - - -->
    
    <% if @voucher_error == false %>
        
        <div class="alert_box success">

            Sử dụng mã Voucher thành công.

            <a class="close"></a>

        </div>
   
    <% end %>
    
    <!--/ .alert_box.success -->
    
    <div id="voucher-heading" class="field_heading" onclick="$('#voucher-content').toggle()">Tôi có mã Voucher</div>
    
    <div id="voucher-content" style="display: none;">
        
        <input type="text" class="voucher_code" value="<%= @cart.voucher_code %>">
        
        <div class="voucher_loading" style="display: none">Processing...</div>
        
        <a href="#code" class="button_blue middle_btn voucher_button">Sử dụng mã Voucher</a>
    
    </div>
    
    <!-- - - - - - - - - - - - - - Alert box - - - - - - - - - - - - - - - - -->
    
    <% if @coupon_error == true %>
        
        <div class="alert_box error">

            Mã Coupon không hợp lệ. Quý khách hàng vui lòng thử lại!

            <a class="close"></a>

        </div>
   
    <% end %>
    
    <!--/ .alert_box.warning -->
    
    <!-- - - - - - - - - - - - - - Alert box - - - - - - - - - - - - - - - - -->
    
    <% if @coupon_error == false %>
        
        <div class="alert_box success">

            Sử dụng mã coupon thành công.

            <a class="close"></a>

        </div>
   
    <% end %>
    
    <!--/ .alert_box.success -->

    <div id="coupon-heading" class="field_heading" onclick="$('#coupon-content').toggle()">Tôi có mã Coupon</div>
    
    <div id="coupon-content" style="display: none;">
        
        <input type="text" class="coupon_code" value="<%= @cart.coupon_code %>">
        
        <div class="coupon_loading" style="display: none">Processing...</div>
        
        <a href="#coupon" class="button_blue middle_btn coupon_button">Sử dụng mã Coupon</a>
    
    </div>

</footer>

<footer class="bottom_box on_the_sides">
    
    <div class="left_side">
        
        <div class="form_el">
            
            <input checked type="checkbox" name="argee" id="argee">
            <label for="argee">Tôi đã đọc và đồng ý các điều khoản <%= link_to "Chính sách bảo mật", { controller: "information", action: "privacy_policy" }, target: "blank" %></label>
            
        </div>

    </div>

    <div class="right_side">
        
        <%= button_tag "Gửi đơn hàng", class: "button_blue middle_btn" %>

    </div>

</footer>