<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->
  
    <div class="wide_layout">
  
        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->
  
        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->
  
        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->
  
        <div class="secondary_page_wrapper">
  
            <div class="container">
  
                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->
  
                <ul class="breadcrumbs">
  
                    <li><%= link_to "Trang chủ", root_path %></li>
                    <li><%= link_to "Giỏ hàng", { controller: "checkout", action: "shopping_cart" } %></li>
                    <li><%= @title_head %></li>
  
                </ul>
  
                <h1 class="page_title"><%= @title_head %></h1>
                
                <% if !current_user.present? %>
                
                    <p class="page_title"><a href="#">Đăng nhập vào tài khoản của bạn.</a></p>
      
                    <!-- - - - - - - - - - - - - - Login - - - - - - - - - - - - - - - - -->
      
                    <section class="section_offset">
      
                        <h3>Đăng nhập</h3>
      
                        <div class="theme_box">
      
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "type_2"}) do |f| %>
                                
                                <ul>
                                    
                                    <li class="row">
                                        
                                        <div class="col-sm-6">
                                            
                                            <label for="email" class="required">Tài khoản: </label>
                                            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Nhập địa chỉ email..." %>
      
                                        </div><!--/ [col] -->
      
                                        <div class="col-sm-6">
                                            
                                            <label for="email" class="required">Mật khẩu</label>
                                            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Nhập mật khẩu..." %>
      
                                        </div><!--/ [col] -->
      
                                    </li><!--/ .row -->
      
                                </ul>
                                
                                <br/>
                            
                                <footer class="on_the_sides">
          
                                    <div class="right_side">
              
                                        <%= button_tag "Đăng nhập", class: "button_blue middle_btn"%>
              
                                    </div>
              
                                </footer>
                                
                            <% end %>
      
                        </div>
      
                    </section><!--/ .section_offset -->
      
                    <!-- - - - - - - - - - - - - - End of login - - - - - - - - - - - - - - - - -->
                    
                <% end %>
                    
                <%= form_for @order, html: {class: "type_2"} do |f| %>
      
                    <% if current_user.present? %>
                        
                        <!-- - - - - - - - - - - - - - Billing information - - - - - - - - - - - - - - - - -->
  
                        <section class="section_offset">
          
                            <h3>Thông tin đặt hàng</h3>
          
                            <div class="theme_box">
                                
                                <ul class="shipping_method">
          
                                <div class="type_2">
                                    
                                    <ul>
                                        
                                        <li class="row">
                                            
                                            <div class="col-sm-6">
                                                
                                                <label for="first_name" class="required">Họ:</label>
                                                
                                                <input type="text" name="customer[first_name]" id="customer_first_name" value="<%= current_user.first_name %>">
          
                                            </div><!--/ [col] -->
          
                                            <div class="col-sm-6">
                                                
                                                <label for="last_name" class="required">Tên:</label>
                                                
                                                <input type="text" name="customer[last_name]" id="customer_last_name" value="<%= current_user.last_name %>">
          
                                            </div><!--/ [col] -->
          
                                        </li><!--/ .row -->
          
                                        <li class="row">	
          
                                            <div class="col-xs-6">
          
                                                <label for="company">Tên công ty:</label>
                                                
                                                <input type="text" name="customer[company]" id="customer_company" value="<%= current_user.company %>">
          
                                            </div><!--/ [col] -->
                                            
                                            <div class="col-xs-6">
          
                                                <label for="address" class="required">Địa chỉ:</label>
                                                
                                                <input type="text" name="customer[address]" id="customer_address" value="<%= current_user.address_1 %>">
          
                                            </div><!--/ [col] -->
          
                                        </li><!-- / .row -->
          
                                        <li class="row">
          
                                            <div class="col-xs-6">
          
                                                <label for="email" class="required">Email:</label>
                                                
                                                <input type="text" name="customer[email]" id="customer_email" value="<%= current_user.email %>">
          
                                            </div><!--/ [col] -->
                                            
                                            <div class="col-xs-6">
          
                                                <label for="zip_code">Mã bưu chính ZIP CODE:</label>
                                                
                                                <input type="text" name="customer[zip_code]" id="customer_zip_code" value="<%= current_user.zip_code %>">
          
                                            </div><!--/ [col] -->
          
                                        </li><!--/ .row -->
          
                                        <li class="row">
          
                                            <div class="col-sm-6">
                                                
                                                <label class="required">Quốc gia</label>
          
                                                <div>
          
                                                    <select name="">
                                                        
                                                        <option value="Vietnam">Việt Nam</option>
          
                                                    </select>
          
                                                </div>
          
                                            </div><!--/ [col] -->
          
                                            <div class="col-sm-6">
          
                                                <label>Tỉnh/Thành phố</label>
          
                                                <div>
          
                                                    <select name="">
          
                                                        <option value="dongnnaiprovine">Đồng Nai</option>
                                                        
                                                        <option value="hochiminhcity">TP.Hồ Chí Minh</option>
                                                        
                                                        <option value="vungtauprovine">Vũng Tàu</option>
          
                                                    </select>
          
                                                </div>
          
                                            </div><!--/ [col] -->
          
                                        </li><!--/ .row -->
          
                                    </ul>
          
                                </div>
          
                            </div>
          
                        </section><!--/ .section_offset -->
          
                        <!-- - - - - - - - - - - - - - End of billing information - - - - - - - - - - - - - - - - -->
        
                        <!-- - - - - - - - - - - - - - Delivery details - - - - - - - - - - - - - - - - -->
          
                        <section class="section_offset">
          
                            <h3>Thông tin giao hàng</h3>
          
                            <div class="theme_box">
                                    
                                <ul>
                                    
                                    <li class="row">
                                        
                                        <div class="col-sm-6">
                                            
                                            <label for="first_name" class="required">Họ:</label>
                                            
                                            <input type="text" name="order_delivery[first_name]" id="order_delivery_first_name" value="<%= current_user.first_name %>">
        
                                        </div><!--/ [col] -->
        
                                        <div class="col-sm-6">
                                            
                                            <label for="last_name" class="required">Tên:</label>
                                            
                                            <input type="text" name="order_delivery[last_name]" id="order_delivery_last_name" value="<%= current_user.last_name %>">
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                    <li class="row">	
        
                                        <div class="col-xs-6">
        
                                            <label for="company">Tên công ty:</label>
                                            
                                            <input type="text" name="order_delivery[company]" id="order_delivery_company" value="<%= current_user.company %>">
        
                                        </div><!--/ [col] -->
                                        
                                        <div class="col-xs-6">
        
                                            <label for="address" class="required">Địa chỉ:</label>
                                            
                                            <input type="text" name="order_delivery[address]" id="order_delivery_address" value="<%= current_user.address_1 %>">
        
                                        </div><!--/ [col] -->
        
                                    </li><!-- / .row -->
        
                                    <li class="row">
        
                                        <div class="col-xs-6">
        
                                            <label for="address" class="required">Thành phố:</label>
                                           
                                            <input type="text" name="order_delivery[city]" id="order_delivery_city" value="<%= current_user.city %>">
        
                                        </div><!--/ [col] -->
                                        
                                        <div class="col-xs-6">
        
                                            <label for="zip_code">Mã bưu chính ZIP/CODE:</label>
                                            
                                            <input type="text" name="order_delivery[zip_code]" id="order_delivery_zip_code" value="<%= current_user.zip_code %>">
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                    <li class="row">
        
                                        <div class="col-sm-6">
                                            
                                            <label class="required">Quốc gia</label>
        
                                            <div>
        
                                                <select name="">
                                                    
                                                    <option value="Vietnam">Việt Nam</option>
        
                                                </select>
        
                                            </div>
        
                                        </div><!--/ [col] -->
        
                                        <div class="col-sm-6">
        
                                            <label>Tỉnh/Thành phố</label>
        
                                            <div>
        
                                                <select name="">
        
                                                    <option value="dongnnaiprovine">Đồng Nai</option>
                                                    
                                                    <option value="hochiminhcity">TP.Hồ Chí Minh</option>
                                                    
                                                    <option value="vungtauprovine">Vũng Tàu</option>
        
                                                </select>
        
                                            </div>
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                </ul>
          
                            </div>
          
                        </section><!--/ .section_offset -->
          
                        <!-- - - - - - - - - - - - - - End of delivery details - - - - - - - - - - - - - - - - -->  
                        
                    <% else %>
                        
                        <!-- - - - - - - - - - - - - - Billing information - - - - - - - - - - - - - - - - -->
          
                        <section class="section_offset">
          
                            <h3>Thông tin đặt hàng</h3>
          
                            <div class="theme_box">
                                    
                                <ul>
                                    
                                    <li class="row">
                                        
                                        <div class="col-sm-6">
                                            
                                            <label for="first_name" class="required">Họ:</label>
                                            
                                            <input type="text" name="customer[first_name]" id="customer_first_name">
        
                                        </div><!--/ [col] -->
        
                                        <div class="col-sm-6">
                                            
                                            <label for="last_name" class="required">Tên:</label>
                                            
                                            <input type="text" name="customer[last_name]" id="customer_last_name">
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                    <li class="row">
                                        
                                        <div class="col-sm-6">
                                            
                                            <label for="email" class="required">Địa chỉ email:</label>
                                            
                                            <input type="text" name="customer[email]" id="customer_email">
        
                                        </div><!--/ [col] -->
        
                                        <div class="col-sm-6">
                                            
                                            <label for="phone" class="required">Số điện thoại:</label>
                                            
                                            <input type="text" name="customer[phone]" id="customer_phone">
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                    <li class="row">	
        
                                        <div class="col-xs-6">
        
                                            <label for="address">Tên công ty:</label>
                                            
                                            <input type="text" name="customer[company]" id="customer_company">
        
                                        </div><!--/ [col] -->
                                        
                                        <div class="col-xs-6">
        
                                            <label for="address" class="required">Địa chỉ:</label>
                                            
                                            <input type="text" name="customer[address]" id="customer_address">
        
                                        </div><!--/ [col] -->
        
                                    </li><!-- / .row -->
        
                                    <li class="row">
        
                                        <div class="col-xs-6">
        
                                            <label for="email" class="required">Email:</label>
                                            
                                            <input type="text" name="customer[email]" id="customer_email">
        
                                        </div><!--/ [col] -->
                                        
                                        <div class="col-xs-6">
        
                                            <label for="zip_code">Mã bưu chính ZIP/CODE:</label>
                                            
                                            <input type="text" name="customer[zip_code]" id="customer_zip_code">
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                    <li class="row">
        
                                        <div class="col-sm-6">
                                            
                                            <label class="required">Quốc gia</label>
        
                                            <div>
        
                                                <select name="">
                                                    
                                                    <option value="Vietnam">Việt Nam</option>
        
                                                </select>
        
                                            </div>
        
                                        </div><!--/ [col] -->
        
                                        <div class="col-sm-6">
        
                                            <label>Tỉnh/Thành phố</label>
        
                                            <div>
        
                                                <select name="">
        
                                                    <option value="dongnnaiprovine">Đồng Nai</option>
                                                    
                                                    <option value="hochiminhcity">TP.Hồ Chí Minh</option>
                                                   
                                                    <option value="vungtauprovine">Vũng Tàu</option>
        
                                                </select>
        
                                            </div>
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                    <li class="row">
        
                                        <div class="col-xs-12">
        
                                            <input type="checkbox" name="" id="account">
                                            
                                            <label for="account">Sử dụng thông tin để tạo tài khoản mới.</label>
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
                                    
                                    <li class="row">
        
                                        <div class="col-sm-6">
        
                                            <label for="password" class="required">Mật khẩu:</label>
                                            
                                            <input type="password" name="" id="password">
        
                                        </div><!--/ [col] -->
        
                                        <div class="col-sm-6">
        
                                            <label for="confirm" class="required">Xác nhận mật khẩu:</label>
                                            
                                            <input type="password" name="" id="confirm">
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
                                    
                                    <li class="row">
        
                                        <div class="col-xs-12">
        
                                            <input type="checkbox" name="" id="newsletter">
                                            
                                            <label for="newsletter">Tôi muốn đăng ký nhận tin mới từ "Đặc sản vùng miền".</label>
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
                                    
                                    <li class="row">
        
                                        <div class="col-xs-12">
        
                                            <input type="checkbox" name="" id="terms">
                                            
                                            <label for="terms">Tôi đã đọc và đồng ý các điều khoản về chính sách bảo mật.</label>
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                    <li class="row">
        
                                        <div class="col-xs-12">
        
                                            <input checked type="checkbox" name="" id="delivery">
                                            
                                            <label for="delivery">Địa chỉ giao hàng và thanh toán giống nhau.</label>
        
                                        </div>
        
                                    </li><!--/ .row -->
        
                                </ul>
          
                            </div>
          
                        </section><!--/ .section_offset -->
          
                        <!-- - - - - - - - - - - - - - End of billing information - - - - - - - - - - - - - - - - -->
          
                        <!-- - - - - - - - - - - - - - Delivery details - - - - - - - - - - - - - - - - -->
          
                        <section class="section_offset">
          
                            <h3>Thông tin giao hàng</h3>
          
                            <div class="theme_box">
                                    
                                <ul>
                                    
                                    <li class="row">
                                        
                                        <div class="col-sm-6">
                                            
                                            <label for="first_name" class="required">Họ:</label>
                                            
                                            <input type="text" name="order_delivery[first_name]" id="order_delivery_first_name">
        
                                        </div><!--/ [col] -->
        
                                        <div class="col-sm-6">
                                            
                                            <label for="last_name" class="required">Tên:</label>
                                           
                                            <input type="text" name="order_delivery[last_name]" id="order_delivery_last_name">
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                    <li class="row">	
        
                                        <div class="col-xs-6">
        
                                            <label for="company">Tên công ty:</label>
                                            
                                            <input type="text" name="order_delivery[company]" id="order_delivery_company">
        
                                        </div><!--/ [col] -->
                                        
                                        <div class="col-xs-6">
        
                                            <label for="address" class="required">Địa chỉ:</label>
                                            
                                            <input type="text" name="order_delivery[address]" id="order_delivery_address">
        
                                        </div><!--/ [col] -->
        
                                    </li><!-- / .row -->
        
                                    <li class="row">
        
                                        <div class="col-xs-6">
        
                                            <label for="city" class="required">Thành phố:</label>
                                            
                                            <input type="text" name="order_delivery[city]" id="order_delivery_city">
        
                                        </div><!--/ [col] -->
                                        
                                        <div class="col-xs-6">
        
                                            <label for="zip_code">Mã bưu chính ZIP/CODE:</label>
                                            
                                            <input type="text" name="order_delivery[zip_code]" id="order_delivery_zip_code">
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                    <li class="row">
        
                                        <div class="col-sm-6">
                                            
                                            <label class="required">Quốc gia</label>
        
                                            <div>
        
                                                <select name="">
                                                    
                                                    <option value="Vietnam">Việt Nam</option>
        
                                                </select>
        
                                            </div>
        
                                        </div><!--/ [col] -->
        
                                        <div class="col-sm-6">
        
                                            <label>Tỉnh/Thành phố</label>
        
                                            <div>
        
                                                <select name="">
        
                                                    <option value="dongnnaiprovine">Đồng Nai</option>
                                                    
                                                    <option value="hochiminhcity">TP.Hồ Chí Minh</option>
                                                    
                                                    <option value="vungtauprovine">Vũng Tàu</option>
        
                                                </select>
        
                                            </div>
        
                                        </div><!--/ [col] -->
        
                                    </li><!--/ .row -->
        
                                </ul>
          
                            </div>
          
                        </section><!--/ .section_offset -->
          
                        <!-- - - - - - - - - - - - - - End of delivery details - - - - - - - - - - - - - - - - -->
      
                    <% end %>
                    
                    <!-- - - - - - - - - - - - - - Shipping method - - - - - - - - - - - - - - - - -->
      
                    <section class="section_offset">
      
                        <h3>Hình thức vận chuyển</h3>
      
                        <div class="theme_box">
      
                            <p class="page_title">Chọn hình thức vận chuyển cho đơn hàng này.</p>
      
                            <ul class="shipping_method">
      
                                <li>
      
                                    <p class="subcaption bold">Giao hàng trực tiếp</p>
      
                                    <input checked type="radio" name="radio_3" id="radio_button_4">
                                    
                                    <label for="radio_button_4">Phí giao hàng 50,000 đ</label>
      
                                </li>
      
                            </ul>
      
                        </div>
      
                    </section>
      
      
                    <!-- - - - - - - - - - - - - - End of shipping method - - - - - - - - - - - - - - - - -->
      
                    <!-- - - - - - - - - - - - - - Payment information - - - - - - - - - - - - - - - - -->
      
                    <section class="section_offset">
      
                        <h3>Hình thức thanh toán</h3>
      
                        <div class="theme_box">
      
                            <p class="subcaption bold">Hình thức thanh toán cho đơn hàng</p>
      
                            <ul class="simple_vertical_list">
      
                                <li>
      
                                    <input type="radio" checked name="radio_4" id="radio_button_5">
                                    <label for="radio_button_5">Tiền mặt</label>
      
                                </li>
                                
                                <br/>
                                
                                <li>
      
                                    <label for="message">Thêm lời nhắn cho đơn hàng</label>
                                    <textarea id="order_delivery_message" name="order_delivery[message]" title="Message" rows="3"></textarea>
      
                                </li>
      
                            </ul>
      
                        </div>
      
                    </section>
      
      
                    <!-- - - - - - - - - - - - - - End of payment information - - - - - - - - - - - - - - - - -->
      
                    <!-- - - - - - - - - - - - - - Order review - - - - - - - - - - - - - - - - -->
      
                    <section class="section_offset">
      
                        <h3>Giỏ hàng</h3>
      
                        <div class="table_wrap">
      
                            <table class="table_type_1 order_review">
      
                                <thead>
                                    
                                    <tr>
                                        
                                        <th class="product_sku_col">Hình ảnh</th>
                                        <th class="product_title_col">Tên sản phẩm</th>
                                        <th class="product_total_col">Số lượng</th>
                                        <th class="product_qty_col">Giá</th>
                                        <th class="product_total_col">Thành tiền</th>
      
                                    </tr>
      
                                </thead>
      
                                <tbody>
      
                                    <% @cart.line_items.each do |item| %>
              
                                        <tr>
                                            
                                            <input type="hidden" name="line_items[id]" value="<%= item.id %>">
          
                                            <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                                                
                                            <td class="product_image_col" data-title="Product Image">
                                                
                                                <%= link_to image_tag(item.product.get_main_image.image_url.small_image), { controller: "product", action: "product", product_id: item.product.id }, title: item.product.name %>
          
                                            </td>
          
                                            <!-- - - - - - - - - - - - - - End of product Image - - - - - - - - - - - - - - - - -->
          
                                            <!-- - - - - - - - - - - - - - Product name - - - - - - - - - - - - - - - - -->
          
                                            <td data-title="Product Name">
                                                
                                                <%= link_to item.product.name, { controller: "product", action: "product", product_id: item.product.id }, class: "product_title" %><br/>
          
                                                <%= link_to item.product.manufacturer.name, { controller: "manufacturer", action: "list"} %>
                                            
                                            </td>
          
                                            <!-- - - - - - - - - - - - - - End of product name - - - - - - - - - - - - - - - - -->
          
                                            <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->
          
                                            <td data-title="Quantity">
          
                                                <div class="min clearfix action_checkout">
          
                                                    <input class="display_inline qty_input" type="text" name="quantities[<%= item.id %>]" value="<%= item.quantity %>">
          
                                                    <a class="button_dark_grey icon_btn edit_product refresh_checkout">
                                                        
                                                        <i class='fa fa-refresh fa-refresh-checkout'></i>
                                                    
                                                    </a>
                  
                                                    <%= link_to "<i class='icon-cancel-2'></i>".html_safe , {controller: "checkout", action: "shopping_cart", do: 'remove_item', line_item_id: item.id }, {class: "button_dark_grey icon_btn remove_product remove_checkout"} %>
                                                        
                                                </div><!--/ .qty.min.clearfix-->
          
                                            </td>
          
                                            <!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->
                                            
                                            <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->
          
                                            <td class="subtotal" data-title="Price">
                                                
                                                <%= format_number(item.product.price) %> đ
          
                                            </td>
          
                                            <!-- - - - - - - - - - - - - - End of Price - - - - - - - - - - - - - - - - -->
          
          
                                            <!-- - - - - - - - - - - - - - Total - - - - - - - - - - - - - - - - -->
          
                                            <td class="total" data-title="Total">
          
                                                <%= format_number(item.total_item) %> đ
          
                                            </td>
          
                                            <!-- - - - - - - - - - - - - - End of total - - - - - - - - - - - - - - - - -->
          
                                        </tr>
                                        
                                    <% end %>
      
                                </tbody>
      
                                <tfoot>
      
                                    <tr>
                                        
                                        <td colspan="4" class="bold">Tổng tiền</td>
                                        <td class="total"><%= format_number(@cart.total_order) %> đ</td>
      
                                    </tr>
      
                                    <tr>
                                        
                                        <td colspan="4" class="bold">Phí vận chuyển</td>
                                        <td class="total">0,0 đ</td>
      
                                    </tr>
      
                                    <tr>
                                        
                                        <td colspan="4" class="grandtotal">Tổng tiền đơn hàng</td>
                                        <td class="grandtotal"><%= format_number(@cart.total_order) %> đ</td>
      
                                    </tr>
      
                                </tfoot>
      
                            </table>
      
                        </div><!--/ .table_wrap -->
                        
                        <footer class="bottom_box on_the_sides">
      
                            <div id="coupon-heading" class="field_heading">Tôi có mã Coupon</div>
                            
                            <div id="coupon-content" style="display: block;">
                                
                                <input type="text" name="" value="">
                                
                                <a href="#" class="button_blue middle_btn">Sử dụng mã Coupon</a>
                            
                            </div>
                            
                            <div id="coupon-heading" class="field_heading">Tôi có mã Voucher</div>
                            
                            <div id="coupon-content" style="display: block;">
                                
                                <input type="text" name="" value="">
                                
                                <a href="#" class="button_blue middle_btn">Sử dụng mã Voucher</a>
                            
                            </div>
      
                        </footer>
      
                        <footer class="bottom_box on_the_sides">
                            
                            <div class="left_side">
                                
                                <label>Tôi đã đọc và đồng ý các điều khoản
                                
                                    <a class="agree" href="" alt="Terms &amp; Conditions">
                                        
                                        <b>Chính sách bảo mật</b>
                                        
                                    </a>
                                    
                                </label>
                                
                                <input checked type="checkbox" name="" class="agree">
      
                            </div>
      
                            <div class="right_side">
                                
                                <%= f.submit "Gửi đơn hàng", class: "button_blue middle_btn" %>
      
                            </div>
      
                        </footer>
      
      
                    </section>
      
                    <!-- - - - - - - - - - - - - - End of order review - - - - - - - - - - - - - - - - -->
                
                <% end %>
  
            </div><!--/ .container-->
  
        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->
  
        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->
  
        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->
  
    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->
  
    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->
  
    <%= render 'module/social_feeds' %>
  
    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
  
    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
  
</body>