<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs"> 

                    <li><%= link_to "Trang chủ", root_path %></li>
                    <li><%= link_to "Giỏ hàng", { controller: "checkout", action: "shopping_cart" } %></li>
                    <li><%= link_to "Đặt hàng", { controller: "checkout", action: "checkout" } %></li>
                    <li><%= @title_head %></li>

                </ul>

                <div class="row">

                    <main class="col-md-12 col-sm-8">
                        
                        <h1>Đơn hàng của bạn đã được đặt hàng!</h1>
                        
                        <div class="bordered_content box">
                          
                          <div class="padded">
                            
                            <p>Đơn hàng của bạn đã được gửi đi thành công!</p>
                            
                            <% if current_user.present? %>
                                
                                <p>Bạn có thể xem lại lịch sử đặt hàng trong <%= link_to "trang tài khoản", { controller: "account", action: "my_account" } %> và chọn vào đây để xem <%= link_to "lịch sử đặt hàng", { controller: "account", action: "order" }  %>.</p>
                            
                            <% end %>
                            
                            <p>Nếu có bất kỳ câu hỏi nào hãy để lại lời nhắn tại <%= link_to "trang liên hệ.", { controller: "information", action: "contact_us" } %></p><p>Cảm ơn bạn đã đặt hàng tại trang chúng tôi!</p>
                          
                          </div>
                          
                          <div class="bottom_buttons">
                            
                            <div class="text-right"><%= link_to "Quay về trang chủ", root_path, class: "btn btn-primary" %></div>
                          
                          </div>
                          
                        </div>

                    </main>

                </div><!--/ .row -->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer'%>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery-ui.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>