<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @banner.image_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @banner.title %>
</p>

<p>
  <strong>Banner type:</strong>
  <%= @banner.banner_type %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
