<% if @article.errors.any? %>
    <div id="error_explanation">
        <span class="label label-warning"></span>
        <div class="alert alert-warning alert-styled-left">
            <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            <% @article.errors.full_messages.each do |message| %>
                - <%= message %><br/>
            <% end %>
        </div>
    </div>
<% end %>

<%= form_for [:admin, @article], html: {class: "form-horizontal", id: "validate_checking"} do |f| %>
    
    <div class="tabbable tab-content-bordered">
        <ul class="nav nav-tabs bg-primary">
            <li class="active"><a href="#control-tab1" data-toggle="tab"><%= t(:infomations) %></a></li>
            <li><a href="#control-tab2" data-toggle="tab"><%= t(:content) %> </a></li>
            <li><a href="#control-tab3" data-toggle="tab"><%= t(:picture) %> </a></li>
            <li><a href="#control-tab4" data-toggle="tab"><%= t(:orther_setting) %> </a></li>
            <li><a href="#control-tab5" data-toggle="tab"><%= t(:related_products) %> </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane has-padding active" id="control-tab1">
                <div class="form-group">
                    <label class="col-lg-2 control-label" ><%= t(:title) %> <span class='text-danger'>*</span></label>
                    <div class="col-lg-7">
                        <%= f.text_field :title, class: "form-control required" %>
                    </div>
                    <label class="col-lg-1 control-label" ><%= t(:show) %></label>
                    <div class="col-lg-2">
                        <div class="row-fluid">
                            <div class="checkbox">
                                <%= check_box 'article', 'is_show', {}, 'true', 'false' %>
                                <label for="article_is_show"><%= t(:show_article) %></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group field">
                    <label class="col-lg-2 control-label" ><%= t(:category) %> <span class='text-danger'>*</span></label>
                    <div class="col-lg-10">
                        <select name="category_ids[]" id="article_category_ids" class="select-item-color required" data-placeholder="<%= t(:placeholder_categories) %>..." multiple="multiple">
                            <% @article_categories.each do |item| %>
                                <option <%= "selected" if @article.article_categories.include?(item) %> value="<%= item.id %>"><%= item.name %></option>
                            <% end %>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-lg-2 control-label" ><%= t(:keywords) %> </label>
                    <div class="col-lg-10">
                        <%= f.text_field :tags, class: "form-control" %>
                    </div>
                </div>
                    
                
                <div class="form-group">
                    <label class="col-lg-2 control-label" ><%= t(:meta_keywords) %> </label>
                    <div class="col-lg-10">
                        <%= f.text_field :meta_keywords, class: "form-control" %>
                    </div>
                </div>
                    
                <div class="form-group">
                    <label class="col-lg-2 control-label" ><%= t(:meta_description) %> </label>
                    <div class="col-lg-10">
                        <%= f.text_area :meta_description, rows: "5", cols: "5", class: "form-control" %>
                    </div>
                </div>
                    
            </div>
                
            <div class="tab-pane has-padding" id="control-tab2">
                <div class="form-group">
                    <label class="col-lg-2 control-label" ><%= t(:content) %> <span class='text-danger'>*</span></label>
                </div>
                <div class="form-group">
                    <div class="upload_tools text-right" style="margin-bottom: 5px; margin-top: -30px;">											
						<span class="uploading" style="display: none;font-size: 17px;">
							Đang tải hình ảnh/video...<i class="icon-spinner2 spinner" style="font-size: 40px; display: inline-block; margin-right: 10px;"></i>
						</span>
						<a id="editor_upload_button" class="btn btn-primary btn-xs upload-image-video">Tải hình ảnh</a>
						<a data-toggle="modal" data-target="#modal_upload_video" href="#" class="btn btn-primary btn-xs upload-video" >Tải video</a>
					</div>
                    <%= f.text_area :content, rows: "4", cols: "4", id: "editor-full", class: "required" %>
                </div>
            </div>
            
            <div class="tab-pane has-padding" id="control-tab3">
                <div class="form-group">
                    <label class="col-lg-2 control-label" ><%= t(:picture) %> <span class='text-danger'>*</span></label>
                    <div class="col-lg-10">
                        <div class="uploader bg-teal-400">
                            <%= f.file_field :image_url, class: "file-styled required", accept: ".png, .jpg, .jpeg, .gif" %>
                            <span class="action" style="-webkit-user-select: none;"><i class="icon-googleplus5"></i></span>
                        </div>
                        <span class="help-block">Accepted formats: gif, png, jpg.</span>
                        <%= image_tag(@article.image_url.medium_image, size: "202x128", class: "img-rouded") %>
                    </div>
                </div>

            </div>
            
            <div class="tab-pane has-padding" id="control-tab4">
                <div class="form-group">
                    <label class="col-lg-2 control-label" ><%= t(:page_layout) %> </label>
                    <div class="col-lg-10">
                        <select class="select_article" name="article[page_layout]">
                            <option <%= "selected" if @article.page_layout == "normal" %> value="normal"><%= t(:normal) %></option>
                            <option <%= "selected" if @article.page_layout == "full_width" %> value="full_width"><%= t(:full_width) %></option>
                        </select>
                    </div>
                </div>
				
				<div class="form-group">
					<div class="related_areas">
                        <label class="col-lg-2 control-label" ><%= t(:display_area) %></label>
                        <div class="col-lg-10">
                            <select name="area_ids[]" class="select-item-color" data-placeholder="<%= t(:related_areas) %>....." multiple="multiple">
                                <% @areas.each do |item| %>
                                    <optgroup value="<%= item.id %>" label="<%= item.name %>">
                                        
                                        <% item.children.each do |child| %>
                                            <option <%= "selected" if @article.areas.include?(child) %> value="<%= child.id %>"><%= child.name %></option>
                                        <% end %>
                                    
                                    </optgroup>
                                <% end %>
                            </select>
                        </div>
                    </div>
				</div>
                
                <div class="form-group">
                    <label class="col-lg-2 control-label" ><%= t(:code_status) %></label>
                    <div class="col-lg-10">
                        <%= f.collection_select(:code_status_id, CodeStatus.get_all_statuses, :id, :title, {}, {class: "code_status"}) %>
                    </div>
                </div>

            </div>
                
            <div class="tab-pane has-padding" id="control-tab5">
                <div class="form-group">
                    <div class="col-lg-10">
						<select name="" class="select-item-color list_related_products" data-placeholder="<%= t(:related_products) %>....." multiple="multiple">
							<% @products.get_active_products.each do |item| %>
								<option value="<%= item.id %>"><%= item.name %></option>
							<% end %>
						</select>
					</div>
                    <div class="col-lg-2">
                        <%= link_to "#{t(:add_to_list)}".html_safe, "#add_to_list", class: "btn btn-info add_related_products_button", article_id: @article.id %>
                    </div>
                </div>
				
                <% @products = @article.products %>
                <div class="table_related_products"><%= render "table_related_products" %></div>
				
				
            </div>
        </div>
        <br />
        <div class="text-right">
            <%= button_tag "#{t(:save)} <i class=\"icon-plus22 position-right\"></i>".html_safe, class: "btn btn-primary"%>
            <%= link_to "#{t(:cancel)} <i class=\"icon-cross3 position-right\"></i>".html_safe, admin_articles_path, class: "btn btn-danger"%>
        </div>
    </div>
    
<% end %>
<%= render "/admin/main/editor_upload" %>