                <table class="table">
					<thead>
						<tr class="bg-teal-800">
							<th></th>
							<th><%= t(:list_image) %></th>
							<th><%= t(:list_product_name) %></th>
							<th><%= t(:list_price) %></th>
							<th class="text-nowrap"><%= t(:list_areas) %></th>
							<th><%= t(:list_status) %></th>
							<th><%= t(:created_at) %></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
							<% @products.each do |item| %>
								<tr>
									<td>
										<input checked name="product_ids[]" value="<%= item.id %>" type="checkbox" class="checkbox-related-productsz">
									</td>
									<td>
										<% if item.get_main_image.present? %>
											<% if can? :update, item %>
												<%= link_to image_tag(item.get_main_image.image_url.small_image), edit_admin_product_path(item), title: item.name, target: "_blank" %>
											<% else %>
												<%= image_tag item.get_main_image.image_url.small_image, title: item.name %>
											<% end %>
										<% else %>
											<% if can? :update, item %>
												<%= link_to image_tag("/frontend/images/small_image.png"), edit_admin_product_path(item), title: item.name, target: "_blank" %>
											<% else %>
												<%= image_tag "/frontend/images/small_image.png", title: item.name %>
											<% end %>
										<% end %>
									</td>
									<td>
										<% if can? :update, item %>
											<strong><%= link_to (truncate(strip_tags(item.name), length: 20)), edit_admin_product_path(item), title: item.name, target: "_blank" %></strong>
										<% else %>
											<strong><%= raw truncate(strip_tags(item.name), length: 20) %></strong>
										<% end %>
										<br/><%= item.code %>
										<br/><i class="icon-pin-alt"></i>  <%= item.manufacturer.name if !item.manufacturer.nil? %>
										<br/><i class="icon-stack"></i>  <%= item.categories.map(&:name).join("<br/>").html_safe %>
									</td>
									<td><%= format_number(item.price) %><br/>(<%= format_number(item.quantity) %> <%= item.unit %>)</td>
	
									<td>
										<%= item.areas.map(&:name).join("<br/>").html_safe %>
									</td>
									<td>
										<% if !item.status.nil? %>
											<% item.split_statues.each do |status| %>
												<span class="label bg-orange-600"><%= status %></span><br/>
											<% end %>
										<% end %>
										<% if item.is_show == true %><span class="label bg-blue"><%= t(:showing) %></span><br/> <% end %>
										<% if item.approved == true %>
											<span class="label bg-success"><%= t(:approved) %></span>
										<% else %>
											<span class="label bg-danger"><%= t(:not_yet_approved) %></span>
										<% end %>
									</td>
									<td>
										<%= item.created_at.strftime("%d/%m/%Y") %>
										<% if !item.user_id.nil? %>
											<br/><i class="icon-user"></i>  <span class="text-success"><b><%= item.user.first_name.to_s + " " + item.user.last_name.to_s %></b></span>
										<% end %>
									</td>
									<td>
										<span class="btn btn-marning bg-danger remove_button">X</span>
									</td>
								</tr>
							<% end %>
					</tbody>
				</table>