<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @company.image_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Head office address:</strong>
  <%= @company.head_office_address %>
</p>

<p>
  <strong>Certificate no:</strong>
  <%= @company.certificate_no %>
</p>

<p>
  <strong>Date of issue:</strong>
  <%= @company.date_of_issue %>
</p>

<p>
  <strong>Sales office address:</strong>
  <%= @company.sales_office_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Hotline:</strong>
  <%= @company.hotline %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
