<!--<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @customer.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @customer.zip_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<p>
  <strong>Province:</strong>
  <%= @customer.province %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
-->

<p id="notice"><%= notice %></p>
<!-- Main navbar -->
<%= render "/admin/main/main_navbar" %>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                <%= render "/admin/main/user_menu" %>
                <!-- /user menu -->

                <!-- Main navigation -->
                <%= render "/admin/main/main_menu" %>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">
        
            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><span class="text-semibold"><%= t(:customer_info) %></span></h4>
                    </div>
                </div>
            
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><%= link_to '<i class="icon-home2 position-left"></i>'.html_safe + t(:home), { controller: "main", action: "index" } %></li>
                        <li><a href="<%= admin_customers_path %>"><%= t(:customer) %></a></li>
                        <li><a href="<%= admin_customers_path %>"><%= t(:customers) %></a></li>
                        <li class="active"><%= t(:customer_detail) %></li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->
            
            <!-- Content area -->
            <div class="content">
            
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title"><B><%= t(:customer_detail) %></B></h5>
                    </div>
                    <div class="panel-body col-md-12">
                            <!--<h6><b><%= t(:customer_info) %></b></h6>-->
                            <p>Họ tên khách hàng: <%= @customer.name %></p>
                            <p>Địa chỉ: <%= @customer.display_address %></p>
                            <p>Điện thoại: <%= @customer.phone %></p>
                            <p>E-mail: <%= @customer.email %></p>
                            <p>Công ty: <%= @customer.company %></p>
                    </div>
                    
                    <table class="table datatable-basic table-bordered table-striped table-hover">
                        
                    </table>
                </div>
                <%= link_to '<i class="icon-backward2 position-left"></i>'.html_safe + t(:back), customers_path, class: "btn btn-primary" %>
                <!-- /basic datatable -->
            
                <!-- Footer -->
                <%= render '/admin/main/footer' %>
                <!-- /footer -->
            
            </div>
            <!-- /content area -->
        
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>
<%= javascript_include_tag '/backend/assets/javascripts/datatables_categories.js' %>

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/core/libraries/jquery_ui/datepicker.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/daterangepicker.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/pickadate/picker.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/pickadate/picker.date.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/pickadate/picker.time.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/pickadate/legacy.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/anytime.min.js' %>
<%= javascript_include_tag '/backend/assets/js/core/libraries/jquery_ui/effects.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/notifications/jgrowl.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/ui/moment/moment.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>