<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout page_with_main_nav">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <div class="row">

                    <aside class="col-md-3 has_mega_menu">

                        <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
                        
                        <%= render "module/categories" %>
                        
                        <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
                    
                    </aside><!--/ [col]-->

                    <main class="col-md-9">
                        
                        <%= render 'module/main_nav_right' %>

                        <!--render 'todays_deals'-->
                        
                        <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                        <ul class="breadcrumbs">
        
                            <li><a href="<%= root_path %>">Trang chủ</a></li>
                            <li><%= @title_head %></li>
        
                        </ul>
        
                        <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                        <section class="section_offset">

                            <h1><%= @title_head %></h1>

                        </section>

                        <!-- - - - - - - - - - - - - - Products - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <header class="top_box on_the_sides">

                                <div class="left_side clearfix v_centered">
                                    
                                    <%= form_tag({controller: "branch", action: "list"}, method: "get") do %>
                                  
                                        <!-- - - - - - - - - - - - - - Sort by - - - - - - - - - - - - - - - - -->
    
                                        <div class="v_centered">
                                            
                                            <span>Chọn khu vực:</span>
    
                                            <div class="sort_select">
                                                
                                                <select name="sort_group">
                                                        
                                                    <option value="">Tất cả</option>
                                                    <option <%= "selected" if params[:sort_group] == "name_asc" %> value="name_asc">Tên (A - Z)</option>
                                                    <option <%= "selected" if params[:sort_group] == "name_desc" %> value="name_desc">Tên (Z - A)</option>
                                                    <option <%= "selected" if params[:sort_group] == "price_desc" %> value="price_desc">Giá (Cao - Thấp)</option>
                                                    <option <%= "selected" if params[:sort_group] == "price_asc" %> value="price_asc">Giá (Thấp - Cao)</option>
    
                                                </select>
    
                                            </div>
    
                                        </div>
    
                                        <!-- - - - - - - - - - - - - - End of sort by - - - - - - - - - - - - - - - - -->
                                    
                                    <% end %>

                                </div>

                            </header>

                        <div class="table_layout">

                            <div class="table_row">
                                
                                <% @branchs.each_with_index do |branch, index| %>

                                    <div class="table_cell">
    
                                        <!-- - - - - - - - - - - - - - Manufacturer - - - - - - - - - - - - - - - - -->
    
                                        <figure class="manufacturer">
                                            
                                            <%= link_to image_tag(branch.image_url.small_image), "", class: "thumbnail" %>
    
                                            <figcaption>
    
                                                <%= link_to branch.name, "", class: "thumbnail" %>
    
                                            </figcaption>
                                            
                                            <figcaption>
    
                                                Khu vực: <%= link_to branch.area.name, "" %>
    
                                            </figcaption>
    
                                        </figure>
    
                                        <!-- - - - - - - - - - - - - - End of manufacturer - - - - - - - - - - - - - - - - -->
    
                                    </div>
                                    
                                <% if index%4 == 3 %>
                                    
                                    </div><!--/ .table_row -->

                                    <div class="table_row">
                                     
                                <% end %>
                                
                            <% end %>

                        </div><!--/ .table_layout -->
                        
                        <footer class="bottom_box on_the_sides">

                                <div class="left_side">

                                    <p><%= page_entries_info @branchs %> chi nhánh.</p>
    
                                </div>

                                <div class="right_side">
                                
                                    <%= will_paginate @branchs, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
    
                                </div>

                            </footer>

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag "/frontend/js/jquery-2.1.1.min.js" %>
    <%= javascript_include_tag "/frontend/js/queryloader2.min.js" %>
    <%= javascript_include_tag "/frontend/js/jquery.appear.js" %>
    <%= javascript_include_tag "/frontend/js/owlcarousel/owl.carousel.min.js" %>
    <%= javascript_include_tag "/frontend/twitter/jquery.tweet.min.js" %>
    <%= javascript_include_tag "/frontend/js/arcticmodal/jquery.arcticmodal.js" %>
    <%= javascript_include_tag "/frontend/js/colorpicker/colorpicker.js" %>
    <%= javascript_include_tag "/frontend/js/retina.min.js" %>
    <%= javascript_include_tag "http://s7.addthis.com/js/300/addthis_widget.js" %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag "/frontend/js/theme.plugins.js" %>
    <%= javascript_include_tag "/frontend/js/theme.core.js" %>
    
</body>