<section class="section_offset">

    <h3>Thông tin</h3>

    <ul class="theme_menu">

        <li><%= link_to 'Giới thiệu', {controller: 'information', action: 'about_us'} %></li>
        <li><%= link_to 'Thông tin giao hàng', {controller: 'information', action: 'delivery'} %></li>
        <li><%= link_to 'Chính sách riêng tư', {controller: 'information', action: 'privacy_policy'} %></li>
        <li><%= link_to 'Điều khoản & Điều kiện', {controller: 'information', action: 'terms_conditions'} %></li>
        <li><%= link_to 'Liên hệ', {controller: 'information', action: 'contact_us'} %></li>
        <li><%= link_to 'FAQ', {controller: 'information', action: 'faq'} %></li>
        <li><%= link_to 'Site Map', {controller: 'information', action: 'sitemap'} %></li>

    </ul>

</section><!--/ .section_offset -->

<div class="section_offset">

    <a href="#" class="banner">
        
        <img src="/frontend/images/banner_img_11.png" alt="">

    </a>

</div>