<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout page_with_main_nav">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                
                <div class="row">

                    <aside class="col-md-3 col-sm-4 menu-categories-contact">

                        <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                        <%= render "module/categories" %>

                        <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <a href="#" class="banner">

                                <img src="/frontend/images/banner_img_10.png" alt="">

                            </a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->

                        <%= render 'module/newsletter' %>

                        <!-- - - - - - - - - - - - - - End of Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->

                    </aside><!--/ [col]-->

                    <main class="col-md-9 col-sm-8 content-contact">
                        
                        <%= render 'module/main_nav_right' %>
                        
                        <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                        <ul class="breadcrumbs">
        
                            <li><%= link_to "Trang chủ", root_path %></li>
                            <li><%= @title_head %></li>
        
                        </ul>

                        <h1><%= @title_head %></h1>

                        <section class="section_offset">
                            
                            <div class="theme_box">

                                <!-- - - - - - - - - - - - - - Contact form - - - - - - - - - - - - - - - - -->

                                <%= form_for @contact, html: {class: "type_2"} do |f| %>

                                    <ul>
                                    
                                        <li class="row">

                                            <div class="col-sm-6">
                                            
                                                <%= f.label "Họ và Tên", class: "required" %>
                                                <%= f.text_field :name, class: "required" %>

                                            </div><!--/ [col]-->

                                            <div class="col-sm-6">

                                                <%= f.label "Địa chỉ email", class: "required" %>
                                                <%= f.email_field :email, class: "required email" %>

                                            </div><!--/ [col]-->

                                        </li><!--/ .row -->

                                        <li class="row">

                                            <div class="col-xs-12">

                                                <%= f.label "Lời nhắn", class: "required message-label-contact" %>
                                                <%= f.text_area :message, rows: '10', class: "required" %>

                                            </div><!--/ [col]-->

                                        </li><!--/ .row -->
                                        
                                        <%= f.submit 'Gửi lời nhắn', class: 'button_dark_grey middle_btn alignright mrg-button-contact' %>

                                    </ul>
                                    
                                    <%= recaptcha_tags %>

                                <% end %><!--/ .contactform -->

                                <!-- - - - - - - - - - - - - - End of contact form - - - - - - - - - - - - - - - - -->
                            
                            </div><!--/ .theme_box -->

                        </section>

                        <section class="section_offset">

                            <h3>Thông tin liên hệ</h3>

                            <div class="theme_box">

                                <div class="row">

                                    <div class="col-sm-5">

                                        <div class="proportional_frame">

                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3024.238131852431!2d-74.006059!3d40.712773999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258fda88cefb3%3A0x7f1e88758d210007!2z0J3RjNGOLdC50L7RgNC60YHQutC40Lkg0KHQuNGC0Lgt0YXQvtC70Ls!5e0!3m2!1sru!2sua!4v1415946524959" style="border:0"></iframe>

                                        </div>

                                    </div><!--/ [col]-->

                                    <div class="col-sm-7">
                                        
                                        <% if !@company.get_company.nil? %>

                                            <p class="form_caption"><%= @company.get_company.name %></p>
    
                                            <ul class="c_info_list">
    
                                                <li class="c_info_location">Văn phòng: <%= @company.get_company.head_office_address + ", " +  @company.get_company.area.name  %></li>
                                                <li class="c_info_phone">ĐT: <%= @company.get_company.phone %></li>
                                                <li class="c_info_phone">Hotline: <%= @company.get_company.hotline %></li>
                                                <li class="c_info_mail"><a href="mailto:<%= @company.get_company.email %>"><%= @company.get_company.email %></a></li>
                                                <li class="c_info_location">Văn phòng giao dịch: <%= @company.get_company.sales_office_address + ", " +  @company.get_company.area.name  %></li>
                                                
                                            </ul>
                                            
                                        <% end %>

                                    </div><!--/ [col]-->

                                </div><!--/ .row -->

                            </div><!--/ .theme_box -->

                        </section>

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    <script>
        
        $(document).ready(function(){
            $("#new_contact").validate();
        });
        $(document).ready(function(){
            $("#new_newsletter").validate();
        });

    </script>
</body>