<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
                    <li><%= @title_head %></li>

                </ul>

                <div class="row">

                    <aside class="col-md-3 col-sm-4">

                        <!-- - - - - - - - - - - - - - Information - - - - - - - - - - - - - - - - -->

                        <%= render 'module/information' %>

                        <!-- - - - - - - - - - - - - - End of information - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Testimonials - - - - - - - - - - - - - - - - -->

                        <%= render 'module/restimonials' %>

                        <!-- - - - - - - - - - - - - - End of testimonials - - - - - - - - - - - - - - - - -->

                    </aside><!--/ [col]-->

                    <main class="col-md-9 col-sm-8">

                        <h1><%= @title_head %></h1>

                        <!-- - - - - - - - - - - - - - Accordion - - - - - - - - - - - - - - - - -->

                        <dl class="accordion">
                            
                            <% @faq.each do |item| %>

                                <!-- - - - - - - - - - - - - - Accordion item - - - - - - - - - - - - - - - - -->
    
                                <dt><%= item.title %></dt>
                                <dd class="text-justify"><%= item.content.html_safe %></dd>
    
                                <!-- - - - - - - - - - - - - -  End of accordion item - - - - - - - - - - - - - - - - -->
                            
                            <% end %>

                        </dl>

                        <!-- - - - - - - - - - - - - - End of accordion - - - - - - - - - - - - - - - - -->

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>