<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
                    <li><%= @title_head %></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <h1><%= @title_head %></h1>

                <div class="theme_box clearfix">

                    <div class="row">

                        <div class="col-sm-3">

                            <section class="section_offset">

                                <h4>Trang chủ</h4>
                                
                                <ul class="list_type_5 links">
                                    <li><a href="additional_page_about.html">Sản phẩm mới</a></li>
                                    <li><a href="additional_page_contact.html">Sản phẩm hot</a></li>
                                    <li><a href="additional_page_404.html">Sản phẩm nổi bật</a></li>
                                    <li><a href="additional_page_sitemap.html">Sản phẩm bán chạy nhất</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                            <section class="section_offset">

                                <h4>Trang thông tin</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="additional_page_about.html">Về chúng tôi</a></li>
                                    <li><a href="additional_page_contact.html">Thông tin giao hàng</a></li>
                                    <li><a href="additional_page_404.html">Chính sách bảo mật</a></li>
                                    <li><a href="additional_page_sitemap.html">Điều khoản sử dụng dịch vụ</a></li>
                                    <li><a href="additional_page_faq.html">FAQ</a></li>
                                    <li><a href="additional_page_contact.html">Liên hệ</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                        </div><!--/ [col]-->

                        <div class="col-sm-3">

                            <section class="section_offset">

                                <h4>Trang sản phẩm</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="category_page_v1.html">Chuyên mục sản phẩm</a></li>
                                    <li><a href="category_page_v2.html">Chi tiết sản phẩm</a></li>
                                    <li><a href="category_page_v2.html">Sản phẩm yêu thích</a></li>
                                    <li><a href="category_page_v2.html">Sản phẩm so sánh</a></li>
                                    <li><a href="category_page_v2.html">Sản phẩm mới</a></li>
                                    <li><a href="category_page_v2.html">Sản phẩm hot</a></li>
                                    <li><a href="category_page_v2.html">Sản phẩm nổi bật</a></li>
                                    <li><a href="category_page_v2.html">Sản phẩm bán chạy</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                            <section class="section_offset">

                                <h4>Trang thương hiệu cung cấp</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="extra_stuff_typography.html">Danh sách thương hiệu cung cấp</a></li>
                                    <li><a href="extra_stuff_columns.html">Danh sách sản phẩm</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                        </div><!--/ [col]-->

                        <div class="col-sm-3">

                            <section class="section_offset">

                                <h4>Đặt hàng</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="product_page_v1.html">Trang giỏ hàng</a></li>
                                    <li><a href="product_page_v2.html">Trang đặt hàng</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                            <section class="section_offset">

                                <h4>Tài khoản</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="blog_v1.html">Đăng ký</a></li>
                                    <li><a href="blog_v2.html">Đăng nhập</a></li>
                                    <li><a href="blog_v3.html">Quên mật khẩu</a></li>
                                    <li><a href="blog_post_v1.html">Tài khoản của tôi</a></li>
                                    <li><a href="blog_post_v2.html">Lịch sử đặt hàng</a></li>
                                    <li><a href="blog_post_v2.html">Danh sách sản phẩm yêu thích</a></li>
                                    <li><a href="blog_post_v2.html">Đăng ký nhận tin mới</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                        </div><!--/ [col] -->

                        <div class="col-sm-3">

                            <section class="section_offset">

                                <h4>Trang chi nhánh</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="shop_shopping_cart.html">Trang danh sách các chi nhánh</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                        </div><!--/ [col]-->

                    </div><!--/ .row-->						
                    
                </div><!--/ .theme_box-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>