<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'home/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="<%= root_path %>">Trang chủ</a></li>
                    <li>Sitemap</li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <h1>Sitemap</h1>

                <div class="theme_box clearfix">

                    <div class="row">

                        <div class="col-sm-3">

                            <section class="section_offset">

                                <h4>Trang chủ</h4>

                            </section><!--/ .section_offset -->

                            <section class="section_offset">

                                <h4>Tài khoản</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="additional_page_about.html">Giới thiệu</a></li>
                                    <li><a href="additional_page_contact.html">Liên hệ</a></li>
                                    <li><a href="additional_page_faq.html">FAQ</a></li>
                                    <li><a href="additional_page_404.html">404 Page</a></li>
                                    <li><a href="additional_page_sitemap.html">Sitemap</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                        </div><!--/ [col]-->

                        <div class="col-sm-3">

                            <section class="section_offset">

                                <h4>Category Page Layouts</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="category_page_v1.html">Category Page 1</a></li>
                                    <li><a href="category_page_v2.html">Category Page 2</a></li>
                                    <li><a href="category_page_v3.html">Category Page 3</a></li>
                                    <li><a href="category_page_v4.html">Category Page 4</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                            <section class="section_offset">

                                <h4>Extra Stuff</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="extra_stuff_elements.html">Elements</a></li>
                                    <li><a href="extra_stuff_typography.html">Typography</a></li>
                                    <li><a href="extra_stuff_columns.html">Columns</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                        </div><!--/ [col]-->

                        <div class="col-sm-3">

                            <section class="section_offset">

                                <h4>Product Page Layouts</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="product_page_v1.html">Product Page 1</a></li>
                                    <li><a href="product_page_v2.html">Product Page 2</a></li>
                                    <li><a href="product_page_v3.html">Product Page 3</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                            <section class="section_offset">

                                <h4>Blog Pages</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="blog_v1.html">Blog 1</a></li>
                                    <li><a href="blog_v2.html">Blog 2</a></li>
                                    <li><a href="blog_v3.html">Blog 3</a></li>
                                    <li><a href="blog_post_v1.html">Blog Post 1</a></li>
                                    <li><a href="blog_post_v2.html">Blog Post 2</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                        </div><!--/ [col] -->

                        <div class="col-sm-3">

                            <section class="section_offset">

                                <h4>Other Shop Pages</h4>

                                <ul class="list_type_5 links">
                                    <li><a href="shop_shopping_cart.html">Shopping Cart</a></li>
                                    <li><a href="shop_checkout.html">Checkout</a></li>
                                    <li><a href="shop_wishlist.html">Wishlist</a></li>
                                    <li><a href="shop_product_comparison.html">Product Comparison</a></li>
                                    <li><a href="shop_my_account.html">My Account</a></li>
                                    <li><a href="shop_manufacturers.html">Manufacturers</a></li>
                                    <li><a href="shop_manufacturer_page.html">Manufacturer Page</a></li>
                                    <li><a href="shop_orders_list.html">Orders List</a></li>
                                    <li><a href="shop_order_page.html">Order Page</a></li>
                                </ul>

                            </section><!--/ .section_offset -->

                        </div><!--/ [col]-->

                    </div><!--/ .row-->						
                    
                </div><!--/ .theme_box-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'home/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'home/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <% javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <% javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <% javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <% javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <% javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <% javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <% javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <% javascript_include_tag '/frontend/js/retina.min.js' %>
    <% javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

    <!-- Theme files
    ============================================ -->
    <% javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <% javascript_include_tag '/frontend/js/theme.core.js' %>
    <%= render 'home/include_js' %>
    
</body>