<!-- site preloader start -->
<div class="page-loader">
    <div class="loader-in"></div>
</div>
<!-- site preloader end -->

<div class="pageWrapper">

    <!-- Header Start -->
    <%= render "/home/header" %>
    <!-- Header End -->
    
    <!-- Content Start -->
    <div id="contentWrapper">
       
        <div class="page-title title-1">
          
            <div class="container">
               
                <div class="row">
                   
                    <div class="cell-12">
                       
                        <h1 class="fx" data-animate="fadeInLeft">PHẬT PHÁP</h1>
                       
                        <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                            
                            <%= link_to "Trang Chủ", home_path %><span class="line-separate">/</span><span>Phật Pháp</span>
                        
                        </div>
                   
                    </div>
               
                </div>
           
            </div>
      
        </div>
        
        <div class="sectionWrapper">
            
            <div class="container">
                
                <div class="row">
                   
                    <div class="masonry nobar">
                        
                        <div class="blog-posts">
                            
                            <% @articles.each do |item| %>
                            
                                <div class="post-item fx" data-animate="fadeInLeft">
                                    
                                    <div class="post-image">
                                        
                                        <a href="<%= blog_detail_path(blog_id: item, title: item.url_friendly) %>">
                                           
                                            <div class="mask"></div>
                                           
                                            <div class="post-lft-info">
                                                
                                                <div class="main-bg"><%= item.created_at.strftime("%d") %><br><%= item.created_at.strftime("%m") %><br><%= item.created_at.strftime("%Y") %></div>
                                            
                                            </div>
                                            
                                            <img src="<%= item.image_url.medium_image %>" alt="<%= item.title %>">
                                        
                                        </a>
                                    
                                    </div>
                                    
                                    <article class="post-content">
                                        
                                        <div class="post-info-container">
                                            
                                            <div class="post-info">
                                                
                                                <h2><%= link_to item.title, blog_detail_path(blog_id: item, title: item.url_friendly), class: "main-color" %></h2>
                                                
                                                <ul class="post-meta">
                                                    
                                                    <li class="meta-user"><i class="fa fa-user"></i><a href="#">Chùa Linh Quang</a></li>
                                                    <li><i class="fa fa-folder-open"></i><a href="#">Văn Học - Nghệ Thuật</a></li>
                                                    <li class="meta-comments"><i class="fa fa-comments"></i><a href="<%= blog_detail_path(blog_id: item, title: item.url_friendly) %>">5</a></li>
                                                
                                                </ul>
                                                
                                            </div>
                                            
                                        </div>
                                            
                                        <p class="text-justify"><%= truncate(strip_tags(item.content.html_safe), length: 150) %> </p>
                                    
                                    </article>
                                    
                                </div>
                                
                            <% end %>
                                                            
                            <div class="pager skew-25">
                                
                                <%= will_paginate @articles, previous_label: '<i class="fa fa-angle-left"></i>'.html_safe, next_label: '<i class="fa fa-angle-right"></i>'.html_safe, renderer: BootstrapPagination::Rails %>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                        
                </div>
                    
            </div>
                
        </div>
        
    </div>
    <!-- Content End -->
    
    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->
    
    <!-- Back to top Link -->
    <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
    
</div>


<%= render "/home/js_files" %>