<footer>
  <div class="container">
    <div class="footer-widgets-part">
      <div class="row">
        <div class="col-md-3">
          <div class="widget posts-widget">
            <h1>PHẬT SỰ MỚI NHẤT</h1>
            <ul class="list-posts">
              <% (1..2).each do |item| %>
              <li>
                <img src="/frontend/upload/news-posts/list.jpg" alt="">
                <div class="post-content">
                  <%= link_to "Chuyên mục bài viết", "" %>
                  <h2><%= link_to "Tiêu đề bài viết", "" %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= Time.now.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="widget social-widget">
            <h1>LIÊN KẾT</h1>
            <ul class="social-icons">
              <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "", class: "facebook", target: "_blank" %></li>
              <li><%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "", class: "google", target: "_blank" %></li>
              <li><%= link_to '<i class="fa fa-youtube"></i>'.html_safe, "", class: "youtube", target: "_blank" %></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget posts-widget">
            <h1>TIN TỨC MỚI NHẤT</h1>
            <ul class="list-posts">
              <% (1..3).each do |item| %>
              <li>
                <img src="/frontend/upload/news-posts/list.jpg" alt="">
                <div class="post-content">
                  <%= link_to "Chuyên mục bài viết", "" %>
                  <h2><%= link_to "Tiêu đề bài viết", "" %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= Time.now.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget categories-widget">
            <h1>CHUYÊN MỤC</h1>
            <ul class="category-list">
              <% ArticleCategory.get_all_parent_categories.each do |cat| %>
              <li>
                <a href="<%= category_path(category_id: cat.id, category_name: cat.url_friendly) %>"><%= cat.name %> <span>0</span></a>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget flickr-widget">
            <h1>Thư Viện Ảnh</h1>
            <ul class="flickr-list">
              <% (1..9).each do |item| %>
              <li><%= link_to image_tag("/frontend/upload/news-posts/list.jpg", alt: ""), "" %></li>
              <% end %>
            </ul>
            <a href="#">Xem thêm...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-last-line">
      <div class="row">
        <div class="col-md-4">
          <p>&copy; Copyrights CHÙA LINH QUANG 2016. All rights reserved.</p>
        </div>
        <div class="col-md-8">
          <nav class="footer-nav">
            <ul>
              <% ArticleCategory.get_all_parent_categories.each do |cat| %>
              <li><%= link_to cat.name, category_path(category_id: cat.id, category_name: cat.url_friendly) %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>