<footer>
  <div class="container">
    <div class="footer-widgets-part">
      <div class="row">
        <div class="col-md-3">
          <div class="widget posts-widget">
            <h1>PHẬT SỰ MỚI NHẤT</h1>
            <ul class="list-posts">
              <% Article.get_newest_category_1.each do |item| %>
              <li>
                <%= image_tag item.image_url.small_image, alt: "" %>
                <div class="post-content">
                  <%= link_to item.article_categories.first.name, category_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly) %>
                  <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="widget social-widget">
            <h1>LIÊN HỆ</h1>
            <ul class="social-icons">
              <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "", class: "facebook", target: "_blank" %></li>
              <li><%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "", class: "google", target: "_blank" %></li>
              <li><%= link_to '<i class="fa fa-youtube"></i>'.html_safe, "", class: "youtube", target: "_blank" %></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget posts-widget">
            <h1>TIN NÓNG MỚI NHẤT</h1>
            <ul class="list-posts">
              <% Article.get_hot_news[0..2].each do |item| %>
              <li>
                <%= image_tag item.image_url.small_image, alt: "" %>
                <div class="post-content">
                  <%= link_to item.article_categories.first.name, category_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly) %>
                  <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget categories-widget">
            <h1>CHUYÊN MỤC</h1>
            <ul class="category-list">
              <% ArticleCategory.get_all_parent_categories.each do |item| %>
              <li>
                <a href="<%= category_path(category_id: item.id, category_name: item.url_friendly) %>"><%= item.name %> <span><%= item.count_posts_for_categories %></span></a>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget flickr-widget">
            <h1>THƯ VIỆN ẢNH</h1>
            <ul class="flickr-list">
              <% (1..9).each do |item| %>
              <li><%= link_to image_tag("/frontend/upload/news-posts/list.jpg", alt: ""), "" %></li>
              <% end %>
            </ul>
            <a href="#">Xem thêm...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-last-line">
      <div class="row">
        <div class="col-md-4">
          <p>&copy; Copyrights CHÙA LINH QUANG 2016. All rights reserved.</p>
        </div>
        <div class="col-md-8">
          <nav class="footer-nav">
            <ul>
              <% ArticleCategory.get_all_parent_categories.each do |cat| %>
              <li><%= link_to cat.name, category_path(category_id: cat.id, category_name: cat.url_friendly) %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>