<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">

    <li><%= link_to "Trang Chủ", home_path, class: "home" %></li>
    
    <% ArticleCategory.get_all_parent_categories.each do |cat| %>
      
      <% if cat.children.count == 0 %>
        <li><%= link_to cat.name, category_path(category_id: cat.id, category_name: cat.url_friendly), class: cat.style %></li>
      <% else %>
        <li class="drop"><%= link_to cat.name, category_path(category_id: cat.id, category_name: cat.url_friendly), class: cat.style %>
          <ul class="dropdown">
            <% cat.children.each do |child| %>
            <li><%= link_to child.name, category_path(category_id: child.id, category_name: child.url_friendly) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      
    <% end %>
    
    <li><%= link_to "Liên Hệ", contact_path, class: "sport" %></li>

  </ul>

</div>