<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">

    <li><%= link_to "Trang Chủ", home_path, class: "home" %></li>

    <li><%= link_to "Phật Sự", category_path, class: "food" %></li>

    <li class="drop"><%= link_to "Phật Pháp", category_path, class: "world" %>
      
      <ul class="dropdown">
        <li><a href="">Bước Đầu Học Phật</a></li>
        <li><a href="">Giáo Pháp</a></li>
        <li><a href="">Tịnh Độ Tông</a></li>
        <li><a href="">Thiền Tông</a></li>
        <li><a href="">Mật Tông</a></li>
      </ul>

    </li>

    <li><%= link_to "Tin Tức", category_path, class: "travel" %></li>

    <li><%= link_to "Từ Thiện", category_path, class: "tech" %></li>

    <li class="drop"><%= link_to "Văn Hóa", category_path, class: "fashion" %>
      
      <ul class="dropdown">
        <li><%= link_to "Góp Nhặt Cát Đá", category_path %></li>
        <li><%= link_to "Văn Học - Nghệ Thuật", category_path %></li>
        <li><%= link_to "Thư Viện Ảnh", category_path %></li>
        <li><%= link_to "Thư Viện Video", category_path %></li>
        <li><%= link_to "Thư viện Nhạc", category_path %></li>
      </ul>

    </li>

    <li><%= link_to "GĐPT Linh Quang", category_path, class: "video" %></li>

    <li><%= link_to "Liên Hệ", contact_path, class: "sport" %></li>

  </ul>

</div>