<section class="ticker-news">

  <div class="container">
    <div class="ticker-news-box">
      <span class="breaking-news">Tin Nóng</span>
      <span class="new-news">Mới</span>
      <ul id="js-news">
        <li class="news-item"><span class="time-news">11:36 pm</span>  <%= link_to "Tiêu đề bài viết 1", "" %> <%= "Mô tả ngắn 1..................................." %> </li>
        <li class="news-item"><span class="time-news">12:40 pm</span>  <%= link_to "Tiêu đề bài viết 2", "" %> <%= "Mô tả ngắn 2..................................." %> </li>
        <li class="news-item"><span class="time-news">11:36 pm</span>  <%= link_to "Tiêu đề bài viết 3", "" %> <%= "Mô tả ngắn 3..................................." %> </li>
        <li class="news-item"><span class="time-news">01:00 am</span>  <%= link_to "Tiêu đề bài viết 4", "" %> <%= "Mô tả ngắn 4..................................." %> </li>
        <li class="news-item"><span class="time-news">11:36 pm</span>  <%= link_to "Tiêu đề bài viết 5", "" %> <%= "Mô tả ngắn 5..................................." %> </li>
        <li class="news-item"><span class="time-news">12:40 pm</span>  <%= link_to "Tiêu đề bài viết 6", "" %> <%= "Mô tả ngắn 6..................................." %> </li>
        <li class="news-item"><span class="time-news">11:36 pm</span>  <%= link_to "Tiêu đề bài viết 7", "" %> <%= "Mô tả ngắn 7..................................." %> </li>
        <li class="news-item"><span class="time-news">01:00 am</span>  <%= link_to "Tiêu đề bài viết 8", "" %> <%= "Mô tả ngắn 8..................................." %> </li>
      </ul>
    </div>
  </div>

</section>