<div class="sidebar small-sidebar">

  <div class="widget review-widget">
    <h1>Phật Sự</h1>
    <ul class="review-posts-list">
      <% (1..5).each do |item| %>
      <li>
        <%= image_tag "/frontend/upload/news-posts/rev.jpg", alt: "" %>
        <h2><%= link_to "Đoàn Phật tử quận Bình Thạnh phát quà từ thiện", "" %></h2>
        <span class="date"><i class="fa fa-clock-o"></i>07/08/2016</span>
        <span class="post-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="widget review-widget">
    <h1>Tin Tức</h1>
    <ul class="review-posts-list">
      <% (1..5).each do |item| %>
      <li>
        <%= image_tag "/frontend/upload/news-posts/rev.jpg", alt: "" %>
        <h2><%= link_to "Đoàn Phật tử quận Bình Thạnh phát quà từ thiện", "" %></h2>
        <span class="date"><i class="fa fa-clock-o"></i>07/08/2016</span>
        <span class="post-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="widget review-widget">
    <h1>Từ Thiện</h1>
    <ul class="review-posts-list">
      <% (1..5).each do |item| %>
      <li>
        <%= image_tag "/frontend/upload/news-posts/rev.jpg", alt: "" %>
        <h2><%= link_to "Đoàn Phật tử quận Bình Thạnh phát quà từ thiện", "" %></h2>
        <span class="date"><i class="fa fa-clock-o"></i>07/08/2016</span>
        <span class="post-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="widget categories-widget">
    <div class="title-section">
      <h1><span>Chuyên Mục</span></h1>
    </div>
    <ul class="category-list">
      <% ArticleCategory.get_all_parent_categories.each do |item| %>
      <li>
        <a href="<%= category_path(category_id: item.id, category_name: item.url_friendly) %>"><%= item.name %> <span><%= item.count_posts_for_categories %></span></a>
      </li>
      <% end %>
      <li>
        <a href="">Thư Viện Ảnh <span>0</span></a>
      </li>
      <li>
        <a href="">Thư Viện Video <span>0</span></a>
      </li>
    </ul>
  </div>

</div>