<div class="sidebar small-sidebar">

  <div class="widget review-widget">
    <h1>Phật Sự</h1>
    <ul class="review-posts-list">
      <% Article.get_all_category_1.each do |item| %>
      <li>
        <%= image_tag item.image_url.smaller_image, alt: "" %>
        <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
        <span class="date"><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></span>
        <span class="post-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="widget review-widget">
    <h1>Phật Pháp</h1>
    <ul class="review-posts-list">
      <% Article.get_all_category_2.each do |item| %>
      <li>
        <%= image_tag item.image_url.smaller_image, alt: "" %>
        <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
        <span class="date"><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></span>
        <span class="post-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="widget review-widget">
    <h1>Tin Tức</h1>
    <ul class="review-posts-list">
      <% Article.get_all_category_3.each do |item| %>
      <li>
        <%= image_tag item.image_url.smaller_image, alt: "" %>
        <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
        <span class="date"><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></span>
        <span class="post-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="widget review-widget">
    <h1>Từ Thiện</h1>
    <ul class="review-posts-list">
      <% Article.get_all_category_4.each do |item| %>
      <li>
        <%= image_tag item.image_url.smaller_image, alt: "" %>
        <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
        <span class="date"><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></span>
        <span class="post-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
  
</div>