<div class="sidebar large-sidebar">

  <div class="widget search-widget">
    <%= form_tag(posts_search_path, method: "get", class: "search-form") do %>
      <input type="text" name="keyword" placeholder="Nhập từ khóa cần tìm (có dấu).....">
      <button type="submit"><i class="fa fa-search"></i></button>
    <% end %>
  </div>

  <div class="widget features-slide-widget">
    <div class="title-section">
      <h1><span>Văn Hóa</span></h1>
    </div>
    <div class="image-post-slider">
      <ul class="bxslider">
        <% Article.get_all_category_5[0..2].each do |item| %>
        <li>
          <div class="news-post image-post2">
            <div class="post-gallery">
              <%= image_tag item.image_url.smallest_image, alt: "" %>
              <div class="hover-box">
                <div class="inner-hover">
                  <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <% if Article.get_all_category_5.count > 3 %>
    <ul class="list-posts">
      <% Article.get_all_category_5[3..6].each do |item| %>
      <li>
        <%= image_tag item.image_url.small_image, alt: "" %>
        <div class="post-content">
          <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
          <ul class="post-tags">
            <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
          </ul>
        </div>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
  
  <div class="widget features-slide-widget">
    <div class="title-section">
      <h1><span>GĐPT Linh Quang</span></h1>
    </div>
    <div class="image-post-slider">
      <ul class="bxslider">
        <% Article.get_all_category_6[0..2].each do |item| %>
        <li>
          <div class="news-post image-post2">
            <div class="post-gallery">
              <%= image_tag item.image_url.smallest_image, alt: "" %>
              <div class="hover-box">
                <div class="inner-hover">
                  <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <% if Article.get_all_category_6.count > 3 %>
    <ul class="list-posts">
      <% Article.get_all_category_6[3..6].each do |item| %>
      <li>
        <%= image_tag item.image_url.small_image, alt: "" %>
        <div class="post-content">
          <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
          <ul class="post-tags">
            <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
          </ul>
        </div>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
  
  <% if Banner.count > 0 %>
  <div class="advertisement">
    <div class="desktop-advert">
      <span><%= Banner.get_main_banner.title %></span>
      <img src="<%= Banner.get_main_banner.image_url.banner_image_250x250 %>" alt="">
    </div>
    <div class="tablet-advert">
      <span><%= Banner.get_main_banner.title %></span>
      <img src="<%= Banner.get_main_banner.image_url.banner_image_200x200 %>" alt="">
    </div>
    <div class="mobile-advert">
      <span><%= Banner.get_main_banner.title %></span>
      <img src="<%= Banner.get_main_banner.image_url.banner_image_300x250 %>" alt="">
    </div>
  </div>
  <% end %>

  <div class="widget tab-posts-widget">

    <ul class="nav nav-tabs" id="myTab">
      <li class="active">
        <a href="#option1" data-toggle="tab">Thư Viện Ảnh</a>
      </li>
      <li>
        <a href="#option2" data-toggle="tab">Thư Viện Nhạc</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="option1">
        <ul class="list-posts">
          <% Gallery.get_newest_galleries.each do |item| %>
          <li>
            <%= image_tag item.image_url.small_image, alt: "" %>
            <div class="post-content">
              <h2><%= link_to item.title, "" %></h2>
              <ul class="post-tags">
                <li><i class="fa fa-clock-o"></i><%= item.created_at.strftime("%d/%m/%Y") %></li>
              </ul>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="tab-pane" id="option2">
        <ul class="list-posts">
          <% Album.get_newest_musics.each do |item| %>
          <li>
            <%= link_to (image_tag item.image_url.small_image, alt: ""), gallery_music_path %>
            <div class="post-content">
              <h2><%= link_to item.title, gallery_music_path %></h2>
              <ul class="post-tags">
                <li><i class="fa fa-clock-o"></i><%= item.created_at.strftime("%d/%m/%Y") %></li>
              </ul>
            </div>
          </li>
          <% end %>
        </ul>										
      </div>
    </div>
  </div>

  <div class="widget post-widget">
    <div class="title-section">
      <h1><span>Video</span></h1>
    </div>
    <% Album.get_newest_videos.each do |item| %>
    <div class="news-post video-post">
      <%= image_tag item.image_url.smallest_image, alt: "" %>
      <a href="<%= item.link %>" class="video-link"><i class="fa fa-play-circle-o"></i></a>
      <div class="hover-box">
        <h2><%= item.title %></h2>
        <ul class="post-tags">
          <li><i class="fa fa-clock-o"></i><%= item.created_at.strftime("%d/%m/%Y") %></li>
        </ul>
      </div>
      <p></p>
    </div>
    <% end %>
  </div>

</div>