<div class="top-line">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="top-line-list">
          <li><%= link_to Company.get_pagoda_info.name, root_path %></li>
          <li><%= link_to Company.get_pagoda_info.head_office_address, contact_path %></li>
          <li><a href="mailto:<%= Company.get_pagoda_info.email %>"><%= Company.get_pagoda_info.email %></a></li>
          <li><a href="tel:<%= Company.get_pagoda_info.phone %>"><%= Company.get_pagoda_info.phone %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>