<div class="top-line">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="top-line-list">
          <li><span class="time-now"><%= Time.now.in_time_zone("Asia/Bangkok").strftime("%A %d/%m/%Y / %H:%M") %></span></li>
          <li><%= link_to "Phật Sự", "" %></li>
          <li><%= link_to "Phật Pháp", "" %></li>
          <li><%= link_to "Tin Tức", "" %></li>
          <li><%= link_to "Từ Thiện", "" %></li>
          <li><%= link_to "Văn Hóa", "" %></li>
          <li><%= link_to "GĐPT Linh Quang", "" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>