<footer id="footWrapper">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!-- main menu footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head">DANH MỤC</h3>
                    <ul class="footer-menu">
                        <li><%= link_to "Trang Chủ", home_path %></li>
                        <li><%= link_to "Phật Sự", buddhist_news_path %></li>
                        <li><%= link_to "Phật Pháp", buddhist_book_path %></li>
                        <li><%= link_to "Tin Tức", news_path %></li>
                        <li><%= link_to "Từ Thiện", charity_path %></li>
                        <li><%= link_to "Văn Hóa", cultural_path %></li>
                        <li><%= link_to "GĐPT Linh Quang", buddhist_family_path %></li>
                    </ul>
                </div>
                <!-- main menu footer cell start -->
                <!-- Our Friends footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head">PHẬT PHÁP</h3>
                    <ul class="footer-menu">
                        <li><%= link_to "Bước Đầu Học Phật", buddhist_book_sub_1_path %></li>
                        <li><%= link_to "Giáo Pháp", buddhist_book_sub_2_path %></li>
                        <li><%= link_to "Tịnh Độ Tông", buddhist_book_sub_3_path %></li>
                        <li><%= link_to "Thiền Tông", buddhist_book_sub_4_path %></li>
                        <li><%= link_to "Mật Tông", buddhist_book_sub_5_path %></li>
                    </ul>
                </div>
                <!-- Our Friends footer cell start -->
                <!-- Useful Links footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head">VĂN HÓA</h3>
                    <ul class="footer-menu">
                        <li><%= link_to "Góp Nhặt Cát Đá", cultural_sub_1_path %></li>
                        <li><%= link_to "Văn Học - Nghệ Thuật", cultural_sub_2_path %></li>
                        <li><%= link_to "Thư Viện Ảnh", "#galery" %></li>
                        <li><%= link_to "Thư Viện Nhạc", "#music" %></li>
                    </ul>
                </div>
                <!-- Useful Links footer cell start -->
                <!-- contact us footer cell start -->
                <div class="cell-3">
                    <h3 class="block-head"><%= Company.get_pagoda_info.name %></h3>
                    <ul>
                        <li class="footer-contact"><i class="fa fa-home"></i><span><%= Company.get_pagoda_info.head_office_address %></span></li>
                        <li class="footer-contact"><i class="fa fa-phone"></i><span><%= Company.get_pagoda_info.phone %></span></li>
                        <li class="footer-contact">
                            <i class="fa fa-envelope"></i><span>
                                <a href="mailto:<%= Company.get_pagoda_info.email %>">
                                    <%= Company.get_pagoda_info.email %>
                                </a>
                            </span>
                        </li>
                        <li class="footer-contact">
                            <i class="fa fa-globe"></i><span><a href="http://chualinhquang.com.vn/" target="_blank">http://chualinhquang.com.vn/</a></span>
                        </li>
                    </ul>
                </div>
                <!-- contact us footer cell end -->

            </div>
        </div>
    </div>

    <!-- footer bottom bar start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                
                <!-- footer copyrights Center cell -->
                <div class="copyrights-center cell-12">
                &copy; Copyrights <b><%= Company.get_pagoda_info.name %></b> 2016. All rights reserved.
                    <ul class="footer-menu-center">
                        <li><%= link_to "Trang chủ", home_path %></li>
                        <li><%= link_to "Phật Sự", buddhist_news_path %></li>
                        <li><%= link_to "Phật Pháp", buddhist_book_path %></li>
                        <li><%= link_to "Tin Tức", news_path %></li>
                        <li><%= link_to "Từ Thiện", charity_path %></li>
                        <li><%= link_to "Văn Hóa", cultural_path %></li>
                        <li><%= link_to "GĐPT Linh Quang", buddhist_family_path %></li>
                        <li><%= link_to "Liên Hệ", contact_path %></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- footer bottom bar end -->

</footer>