<div id="headWrapper" class="clearfix">
    
    <!-- top bar start -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="cell-11">
                    <ul>
                        <li><span><%= Company.get_pagoda_info.name %></span></li>
                        <li><span><i class="fa fa-home"></i> <%= Company.get_pagoda_info.head_office_address %></span></li>
                        <li><a href="tel:<%= Company.get_pagoda_info.phone %>"><i class="fa fa-phone"></i> Điện thoại: <%= Company.get_pagoda_info.phone %></a></li>
                        <li><a href="mailto:<%= Company.get_pagoda_info.email %>"><i class="fa fa-envelope"></i><%= Company.get_pagoda_info.email %></a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- top bar end -->
    
    <!-- Logo, global navigation menu and search start -->
    <header class="top-head top-head-4" data-sticky="true">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <div class="banner">
                        <div><img src="/frontend/images/banner-vulan.jpg" alt="Banner Chùa Linh Quang"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="nav-4">
                <div class="gray-nav">
                    <!-- top navigation menu start -->
                    <nav class="top-nav mega-menu news">
                        <ul>
                            <li<% if params[:controller] == "home" %> class="selected"<% end %>><%= link_to "<span>Trang Chủ</span>".html_safe, home_path %></li>
                            <li<% if params[:controller] == "buddhist_news" %> class="selected"<% end %>><%= link_to "<span>Phật Sự</span>".html_safe, buddhist_news_path %></li>
                            <li<% if params[:controller] == "buddhist_book" %> class="selected"<% end %>><%= link_to "<span>Phật Pháp</span>".html_safe, buddhist_book_path %>
                                <ul>
                                    <li<% if params[:controller] == "buddhist_book" && params[:action] == "buddhist_book_sub_1" %> class="selected"<% end %>><%= link_to "Bước Đầu Học Phật".html_safe, buddhist_book_sub_1_path %></li>
                                    <li<% if params[:controller] == "buddhist_book" && params[:action] == "buddhist_book_sub_2" %> class="selected"<% end %>><%= link_to "Giáo Pháp".html_safe, buddhist_book_sub_2_path %></li>
                                    <li<% if params[:controller] == "buddhist_book" && params[:action] == "buddhist_book_sub_3" %> class="selected"<% end %>><%= link_to "Tịnh Độ Tông".html_safe, buddhist_book_sub_3_path %></li>
                                    <li<% if params[:controller] == "buddhist_book" && params[:action] == "buddhist_book_sub_4" %> class="selected"<% end %>><%= link_to "Thiền Tông".html_safe, buddhist_book_sub_4_path %></li>
                                    <li<% if params[:controller] == "buddhist_book" && params[:action] == "buddhist_book_sub_5" %> class="selected"<% end %>><%= link_to "Mật Tông".html_safe, buddhist_book_sub_5_path %></li>
                                </ul>	
                            </li>
                            <li<% if params[:controller] == "news" %> class="selected"<% end %>><%= link_to "<span>Tin Tức</span>".html_safe, news_path %></li>
                            <li<% if params[:controller] == "charity" %> class="selected"<% end %>><%= link_to "<span>Từ Thiện</span>".html_safe, charity_path %></li>
                            <li<% if params[:controller] == "cultural" %> class="selected"<% end %>><%= link_to "<span>Văn Hóa</span>".html_safe, cultural_path %>
                                <ul>
                                    <li<% if params[:controller] == "cultural" && params[:action] == "cultural_sub_1" %> class="selected"<% end %>><%= link_to "Góp Nhặt Cát Đá".html_safe, cultural_sub_1_path %></li>
                                    <li<% if params[:controller] == "cultural" && params[:action] == "cultural_sub_2" %> class="selected"<% end %>><%= link_to "Văn Học - Nghệ Thuật".html_safe, cultural_sub_2_path %></li>
                                    <li<% if params[:controller] == "cultural" && params[:action] == "cultural_sub_3" %> class="selected"<% end %>><%= link_to "Thư Viện Ảnh".html_safe, cultural_sub_3_path %></li>
                                    <li<% if params[:controller] == "cultural" && params[:action] == "cultural_sub_4" %> class="selected"<% end %>><%= link_to "Thư Viện Nhạc".html_safe, cultural_sub_4_path %></li>
                                </ul>	
                            </li>
                            <li<% if params[:controller] == "buddhist_family" %> class="selected"<% end %>><%= link_to "<span>GĐPT Linh Quang</span>".html_safe, buddhist_family_path %></li>
                            <li<% if params[:controller] == "contact" %> class="selected"<% end %>><%= link_to "<span>Liên Hệ</span>".html_safe, contact_path %></li>
                        </ul>
                    </nav>
                    <!-- top navigation menu end -->
                    
                    <!-- top search start -->
                    <div class="top-search right">
                        <a href="#"><span class="fa fa-search"></span></a>
                        <%= form_tag(search_result_path, method: "get", class: "search-box") do %>
                            <div class="input-box left">
                                <input type="text" name="keyword" class="txt-box" placeHolder="Nhập từ khóa cần tìm..." />
                            </div>
                            <div class="left">
                                <input type="submit" class="btn main-bg" value="Tìm kiếm" />
                            </div>
                        <% end %>
                    </div>
                    <!-- top search end -->

                </div>
            </div>
        </div>
    </header>
    <!-- Logo, Global navigation menu and search end -->
    
</div>