<body class="<%= @class_body %>">

	<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

	<div class="wide_layout">

		<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

		<%= render "header" %>
		
		<!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

		<div class="page_wrapper">

			<div class="container">

				<div class="section_offset">

					<div class="row">

						<!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
						
						<%= render "categories" %>
						
						<!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

						<!-- - - - - - - - - - - - - - Main slider - - - - - - - - - - - - - - - - -->

						<%= render "main_slider" %>

						<!-- - - - - - - - - - - - - - End of main slider - - - - - - - - - - - - - - - - -->

					</div><!--/ .row-->

				</div><!--/ .section_offset-->

				<!-- - - - - - - - - - - - - - Infoblocks - - - - - - - - - - - - - - - - -->

				<%= render "infoblocks" %>

				<!-- - - - - - - - - - - - - - End of infoblocks - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->

				<%= render "today_deals" %>

				<!-- - - - - - - - - - - - - - End of taday's deals - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - New arrivals - - - - - - - - - - - - - - - - -->

				<%= render "arrivals" %>

				<!-- - - - - - - - - - - - - - End of new arrivals - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Featured products - - - - - - - - - - - - - - - - -->

				<%= render "featured_products" %>

				<!-- - - - - - - - - - - - - - End of featured products - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Banners - - - - - - - - - - - - - - - - -->

				<%= render "banners" %>

				<!-- - - - - - - - - - - - - - End of banners - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Bestsellers - - - - - - - - - - - - - - - - -->

				<%= render "bestsellers" %>

				<!-- - - - - - - - - - - - - - End of bestsellers - - - - - - - - - - - - - - - - -->

			</div><!--/ .container-->

		</div><!--/ .page_wrapper-->
		
		<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

		<%= render "footer" %>
		
		<!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

	</div><!--/ [layout]-->
	
	<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

	<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

	<%= render "social_feeds" %>

	<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
	
	<%= render 'include_js' %>
	
</body>