<body class="front_page">

	<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

	<div class="wide_layout page_with_main_nav">

		<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

		<%= render "module/header" %>
		
		
		<!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

		<div class="page_wrapper">

			<div class="container">

				<div class="section_offset home_top_box">

					<div class="row">
						
						<aside class="col-md-3 has_mega_menu home_top_categories">

							<!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
							
							<%= render "module/categories" %>
							
							<!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
						
						</aside><!--/ [col]-->

						<!-- - - - - - - - - - - - - - Main slider - - - - - - - - - - - - - - - - -->
						<div class="col-md-9 home_main_slider">
							<%= render "module/main_slider" %>							
						</div><!--/ [col]-->

						<!-- - - - - - - - - - - - - - End of main slider - - - - - - - - - - - - - - - - -->

					</div><!--/ .row-->

				</div><!--/ .section_offset-->

				<!-- - - - - - - - - - - - - - Infoblocks - - - - - - - - - - - - - - - - -->
				<div class="home_infoblocks">
					<%= render "module/infoblocks" %>
				</div>
				<!-- - - - - - - - - - - - - - End of infoblocks - - - - - - - - - - - - - - - - -->
				
				
				<div class="home_main">
					<a href="#" class="button_dark_grey add_cart_success" data-modal-url="<%= add_cart_success_path %>">Success</a>
												
					<a href="#" class="button_dark_grey add_wishlist_success" data-modal-url="<%= add_wishlist_success_path %>">Success</a>
					
					<a href="#" class="button_dark_grey add_compare_success" data-modal-url="<%= add_compare_success_path %>">Success</a>
					
					<a href="#" class="button_dark_grey no_singed" data-modal-url="<%= no_singed_path %>">No Singed</a>
	
					<!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->
	
					<%= render "module/categories_products_tab", title: "DEAL TỐT HÔM NAY", status: "deal" %>
	
					<!-- - - - - - - - - - - - - - End of taday's deals - - - - - - - - - - - - - - - - -->
	
					<!-- - - - - - - - - - - - - - Featured products - - - - - - - - - - - - - - - - -->
	
					<%= render "module/categories_products_tab", title: "NỔI BẬT", status: "prominent" %>
	
					<!-- - - - - - - - - - - - - - End of featured products - - - - - - - - - - - - - - - - -->
	
					<!-- - - - - - - - - - - - - - Bestsellers - - - - - - - - - - - - - - - - -->
	
					<%= render "module/categories_products_tab", title: "BÁN CHẠY", status: "bestseller" %>
	
					<!-- - - - - - - - - - - - - - End of bestsellers - - - - - - - - - - - - - - - - -->
	
					<!-- - - - - - - - - - - - - - New arrivals - - - - - - - - - - - - - - - - -->
	
					<%= render "module/categories_products_tab", title: "SẢN PHẨM MỚI", status: "new" %>
	
					<!-- - - - - - - - - - - - - - End of new arrivals - - - - - - - - - - - - - - - - -->
	
					<!-- - - - - - - - - - - - - - Banners - - - - - - - - - - - - - - - - -->
	
					<%= render "module/banners" %>
	
					<!-- - - - - - - - - - - - - - End of banners - - - - - - - - - - - - - - - - -->
	
					<!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->
	
					<%= render "module/categories_products_tab", title: "HÀNG NHẬP KHẨU", status: "imported" %>
	
					<!-- - - - - - - - - - - - - - End of taday's deals - - - - - - - - - - - - - - - - -->
				</div>
				
			</div><!--/ .container-->

		</div><!--/ .page_wrapper-->
		
		<!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

		<%= render "module/footer" %>
		
		<!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

	</div><!--/ [layout]-->
	
	<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

	<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

	<%= render "module/social_feeds" %>

	<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
	
	<!-- Include Libs & Plugins
	============================================ -->
	<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
	<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
	<%= javascript_include_tag '/frontend/js/rs-plugin/js/jquery.themepunch.tools.min.js' %>
	<%= javascript_include_tag '/frontend/js/rs-plugin/js/jquery.themepunch.revolution.min.js' %>
	<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
	<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
	<%= javascript_include_tag '/frontend/js/royalslider/jquery.easing-1.3.js' %>
	<%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
	<%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
	<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
	<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
	<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
	<%= javascript_include_tag '/frontend/js/retina.min.js' %>
	<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
	<%= javascript_include_tag 'https://select2.github.io/dist/js/select2.full.js' %>
	<%= stylesheet_link_tag "https://select2.github.io/dist/css/select2.min.css" %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>
	
	<!-- Theme files
	============================================ -->
	<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
	<%= javascript_include_tag '/frontend/js/theme.core.js' %>
	
	<script>
		$(document).on("click", ".add_to_cart_button", function(e){
			e.preventDefault();
			
			var url = $(this).attr("href");
			$.ajax({
				method: "GET",
				url: url,
				data: {quantity: $("input.quantity").val()}
			})
			.done(function( msg ) {
				get_cart();
				$(".add_cart_success").trigger("click")
			});
		});
		$(document).on("click", ".add_to_wishlist_button", function(e){
			e.preventDefault();
			
			var url = $(this).attr("href");
			$.ajax({
				method: "GET",
				url: url
			})
			.done(function( msg ) {
				get_cart();
				$(".add_wishlist_success").trigger("click");
			});
		});
		$(document).on("click", ".add_to_compare_button", function(e){
			e.preventDefault();
			
			var url = $(this).attr("href");
			$.ajax({
				method: "GET",
				url: url
			})
			.done(function( msg ) {
				get_cart();
				$(".add_compare_success").trigger("click");
			});
		});
		$(document).on("click", ".no_singed_button", function(e){
			e.preventDefault();
			$(".no_singed").trigger("click")
		});
	</script>
	
</body>