<!-- site preloader start -->
<div class="page-loader">
    <div class="loader-in"></div>
</div>
<!-- site preloader end -->

<div class="pageWrapper">
    
    <!-- Header Start -->
    <%= render "/home/header" %>
    <!-- Header End -->
    
    <!-- Content Start -->
    <div id="contentWrapper" class="news-site">
       
        <div class="block-bg-2 overflow-auto">
            
            <div class="container">
            
                <div class="Newsslider">
                    
                    <% @sliders.each do |item| %>
                    
                        <div>
                            
                            <%= link_to image_tag(item.image_url.big_image, alt: item.title), blog_detail_path(blog_id: item, title: item.url_friendly), class: "cell-9" %>
                           
                            <article class="post-content cell-3">
                               
                                <div class="post-info-container">
                                    
                                    <div class="post-info">
                                        
                                        <h2><%= link_to item.title, blog_detail_path(blog_id: item, title: item.url_friendly), class: "main-color", title: item.title %></h2>
                                        
                                        <ul class="post-meta">
                                                            
                                            <li class="meta-user"><i class="fa fa-user"></i><a href="#">Chùa Linh Quang</a></li>
                                            <li><i class="fa fa-folder-open"></i><a href="#">Văn Học - Nghệ Thuật</a></li>
                                            <li class="meta-comments"><i class="fa fa-comments"></i><a href="<%= blog_detail_path(blog_id: item, title: item.url_friendly) %>">5</a></li>
                                        
                                        </ul>
                                        
                                    </div>
                                
                                </div>
                                
                                <p class="text-justify"><%= truncate(strip_tags(item.content.html_safe), length: 250) %> </p>
                                
                                <%= link_to "Đọc tiếp", blog_detail_path(blog_id: item, title: item.url_friendly), class: "read-more main-bg" %>
                            
                            </article>
                        
                        </div>
                    
                    <% end %>
                    
                </div>
                
            </div>
                    
        </div>
                
        <div class="padd-vertical-30">
      
            <div class="container">
                
                <div class="row">

                    <div class="cell-9 blog-thumbs">
                        
                        <!--Middle East News-->
                        <h3 class="block-head-News">
                            
                            <span class="icon fa fa-angle-right"></span>
                            
                            Phật sự
                            
                            <a href="<%= buddhist_news_path %>">Xem tất cả <span class="fa fa-plus"></span></a>
                        
                        </h3>

                        <div class="news-masnory">
                            
                            <%= render "/module/buddhist_news" %>
                       
                        </div>

                        <!--Middle East News-->
                        <h3 class="block-head-News">
                            
                            <span class="icon fa fa-angle-right"></span>
                            
                            Phật pháp
                            
                            <a href="<%= buddhist_book_path %>">Xem tất cả <span class="fa fa-plus"></span></a>
                        
                        </h3>

                        <div class="news-masnory">
                            
                            <%= render "/module/buddhist_book" %>
                       
                        </div>

                        <!--Middle East News-->
                        <h3 class="block-head-News">
                            
                            <span class="icon fa fa-angle-right"></span>
                            
                            Tin tức
                            
                            <a href="<%= news_path %>">Xem tất cả <span class="fa fa-plus"></span></a>
                        
                        </h3>

                        <div class="news-masnory">
                            
                            <%= render "/module/news" %>
                            
                        </div>

                        <!--Middle East News-->
                        <h3 class="block-head-News">
                            
                            <span class="icon fa fa-angle-right"></span>
                            
                            Từ thiện
                            
                            <a href="<%= charity_path %>">Xem tất cả <span class="fa fa-plus"></span></a>
                        
                        </h3>

                        <div class="news-masnory">
                            
                            <%= render "/module/charity" %>
                            
                        </div>

                        <!--Middle East News-->
                        <h3 class="block-head-News">
                            
                            <span class="icon fa fa-angle-right"></span>
                            
                            Văn Hóa
                            
                            <a href="<%= cultural_path %>">Xem tất cả <span class="fa fa-plus"></span></a>
                            
                        </h3>

                        <div class="news-masnory">
                            
                            <%= render "/module/cultural" %>
                            
                        </div>

                        <!--Middle East News-->
                        <h3 class="block-head-News">
                            
                            <span class="icon fa fa-angle-right"></span>
                            
                            GĐPT Linh Quang
                            
                            <a href="<%= buddhist_family_path %>">Xem tất cả <span class="fa fa-plus"></span></a>
                        
                        </h3>

                        <div class="news-masnory">
                            
                            <%= render "/module/buddhist_family" %>
                            
                        </div>
                        
                        <div class="clearfix"></div>
                        <!--Sport News--> 
                        <h3 class="block-head-News">
                            <span class="icon fa fa-angle-right"></span>
                            Thư viện ảnh
                            <a href="#">Xem tất cả <span class="fa fa-plus"></span></a>
                        </h3>
                        <div class="news-masnory">
                            <ul class="gallery">
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                                <li>
                                    <a class="zoom" href="/frontend/images/portfolio/1.jpg" data-gal="prettyPhoto[pp_gal]"><img alt="" src="/frontend/images/portfolio/1.jpg" /><span class="img-overlay"></span></a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>
                    
                    <!-- right side bar -->
                    <aside class="cell-3 right-sidebar">
                        
                        <%= render "/home/right_side_bar" %>
                        
                    </aside>
                    
                </div>
                
            </div>

        </div>
    </div>
    <!-- Content End -->
    
    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->
    
    <!-- Back to top Link -->
    <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>

</div>

<%= render "/home/js_files" %>