<section class="block-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8">

        <!-- block content -->
        <div class="block-content">
          <% if Slideshow.count > 0 %>
          <!-- grid box -->
          <div class="grid-box">
            <div class="image-slider">
              <ul class="bxslider">
                <% Slideshow.all.order("style ASC").each do |item| %>
                <li>
                  <div class="news-post image-post">
                    <%= image_tag item.image_url.image, alt: "" %>
                    <div class="hover-box">
                      <span class="top-stories">CHÙA LINH QUANG</span>
                      <div class="inner-hover">
                        <%= link_to item.title_1, item.link, class: "category-post tech" %>
                        <h2 class="slideshow-font"><%= link_to item.title_2, item.link %></h2>
                        <ul class="post-tags">
                          <li><i class="fa fa-clock-o"></i><%= item.created_at.strftime("%d/%m/%Y") %></li>
                          <li><i class="fa fa-user"></i>bởi Chùa Linh Quang</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <!-- End grid box -->
          <% end %>

          <!-- grid box -->
          <div class="grid-box">

            <div class="title-section">
              <h1><span>Tin Nóng</span></h1>
            </div>

            <div class="image-post-slider">
              <ul class="bxslider">
                <% Article.get_hot_news[0..2].each do |item| %>
                <li>
                  <div class="news-post image-post2">
                    <div class="post-gallery">
                      <%= image_tag item.image_url.largest_image, alt: "" %>
                      <div class="hover-box">
                        <div class="inner-hover">
                          <%= link_to item.article_categories.first.name, category_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly), class: "category-post #{item.article_categories.first.style}" %>
                          <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                          <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                            <li><i class="fa fa-user"></i></i>bởi <%= link_to "Chùa Linh Quang", root_path %></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>

            <div class="row">
              <div class="col-md-6">
                <% if Article.get_hot_news.count > 3 %>
                <ul class="list-posts">
                  <% Article.get_hot_news[3..14].each_with_index do |item,index| %>
                      <li>
                        <%= image_tag item.image_url.small_image, alt: "" %>
                        <div class="post-content">
                          <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                          <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                          </ul>
                        </div>
                      </li>
                      <%= '</ul></div><div class="col-md-6"><ul class="list-posts">'.html_safe if index%2 == 1 %>
                  <% end %>
                </ul>
                <% end %>
              </div>

            </div>

          </div>
          <!-- End grid box -->
          
          <!-- Carousel box -->
          <div class="carousel-box owl-wrapper">

            <div class="title-section">
              <h1><span>Phật Sự</span></h1>
            </div>

            <div class="owl-carousel" data-num="3">
              <% Article.get_all_category_1.each do |item| %>
              <div class="item news-post image-post3">
                <%= image_tag item.image_url.medium_image, alt: "" %>
                <div class="hover-box">
                  <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <!-- End carousel box -->
          
          <!-- Carousel box -->
          <div class="carousel-box owl-wrapper">

            <div class="title-section">
              <h1><span>Phật Pháp</span></h1>
            </div>

            <div class="owl-carousel" data-num="3">
              <% Article.get_all_category_2.each do |item| %>
              <div class="item news-post image-post3">
                <%= image_tag item.image_url.medium_image, alt: "" %>
                <div class="hover-box">
                  <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <!-- End carousel box -->

          <!-- Carousel box -->
          <div class="carousel-box owl-wrapper">

            <div class="title-section">
              <h1><span>Tin Tức</span></h1>
            </div>

            <div class="owl-carousel" data-num="3">
              <% Article.get_all_category_3.each do |item| %>
              <div class="item news-post image-post3">
                <%= image_tag item.image_url.medium_image, alt: "" %>
                <div class="hover-box">
                  <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <!-- End carousel box -->
          
          <!-- Carousel box -->
          <div class="carousel-box owl-wrapper">

            <div class="title-section">
              <h1><span>Từ Thiện</span></h1>
            </div>

            <div class="owl-carousel" data-num="3">
              <% Article.get_all_category_4.each do |item| %>
              <div class="item news-post image-post3">
                <%= image_tag item.image_url.medium_image, alt: "" %>
                <div class="hover-box">
                  <h2><%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %></h2>
                  <ul class="post-tags">
                    <li><i class="fa fa-clock-o"></i><%= item.posted_at.strftime("%d/%m/%Y") %></li>
                  </ul>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <!-- End carousel box -->

        </div>
        <!-- End block content -->

      </div>

      <div class="col-md-3 col-sm-4">

        <!-- right sidebar -->
        <%= render "/modules/right_sidebar" %>
        <!-- End right sidebar -->

      </div>

    </div>

  </div>
</section>