<!-- site preloader start -->
<div class="page-loader">
    <div class="loader-in"></div>
</div>
<!-- site preloader end -->

<div class="pageWrapper">

    <!-- Header Start -->
    <%= render "/home/header" %>
    <!-- Header End -->
    
    <!-- Content Start -->
    <div id="contentWrapper">
       
        <div class="page-title title-1">
          
            <div class="container">
              
                <div class="row">
                   
                    <div class="cell-12">
                        
                        <h1 class="fx" data-animate="fadeInLeft">TIN TỨC</h1>
                       
                        <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                            
                            <%= link_to "Trang chủ", root_path %><span class="line-separate">/</span><span>Tin Tức</span>
                       
                        </div>
                   
                    </div>
                
                </div>
           
            </div>
       
        </div>
        
        <div class="sectionWrapper">
            
            <div class="container">
               
                <div class="row">
                   
                    <div class="cell-9 lft">
                       
                        <div class="blog-posts">
                            
                            <div class="blog-timeline">
                                
                                <div class="row timeline-left">
                                    
                                    <% @articles.each do |item| %>
                                    
                                        <div class="fx timeline-cell sticky-post" data-animate="fadeInLeft">
                                            
                                            <div class="timeline_date">
                                                
                                                <span class="inner_date"><span class="day main-color"><%= item.created_at.strftime("%d") %></span>
                                                <span class="month"><%= item.created_at.strftime("%m") %></span> </span>
                                                <span class="year main-bg"><%= item.created_at.strftime("%Y") %></span>
                                            
                                            </div>
                                            
                                            <div class="post-item">
                                                
                                                <div class="post-image">
                                                    
                                                    <div class="post-icon main-bg" data-title="Từ Thiện" data-tooltip="true" data-position="top">
                                                        
                                                        <i class="fa fa-book"></i>
                                                    
                                                    </div>
                                                    
                                                    <a href="<%= blog_detail_path(blog_id: item) %>">
                                                        
                                                        <span class="mask"></span>
                                                        
                                                        <img src="<%= item.image_url.big_image %>" alt="<%= item.title %>">
                                                    
                                                    </a>
                                                    
                                                </div>
                                                
                                                <article class="post-content">
                                                    
                                                    <div class="post-info-container">
                                                        
                                                        <div class="post-info">
                                                            
                                                            <h2><%= link_to item.title, blog_detail_path(blog_id: item), class: "main-color" %></h2>
                                                            
                                                            <ul class="post-meta">
                                                                
                                                                <li class="meta-user"><i class="fa fa-user"></i>Đăng bởi: <a href="#">Chùa Linh Quang</a></li>
                                                                <li><i class="fa fa-folder-open"></i>Chuyên mục: <a href="#">Từ Thiện</a></li>
                                                                <li class="meta-comments"><i class="fa fa-comments"></i>Bình luận: <a href="<%= blog_detail_path(blog_id: item) %>">5</a></li>
                                                            
                                                            </ul>
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    <p class="text-justify"><%= truncate(strip_tags(item.content.html_safe), length: 400) %></p>
                                                
                                                </article>
                                                
                                            </div>
                                            
                                        </div>
                                    
                                    <% end %>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="pager skew-25">
                                
                                <%= will_paginate @articles, previous_label: '<i class="fa fa-angle-left"></i>'.html_safe, next_label: '<i class="fa fa-angle-right"></i>'.html_safe, renderer: BootstrapPagination::Rails %>
                            
                            </div>
                        
                        </div>

                    </div>
                    
                    <!-- right side bar -->
                    <aside class="cell-3 right-sidebar">
                        
                        <%= render "/home/right_side_bar" %>
                        
                    </aside>
                    
                </div>
            
            </div>
        
        </div>
        
    </div>
    <!-- Content End -->
    
    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->
    
    <!-- Back to top Link -->
    <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
    
</div>

<%= render "/home/js_files" %>