<!-- Main navbar -->
<%= render "/admin/main/main_navbar" %>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                <%= render "/admin/main/user_menu" %>
                <!-- /user menu -->

                <!-- Main navigation -->
                <%= render "/admin/main/main_menu" %>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">
        
            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><span class="text-semibold">Article of Categories</span></h4>
                    </div>
                </div>
            
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><%= link_to '<i class="icon-home2 position-left"></i> Home'.html_safe, { controller: "main", action: "index" } %></li>
                        <li><a href="<%= admin_article_categories_path %>">Article</a></li>
                        <li class="active">Article of Categories</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->
            
            <!-- Content area -->
            <div class="content">
            
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <%= link_to 'New Category', new_admin_article_category_path, class: 'btn btn-primary' %>
                        <hr/>
                        <h5 class="panel-title"><span class="text-semibold">Listing Categories</span></h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <table class="table datatable-article-categories">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Created At</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @article_categories.each do |item| %>
                                <% if item.parent.count == 0 %>
                                    <% item.update_level(1) %>
                                    <tr>
                                        <td>
                                            <%= link_to item.name.html_safe, edit_admin_article_category_path(item) %>
                                        </td>
                                        <td>
                                            <%= item.description %>
                                        </td>
                                        <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                                        <td class="text-center">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>
                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_admin_article_category_path(item) %>
                                                        </li>
                                                        <li>
                                                            <%= link_to '<i class="icon-cross2"></i> Delete'.html_safe, [:admin, item], method: :delete, data: {confirm: 'Are you sure?'} %>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <% item.children.each do |child_1| %>
                                        <% child_1.update_level(2) %>
                                        <tr>
                                            <td>
                                                <%= link_to child_1.name.html_safe, edit_admin_article_category_path(child_1) %>
                                            </td>
                                            <td>
                                                <%= child_1.description %>
                                            </td>
                                            <td><%= child_1.created_at.strftime("%d/%m/%Y") %></td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-menu9"></i>
                                                        </a>
                        
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li>
                                                                <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_admin_article_category_path(child_1) %>
                                                            </li>
                                                            <li>
                                                                <%= link_to '<i class="icon-cross2"></i> Delete'.html_safe, [:admin, child_1], method: :delete, data: {confirm: 'Are you sure?'} %>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                    <div class="dataTables_wrapper no-footer">
                        <div class="datatable-footer showed">
                            <div class="dataTables_info" ><%= page_entries_info @article_categories %></div>
                            <div class="dataTables_paginate paging_simple_numbers">
                                <%= will_paginate @article_categories, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /basic datatable -->
            
                <!-- Footer -->
                <%= render '/admin/main/footer' %>
                <!-- /footer -->
            
            </div>
            <!-- /content area -->
        
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/assets/javascripts/datatables_article_categories.js' %>
<!-- /theme JS files -->