<!-- site preloader start -->
<div class="page-loader">
    <div class="loader-in"></div>
</div>
<!-- site preloader end -->

<div class="pageWrapper">

    <!-- Header Start -->
    <%= render "/home/header" %>
    <!-- Header End -->
    
    <!-- Content Start -->
    <div id="contentWrapper">
    
        <div class="sectionWrapper">
            <div class="container">
                <h3 class="block-head"><%= @gallery.title %></h3>
                <p class="text-justify"><%= @gallery.description %></p>
                <hr class="margin-bottom-35">
                
                
                <!-- This is the gallery container -->
                
                <div class="our_gallery">
                    <div id="gallery" class="content cell-9">
                        <div id="controls" class="controls"></div>
                        <div class="slideshow-container">
                            <div id="loading" class="loader"></div>
                            <div id="slideshow" class="slideshow"></div>
                        </div>
                        <div id="caption" class="caption-container"></div>
                    </div>
                    <div id="thumbs" class="navigation cell-3">
                        <ul class="thumbs noscript">
                            <% @gallery.gallery_images.each do |item| %>
                            <li>
                                <a class="thumb" name="leaf" href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015.jpg" title="<%= @gallery.title %>">
                                    <img src="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_s.jpg" alt="<%= @gallery.title %>" />
                                </a>
                                <div class="caption">
                                    <div class="download">
                                        <a class="zoom" href="<%= item.image_url %>" target="_blank">Tải ảnh</a>
                                    </div>
                                    <div class="image-title"><%= @gallery.title %></div>
                                    <div class="image-desc"><%= @gallery.description %></div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                
                
                <!-- End of gallery container -->
                
                
            </div>
        </div>				
    </div>
    <!-- Content End -->
    
    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->
    
    <!-- Back to top Link -->
    <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
    
</div>

<%= render "/home/js_files" %>