<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
                    <li>
                        <% @product.categories.each do |categories| %>
                            <%= link_to categories.name, { controller: "product", action: "category", category_id: categories.id } %> /
                        <% end %>
                        <%= @product.name %>
                    </li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <div class="section_offset">

                    <div class="row">
                        <aside class="col-md-3 col-sm-4 has_mega_menu">
                            
                            <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                            <%= render "module/categories" %>
    
                            <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
                            
                            <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                            <section class="infoblock type_2">

                                <i class="icon-money"></i>

                                <h4 class="caption"><b>100% Money Back Guaranteed</b></h4>

                                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</p>

                                <a href="#" class="button_dark_grey middle_btn">Read More</a>

                            </section>
    
                            <!-- - - - - - - - - - - - - - End of infoblock - - - - - - - - - - - - - - - - -->
                            
                            <!-- - - - - - - - - - - - - - Bestseller products - - - - - - - - - - - - - - - - -->
                        
                            <%= render "module/category_bestseller" %>
                            
                            <!-- - - - - - - - - - - - - - End of bestseller products - - - - - - - - - - - - - - - - -->
                            
                        </aside>

                        <main class="col-md-9 col-sm-8">

                            <div class="clearfix">

                                <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

                                <div class="single_product">

                                    <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

                                    <div class="image_preview_container">

                                        <img id="img_zoom" data-zoom-image="/frontend/images/qv_large_1.JPG" src="/frontend/images/qv_img_1.jpg" alt="">

                                        <button class="button_grey_2 icon_btn middle_btn open_qv"><i class="icon-resize-full-6"></i></button>

                                    </div><!--/ .image_preview_container-->

                                    <!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->
                                    
                                    <div class="product_preview">

                                        <div class="owl_carousel" id="thumbnails">
                                            
                                            <a href="#" data-image="/frontend/images/qv_img_1.jpg" data-zoom-image="/frontend/images/qv_large_1.JPG">

                                                <img src="/frontend/images/qv_thumb_1.jpg" data-large-image="/frontend/images/qv_img_1.jpg" alt="">

                                            </a>

                                            <a href="#" data-image="/frontend/images/qv_img_2.jpg" data-zoom-image="/frontend/images/qv_large_2.jpg">

                                                <img src="/frontend/images/qv_thumb_2.jpg" data-large-image="/frontend/images/qv_img_2.jpg" alt="">

                                            </a>

                                            <a href="#" data-image="/frontend/images/qv_img_3.jpg" data-zoom-image="/frontend/images/qv_large_3.jpg">

                                                <img src="/frontend/images/qv_thumb_3.jpg" data-large-image="/frontend/images/qv_img_3.jpg" alt="">

                                            </a>

                                            <a href="#" data-image="/frontend/images/qv_img_4.jpg" data-zoom-image="/frontend/images/qv_large_4.JPG">

                                                <img src="/frontend/images/qv_thumb_4.jpg" data-large-image="/frontend/images/qv_img_4.jpg" alt="">

                                            </a>

                                        </div><!--/ .owl-carousel-->

                                    </div><!--/ .product_preview-->
                                    
                                    <!-- - - - - - - - - - - - - - End of prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Share - - - - - - - - - - - - - - - - -->
                                    
                                    <div class="v_centered">

                                        <div class="addthis_widget_container">
                                            <!-- AddThis Button BEGIN -->
                                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                            <a class="addthis_button_preferred_1"></a>
                                            <a class="addthis_button_preferred_2"></a>
                                            <a class="addthis_button_preferred_3"></a>
                                            <a class="addthis_button_preferred_4"></a>
                                            <a class="addthis_button_compact"></a>
                                            <a class="addthis_counter addthis_bubble_style"></a>
                                            </div>
                                            <!-- AddThis Button END -->
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- - - - - - - - - - - - - - End of share - - - - - - - - - - - - - - - - -->

                                </div>

                                <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

                                <div class="single_product_description">

                                    <h3><%= @product.name %></h3>

                                    <div class="description_section v_centered">

                                        <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
                                    
                                        <ul class="rating">

                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li></li>
                                            <li></li>

                                        </ul>
                                            
                                        <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->

                                        <ul class="topbar">

                                            <li><a href="#">3 Review(s)</a></li>
                                            <li><a href="#">Add Your Review</a></li>

                                        </ul>

                                        <!-- - - - - - - - - - - - - - End of reviews menu - - - - - - - - - - - - - - - - -->

                                    </div>

                                    <div class="description_section">

                                        <table class="product_info">

                                            <tbody>

                                                <tr>

                                                    <td>Thương hiệu sản phẩm: </td>
                                                    <td><%= link_to @product.manufacturer.name, { controller: "manufacturer", action: "list" } %></td>

                                                </tr>

                                                <tr>

                                                    <td>Trạng thái: </td>
                                                    <td><span class="in_stock">Còn trong kho</span> 20 sản phẩm.</td>

                                                </tr>

                                                <tr>

                                                    <td>Mã sản phẩm: </td>
                                                    <td><%= @product.code %></td>

                                                </tr>

                                            </tbody>

                                        </table>

                                    </div>

                                    <hr>

                                    <div class="description_section">

                                        <p class="text-justify"><%= @product.short_description %></p>

                                    </div>
                                    
                                    <hr>

                                    <p class="product_price"><b class="theme_color"><%= format_number(@product.price) %> đ</b></p>

                                    <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

                                    <div class="description_section_2 v_centered">
                                        
                                        <span class="title">Số lượng:</span>

                                        <div class="qty min clearfix">

                                            <button class="theme_button" data-direction="minus">&#45;</button>
                                            <input type="text" name="" value="1">
                                            <button class="theme_button" data-direction="plus">&#43;</button>

                                        </div>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                    <div class="buttons_row">

                                        <button class="button_blue middle_btn">Thêm giỏ hàng</button>

                                        <button class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip top">Thêm vào danh sách yêu thích</span></button>

                                        <button class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip top">Thêm vào so sánh sản phẩm</span></button>
                                        
                                        <a href="#tab-questions" class="button_dark_grey def_icon_btn middle_btn add_to_question tooltip_container"><span class="tooltip top">Câu hỏi cho sản phẩm</span></a>
                                        
                                    </div>

                                    <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                </div>

                                <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

                            </div>
                            
                            <!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

                            <div class="section_offset" style="padding-top: 50px;">
            
                                <div class="tabs type_2">
            
                                    <!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->
            
                                    <ul class="tabs_nav clearfix">
            
                                        <li><a href="#tab-description">Mô tả sản phẩm</a></li>
                                        <li><a href="#tab-questions">Câu hỏi vể sản phẩm (0)</a></li>
                                        <li><a href="#tab-review">Đánh giá sản phẩm (0)</a></li>
            
                                    </ul>
                                    
                                    <!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->
            
                                    <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->
            
                                    <div class="tab_containers_wrap">
            
                                        <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
            
                                        <div id="tab-description" class="tab_container">
            
                                            <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla.</p>
            
                                            <p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. </p>
            
                                        </div><!--/ #tab-1-->
            
                                        <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
            
                                        <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
            
                                        <div id="tab-questions" class="tab_container">
                                            
                                            <div id="question" style="margin-bottom:25px"><p style="margin-top:5px;">Chưa có câu hỏi nào cho sản phẩm.</p></div>
                                            
                                            <h2 id="ask_heading">Hỏi về sản phẩm</h2>
            
                                            <form novalidate="" enctype="multipart/form-data" class="contactform type_2" id="contact_form">
        
                                                <ul>
                                                
                                                    <li class="row">
        
                                                        <div class="col-sm-12">
                                                        
                                                            <label for="cf_name" class="required">Họ & Tên</label>
                                                            <input type="text" required="" name="cf_name" id="cf_name" title="Name">
        
                                                        </div><!--/ [col]-->
        
                                                    </li><!--/ .row -->
                                                    
                                                    <li class="row">
        
                                                        <div class="col-sm-12">
        
                                                            <label for="cf_email" class="required">Địa chỉ email</label>
                                                            <input type="email" required="" name="cf_email" id="cf_email" title="Email">
        
                                                        </div><!--/ [col]-->
        
                                                    </li><!--/ .row -->
        
                                                    <li class="row">
        
                                                        <div class="col-xs-12">
        
                                                            <label for="cf_message" class="required">Nội dung câu hỏi</label>
                                                            <textarea id="cf_message" required="" name="cf_message" title="Message" rows="6"></textarea>
        
                                                        </div><!--/ [col]-->
        
                                                    </li><!--/ .row -->
                                                    
                                                    <li class="row">
        
                                                        <div class="col-xs-12">
        
                                                            <label for="cf_message" class="required">Trả lời câu hỏi dưới đây</label>
                                                            <span class="input-group-addon captcha_wrap">Captcha</span>
        
                                                        </div><!--/ [col]-->
        
                                                    </li><!--/ .row -->
        
                                                </ul>
        
                                            </form><!--/ .contactform -->
        
                                            <!-- - - - - - - - - - - - - - End of contact form - - - - - - - - - - - - - - - - -->
            
                                            <div class="left_side">
									
                                                <button class="button_blue middle_btn" type="submit" form="contact_form">Submit</button>
        
                                            </div>
                                        
                                        </div><!--/ #tab-2-->
            
                                        <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
            
                                        <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
            
                                        <div id="tab-review" class="tab_container">
            
                                            <section class="section_offset">
            
                                                <h3>Customer Reviews</h3>
            
                                                <ul class="reviews">
            
                                                    <li>
            
                                                        <!-- - - - - - - - - - - - - - Review - - - - - - - - - - - - - - - - -->
                                                        
                                                        <article class="review">
            
                                                            <!-- - - - - - - - - - - - - - Rates - - - - - - - - - - - - - - - - -->
            
                                                            <ul class="review-rates">
            
                                                                <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->
            
                                                                <li class="v_centered">
                                                                    
                                                                    <span class="name">Price</span>
            
                                                                    <ul class="rating">
            
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li></li>
                                                                        <li></li>
            
                                                                    </ul>
            
                                                                </li>
            
                                                                <!-- - - - - - - - - - - - - - End of price - - - - - - - - - - - - - - - - -->
            
                                                                <!-- - - - - - - - - - - - - - Value - - - - - - - - - - - - - - - - -->
            
                                                                <li class="v_centered">
                                                                    
                                                                    <span class="name">Value</span>
            
                                                                    <ul class="rating">
            
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li></li>
            
                                                                    </ul>
            
                                                                </li>
            
                                                                <!-- - - - - - - - - - - - - - End of value - - - - - - - - - - - - - - - - -->
            
                                                                <!-- - - - - - - - - - - - - - Quality - - - - - - - - - - - - - - - - -->
            
                                                                <li class="v_centered">
                                                                    
                                                                    <span class="name">Quality</span>
            
                                                                    <ul class="rating">
            
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
            
                                                                    </ul>
            
                                                                </li>
            
                                                                <!-- - - - - - - - - - - - - - End of quality - - - - - - - - - - - - - - - - -->
            
                                                            </ul>
            
                                                            <!-- - - - - - - - - - - - - - End of rates - - - - - - - - - - - - - - - - -->
            
                                                            <!-- - - - - - - - - - - - - - Review body - - - - - - - - - - - - - - - - -->
            
                                                            <div class="review-body">
            
                                                                <div class="review-meta">
                                                                    
                                                                    <h5 class="bold">Good Quality</h5>
            
                                                                    Review by <a href="#" class="bold">Ivana Wrong</a> on 12/4/2014
            
                                                                </div>
            
                                                                <p>Aliquam Erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</p>
            
                                                            </div>
            
                                                            <!-- - - - - - - - - - - - - - End of review body - - - - - - - - - - - - - - - - -->
            
                                                        </article>
            
                                                        <!-- - - - - - - - - - - - - - End of review - - - - - - - - - - - - - - - - -->
            
                                                    </li>
            
                                                    <li>
            
                                                        <!-- - - - - - - - - - - - - - Review - - - - - - - - - - - - - - - - -->
                                                        
                                                        <article class="review">
            
                                                            <!-- - - - - - - - - - - - - - Rates - - - - - - - - - - - - - - - - -->
            
                                                            <ul class="review-rates">
            
                                                                <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->
            
                                                                <li class="v_centered">
                                                                    
                                                                    <span class="name">Price</span>
            
                                                                    <ul class="rating">
            
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li></li>
                                                                        <li></li>
            
                                                                    </ul>
            
                                                                </li>
            
                                                                <!-- - - - - - - - - - - - - - End of price - - - - - - - - - - - - - - - - -->
            
                                                                <!-- - - - - - - - - - - - - - Value - - - - - - - - - - - - - - - - -->
            
                                                                <li class="v_centered">
                                                                    
                                                                    <span class="name">Value</span>
            
                                                                    <ul class="rating">
            
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li></li>
            
                                                                    </ul>
            
                                                                </li>
            
                                                                <!-- - - - - - - - - - - - - - End of value - - - - - - - - - - - - - - - - -->
            
                                                                <!-- - - - - - - - - - - - - - Quality - - - - - - - - - - - - - - - - -->
            
                                                                <li class="v_centered">
                                                                    
                                                                    <span class="name">Quality</span>
            
                                                                    <ul class="rating">
            
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li class="active"></li>
                                                                        <li></li>
            
                                                                    </ul>
            
                                                                </li>
            
                                                                <!-- - - - - - - - - - - - - - End of quality - - - - - - - - - - - - - - - - -->
            
                                                            </ul>
            
                                                            <!-- - - - - - - - - - - - - - End of rates - - - - - - - - - - - - - - - - -->
            
                                                            <!-- - - - - - - - - - - - - - Review body - - - - - - - - - - - - - - - - -->
            
                                                            <div class="review-body">
            
                                                                <div class="review-meta">
                                                                    
                                                                    <h5 class="bold">Fast Shipping</h5>
            
                                                                    Review by <a href="#" class="bold">Alan Smith</a> on 4/3/2014
            
                                                                </div>
            
                                                                <p>Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula.</p>
            
                                                            </div>
            
                                                            <!-- - - - - - - - - - - - - - End of review body - - - - - - - - - - - - - - - - -->
            
                                                        </article>
            
                                                        <!-- - - - - - - - - - - - - - End of review - - - - - - - - - - - - - - - - -->
            
                                                    </li>
            
                                                </ul>
            
                                                <a href="#" class="button_grey middle_btn">Show All</a>
            
                                            </section><!--/ .section_offset -->
            
                                            <section class="section_offset">
            
                                                <h3>Write Your Own Review</h3>
            
                                                <div class="row">
            
                                                    <div class="col-lg-5 col-md-6">
            
                                                        <p>You're reviewing: <a href="#">Metus nulla facilisi, Original 24 fl oz</a><br>How do you rate this product? *</p>
            
                                                        <!-- - - - - - - - - - - - - - Rate the - - - - - - - - - - - - - - - - -->
            
                                                        <div class="table_wrap rate_table">
            
                                                            <table>
            
                                                                <thead>
            
                                                                    <tr>
                                                                            
                                                                        <th></th>
                                                                        <th>1 Star</th>
                                                                        <th>2 Stars</th>
                                                                        <th>3 Stars</th>
                                                                        <th>4 Stars</th>
                                                                        <th>5 Stars</th>
            
                                                                    </tr>
            
                                                                </thead>
            
                                                                <tbody>
            
                                                                    <tr>
                                                                        
                                                                        <td>Price</td>
            
                                                                        <td>
                                                                                
                                                                            <input checked type="radio" name="price_rate" id="rate_1">
                                                                            <label for="rate_1"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="price_rate" id="rate_2">
                                                                            <label for="rate_2"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="price_rate" id="rate_3">
                                                                            <label for="rate_3"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="price_rate" id="rate_4">
                                                                            <label for="rate_4"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="price_rate" id="rate_5">
                                                                            <label for="rate_5"></label>
            
                                                                        </td>
            
                                                                    </tr>
            
                                                                    <tr>
                                                                        
                                                                        <td>Value</td>
            
                                                                        <td>
                                                                                
                                                                            <input checked type="radio" name="value_rate" id="rate_6">
                                                                            <label for="rate_6"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="value_rate" id="rate_7">
                                                                            <label for="rate_7"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="value_rate" id="rate_8">
                                                                            <label for="rate_8"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="value_rate" id="rate_9">
                                                                            <label for="rate_9"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="value_rate" id="rate_10">
                                                                            <label for="rate_10"></label>
            
                                                                        </td>
            
                                                                    </tr>
            
                                                                    <tr>
                                                                        
                                                                        <td>Quality</td>
            
                                                                        <td>
                                                                                
                                                                            <input checked type="radio" name="quality_rate" id="rate_11">
                                                                            <label for="rate_11"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="quality_rate" id="rate_12">
                                                                            <label for="rate_12"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="quality_rate" id="rate_13">
                                                                            <label for="rate_13"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="quality_rate" id="rate_14">
                                                                            <label for="rate_14"></label>
            
                                                                        </td>
            
                                                                        <td>
                                                                                
                                                                            <input type="radio" name="quality_rate" id="rate_15">
                                                                            <label for="rate_15"></label>
            
                                                                        </td>
            
                                                                    </tr>
            
                                                                </tbody>
            
                                                            </table>
            
                                                        </div>
            
                                                        <!-- - - - - - - - - - - - - - End of rate the - - - - - - - - - - - - - - - - -->
            
                                                    </div><!--/ [col]-->
            
                                                    <div class="col-lg-7 col-md-6">
            
                                                        <p class="subcaption">All fields are required.</p>
            
                                                        <!-- - - - - - - - - - - - - - Review form - - - - - - - - - - - - - - - - -->
            
                                                        <form class="type_2">
            
                                                            <ul>
            
                                                                <li class="row">
            
                                                                    <div class="col-sm-6">
                                                                        
                                                                        <label for="nickname">Nickname</label>
                                                                        <input type="text" name="" id="nickname">
            
                                                                    </div>
            
                                                                    <div class="col-sm-6">
                                                                        
                                                                        <label for="summary">Summary of Your Review</label>
                                                                        <input type="text" name="" id="summary">
            
                                                                    </div>
            
                                                                </li>
            
                                                                <li class="row">
            
                                                                    <div class="col-xs-12">
            
                                                                        <label for="review_message">Review</label>
            
                                                                        <textarea rows="5" id="review_message"></textarea>
            
                                                                    </div>
            
                                                                </li>
            
                                                                <li class="row">
            
                                                                    <div class="col-xs-12">
                                                                    
                                                                        <button class="button_dark_grey middle_btn">Submit Review</button>
            
                                                                    </div>
            
                                                                </li>
            
                                                            </ul>
            
                                                        </form>
            
                                                        <!-- - - - - - - - - - - - - - End of review form - - - - - - - - - - - - - - - - -->
            
                                                    </div>
            
                                                </div><!--/ .row -->
            
                                            </section><!--/ .section_offset -->
            
                                        </div><!--/ #tab-3-->
            
                                        <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
            
                                    </div><!--/ .tab_containers_wrap -->
            
                                    <!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->
            
                                </div><!--/ .tabs-->
            
                            </div><!--/ .section_offset -->
            
                            <!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->
            
                            <!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->
            
                            <div class="section_offset">
            
                                <div class="tabs products">
                                    
                                    <h3>Sản phẩm liên quan</h3>
            
                                    <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->
            
                                    <div class="tab_containers_wrap">
            
                                        <div id="tab-5" class="tab_container">
            
                                            <!-- - - - - - - - - - - - - - Carousel of featured products - - - - - - - - - - - - - - - - -->
            
                                            <div class="owl_carousel carousel_in_tabs type_2">
                                                
                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                                                <div class="product_item">
            
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <div class="image_wrap">
            
                                                        <img src="/frontend/images/product_img_7.jpg" alt="">
            
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
            
                                                        <div class="actions_wrap">
            
                                                            <div class="centered_buttons">
            
                                                                <a href="#" class="button_dark_grey" data-modal-url="/frontend/modals/quick_view.html">Xem nhanh</a>
            
                                                                <a href="#" class="button_blue">Thêm giỏ hàng</a>
            
                                                            </div><!--/ .centered_buttons -->
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào giỏ hàng</span></a>
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>
            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
            
                                                    </div><!--/. image_wrap-->
            
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
            
                                                    <div class="description">
            
                                                        <a href="#">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
            
                                                        <div class="clearfix product_info">
            
                                                            <p class="product_price alignleft"><b>$5.99</b></p>
            
                                                        </div>
            
                                                    </div>
            
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
            
                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
            
                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                                                <div class="product_item">
            
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <div class="image_wrap">
            
                                                        <img src="/frontend/images/product_img_7.jpg" alt="">
            
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
            
                                                        <div class="actions_wrap">
            
                                                            <div class="centered_buttons">
            
                                                                <a href="#" class="button_dark_grey" data-modal-url="/frontend/modals/quick_view.html">Xem nhanh</a>
            
                                                                <a href="#" class="button_blue">Thêm giỏ hàng</a>
            
                                                            </div><!--/ .centered_buttons -->
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào giỏ hàng</span></a>
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>
            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
            
                                                    </div><!--/. image_wrap-->
            
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
            
                                                    <div class="description">
            
                                                        <a href="#">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
            
                                                        <div class="clearfix product_info">
            
                                                            <p class="product_price alignleft"><b>$5.99</b></p>
            
                                                        </div>
            
                                                    </div>
            
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
            
                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
                                                
                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                                                <div class="product_item">
            
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <div class="image_wrap">
            
                                                        <img src="/frontend/images/product_img_7.jpg" alt="">
            
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
            
                                                        <div class="actions_wrap">
            
                                                            <div class="centered_buttons">
            
                                                                <a href="#" class="button_dark_grey" data-modal-url="/frontend/modals/quick_view.html">Xem nhanh</a>
            
                                                                <a href="#" class="button_blue">Thêm giỏ hàng</a>
            
                                                            </div><!--/ .centered_buttons -->
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào giỏ hàng</span></a>
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>
            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
            
                                                    </div><!--/. image_wrap-->
            
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
            
                                                    <div class="description">
            
                                                        <a href="#">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
            
                                                        <div class="clearfix product_info">
            
                                                            <p class="product_price alignleft"><b>$5.99</b></p>
            
                                                        </div>
            
                                                    </div>
            
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
            
                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
                                                
                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                                                <div class="product_item">
            
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <div class="image_wrap">
            
                                                        <img src="/frontend/images/product_img_7.jpg" alt="">
            
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
            
                                                        <div class="actions_wrap">
            
                                                            <div class="centered_buttons">
            
                                                                <a href="#" class="button_dark_grey" data-modal-url="/frontend/modals/quick_view.html">Xem nhanh</a>
            
                                                                <a href="#" class="button_blue">Thêm giỏ hàng</a>
            
                                                            </div><!--/ .centered_buttons -->
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào giỏ hàng</span></a>
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>
            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
            
                                                    </div><!--/. image_wrap-->
            
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
            
                                                    <div class="description">
            
                                                        <a href="#">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
            
                                                        <div class="clearfix product_info">
            
                                                            <p class="product_price alignleft"><b>$5.99</b></p>
            
                                                        </div>
            
                                                    </div>
            
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
            
                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
                                                
                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                                                <div class="product_item">
            
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <div class="image_wrap">
            
                                                        <img src="/frontend/images/product_img_7.jpg" alt="">
            
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
            
                                                        <div class="actions_wrap">
            
                                                            <div class="centered_buttons">
            
                                                                <a href="#" class="button_dark_grey" data-modal-url="/frontend/modals/quick_view.html">Xem nhanh</a>
            
                                                                <a href="#" class="button_blue">Thêm giỏ hàng</a>
            
                                                            </div><!--/ .centered_buttons -->
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào giỏ hàng</span></a>
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>
            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
            
                                                    </div><!--/. image_wrap-->
            
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
            
                                                    <div class="description">
            
                                                        <a href="#">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
            
                                                        <div class="clearfix product_info">
            
                                                            <p class="product_price alignleft"><b>$5.99</b></p>
            
                                                        </div>
            
                                                    </div>
            
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
            
                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
                                                
                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                                                <div class="product_item">
            
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <div class="image_wrap">
            
                                                        <img src="/frontend/images/product_img_7.jpg" alt="">
            
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
            
                                                        <div class="actions_wrap">
            
                                                            <div class="centered_buttons">
            
                                                                <a href="#" class="button_dark_grey" data-modal-url="/frontend/modals/quick_view.html">Xem nhanh</a>
            
                                                                <a href="#" class="button_blue">Thêm giỏ hàng</a>
            
                                                            </div><!--/ .centered_buttons -->
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào giỏ hàng</span></a>
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>
            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
            
                                                    </div><!--/. image_wrap-->
            
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
            
                                                    <div class="description">
            
                                                        <a href="#">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
            
                                                        <div class="clearfix product_info">
            
                                                            <p class="product_price alignleft"><b>$5.99</b></p>
            
                                                        </div>
            
                                                    </div>
            
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
            
                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
                                                
                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                                                <div class="product_item">
            
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <div class="image_wrap">
            
                                                        <img src="/frontend/images/product_img_7.jpg" alt="">
            
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
            
                                                        <div class="actions_wrap">
            
                                                            <div class="centered_buttons">
            
                                                                <a href="#" class="button_dark_grey" data-modal-url="/frontend/modals/quick_view.html">Xem nhanh</a>
            
                                                                <a href="#" class="button_blue">Thêm giỏ hàng</a>
            
                                                            </div><!--/ .centered_buttons -->
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào giỏ hàng</span></a>
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>
            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
            
                                                    </div><!--/. image_wrap-->
            
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
            
                                                    <div class="description">
            
                                                        <a href="#">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
            
                                                        <div class="clearfix product_info">
            
                                                            <p class="product_price alignleft"><b>$5.99</b></p>
            
                                                        </div>
            
                                                    </div>
            
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
            
                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
                                                
                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
            
                                                <div class="product_item">
            
                                                    <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <div class="image_wrap">
            
                                                        <img src="/frontend/images/product_img_7.jpg" alt="">
            
                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
            
                                                        <div class="actions_wrap">
            
                                                            <div class="centered_buttons">
            
                                                                <a href="#" class="button_dark_grey" data-modal-url="/frontend/modals/quick_view.html">Xem nhanh</a>
            
                                                                <a href="#" class="button_blue">Thêm giỏ hàng</a>
            
                                                            </div><!--/ .centered_buttons -->
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào giỏ hàng</span></a>
            
                                                            <a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>
            
                                                        </div><!--/ .actions_wrap-->
                                                        
                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
            
                                                    </div><!--/. image_wrap-->
            
                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
            
                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
            
                                                    <div class="description">
            
                                                        <a href="#">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
            
                                                        <div class="clearfix product_info">
            
                                                            <p class="product_price alignleft"><b>$5.99</b></p>
            
                                                        </div>
            
                                                    </div>
            
                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
            
                                                </div><!--/ .product_item-->
                                                
                                                <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
            
                                            </div><!--/ .sh_container-->
                                            
                                            <!-- - - - - - - - - - - - - - End of carousel of featured products - - - - - - - - - - - - - - - - -->
            
                                        </div><!--/ #tab-1-->
            
                                    </div>
            
                                    <!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->
            
                                </div><!--/ .tabs.section_offset-->
            
                            </div>
                                
                            <!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->

                        </main><!--/ [col] -->

                    </div><!--/ .row -->

                </div> 

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.elevateZoom-3.0.8.min.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>