<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">
                    
                    <li><%= link_to "Trang chủ", root_path %></li>
                    
					<li>
                        
						<% @product.categories.each do |categories| %>
                            
							<%= hidden_field_tag categories.id %>
                           
						    <%= link_to categories.name, { controller: "product", action: "category", category_id: categories.id } %> /
                        
						<% end %>
                        
						<%= @product.name %>
                    
					</li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <div class="section_offset">

                    <div class="row">
                        
						<aside class="col-md-3 col-sm-4 has_mega_menu">
                            
                            <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                            <%= render "module/categories" %>
    
                            <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
                            
                            <!-- - - - - - - - - - - - - - Related Articles - - - - - - - - - - - - - - - - -->

                            <% if @product.articles.count < 4 %>
								
								<%= render "module/product_related_blogs_1" %>
								
							<% else %>
								
								<%= render "module/product_related_blogs_2" %>
								
							<% end %>
    
                            <!-- - - - - - - - - - - - - - End of related articles - - - - - - - - - - - - - - - - -->
							
							<!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                            <section class="infoblock type_2">

                                <i class="icon-money"></i>

                                <h4 class="caption"><b>100% Money Back Guaranteed</b></h4>

                                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</p>

                                <a href="#" class="button_dark_grey middle_btn">Read More</a>

                            </section>
    
                            <!-- - - - - - - - - - - - - - End of infoblock - - - - - - - - - - - - - - - - -->
                            
                            <!-- - - - - - - - - - - - - - Bestseller products - - - - - - - - - - - - - - - - -->
                        
                            <%= render "module/category_bestseller" %>
                            
                            <!-- - - - - - - - - - - - - - End of bestseller products - - - - - - - - - - - - - - - - -->
                            
							<!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->
							
							<div class="section_offset">

								<section class="infoblock type_2">

									<i class="icon-lock"></i>

									<h4 class="caption"><b>Safe &amp; Secure Payment</b></h4>

									<p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</p>

									<a href="#" class="button_dark_grey middle_btn">Read More</a>

								</section><!--/ .infoblock.type_2-->

							</div>
							
							<!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->
						
						</aside>

                        <main class="col-md-9 col-sm-8">

                            <!-- - - - - - - - - - - - - - Product images & description - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<div class="clearfix">

									<!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

									<div class="single_product">

										<!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

										<div class="image_preview_container">
											
											<% if @product.get_main_image.present? %>
																
												<img id="img_zoom" data-zoom-image="<%= @product.get_main_image.image_url.big_image %>" src="<%= @product.get_main_image.image_url.large_image %>" alt="">
											
											<% else %>
												
												<img id="img_zoom" data-zoom-image="/frontend/images/big_image.png" src="/frontend/images/large_image.png" alt="">
											
											<% end %>

											<button class="button_grey_2 icon_btn middle_btn open_qv"><i class="icon-resize-full-6"></i></button>

										</div><!--/ .image_preview_container-->

										<!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->
										
										<div class="product_preview">

											<div class="owl_carousel" id="thumbnails">
                                                
                                                <% @product.product_images.each do |item| %>
												
                                                    <a href="#" data-image="<%= item.image_url.large_image %>" data-zoom-image="<%= item.image_url.big_image %>">
    
                                                        <img src="<%= item.image_url.small_image %>" data-large-image="<%= item.image_url.large_image %>" alt="">
    
                                                    </a>
                                                
                                                <% end %>

											</div><!--/ .owl-carousel-->

										</div><!--/ .product_preview-->
										
										<!-- - - - - - - - - - - - - - End of prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Share - - - - - - - - - - - - - - - - -->
										
										<div class="v_centered">

											<div class="addthis_widget_container">
												<!-- AddThis Button BEGIN -->
												<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
												<a class="addthis_button_preferred_1"></a>
												<a class="addthis_button_preferred_2"></a>
												<a class="addthis_button_preferred_3"></a>
												<a class="addthis_button_preferred_4"></a>
												<a class="addthis_button_compact"></a>
												<a class="addthis_counter addthis_bubble_style"></a>
												</div>
												<!-- AddThis Button END -->
											</div>
											
										</div>
										
										<!-- - - - - - - - - - - - - - End of share - - - - - - - - - - - - - - - - -->

									</div>

									<!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

									<div class="single_product_description">

										<h3 class="offset_title"><%= @product.name %></h3>

										<div class="description_section v_centered">

											<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
										
											<ul class="rating">

												<li class="active"></li>
												<li class="active"></li>
												<li class="active"></li>
												<li></li>
												<li></li>

											</ul>
												
											<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->

											<ul class="topbar">

												<li><a href="#"><%= @product.comments.count %> đánh giá sản phẩm.</a></li>

											</ul>

											<!-- - - - - - - - - - - - - - End of reviews menu - - - - - - - - - - - - - - - - -->

										</div>

										<div class="description_section">

											<table class="product_info">

												<tbody>

													<tr>

														<td>Thương hiệu sản phẩm: </td>
														<td><%= link_to @product.manufacturer.name, { controller: "manufacturer", action: "products", manufacturer_id: @product.manufacturer_id } %></td>

													</tr>

													<tr>

														<td>Mã sản phẩm: </td>
														<td><%= @product.code %></td>

													</tr>

													<tr>

														<td>Trạng thái: </td>
														<td><span class="in_stock">Có hàng</span></td>

													</tr>
													
													<tr>

														<td>Trọng lượng/Khối lượng/Dung tích: </td>
														<td><%= format_number(@product.quantity) + "" + @product.unit %></td>

													</tr>

												</tbody>

											</table>

										</div>

										<hr>

										<div class="description_section">

											<p class="text-justify"><%= @product.short_description %></p>

										</div>

										<hr>

										<p class="product_price"><b class="theme_color"><%= format_number(@product.price) %> đ</b></p>

										<!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

										<div class="description_section_2 v_centered">
											
											<span class="title">Số lượng:</span>

											<div class="qty min clearfix">

												<button class="theme_button" data-direction="minus">&#45;</button>
												<input type="text" name="" value="1">
												<button class="theme_button" data-direction="plus">&#43;</button>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

										<div class="buttons_row">

											<%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: @product), class: "button_blue middle_btn add_to_cart" %>
											
											<% if current_user.present? %>
											
												<%= link_to '<span class="tooltip top">Thêm vào mục yêu thích</span>'.html_safe, add_item_wish_lists_path(product_id: @product, user_id: current_user.id), class: "button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container" %>
											
											<% else %>
												
												<%= link_to '<span class="tooltip top">Thêm vào mục yêu thích</span>'.html_safe, { controller: "account", action: "login" }, class: "button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container" %>
											
											<% end %>
											
											<%= link_to '<span class="tooltip top">Thêm vào danh sách so sánh</span>'.html_safe, add_item_line_item_compares_path(product_id: @product), class: "button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container" %>
											
											<a href="#tab-questions" data-toggle="tooltip" class="button_dark_grey def_icon_btn middle_btn add_to_question tooltip_container"><span class="tooltip top">Câu hỏi về sản phẩm</span></a>

										</div>

										<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

									</div>

									<!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

								</div>

							</section><!--/ .section_offset -->
                            
                            <!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

                            <div class="section_offset" style="padding-top: 50px;">
            
                                <div class="tabs type_2">
            
                                    <!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->
            
                                    <ul class="tabs_nav clearfix">
            
                                        <li><a href="#tab-description">Mô tả sản phẩm</a></li>
                                        <li><a href="#tab-questions" data-toggle="tab">Câu hỏi về sản phẩm (<%= @product.questions.count %>)</a></li>
                                        <li><a href="#tab-review">Đánh giá sản phẩm (<%= @product.comments.count %>)</a></li>
            
                                    </ul>
                                    
                                    <!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->
            
                                    <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->
            
                                    <div class="tab_containers_wrap">
            
                                        <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
            
                                        <div id="tab-description" class="tab_container">
            
                                            <p class="text-justify"><%= @product.description.html_safe %></p>
            
                                        </div><!--/ #tab-1-->
            
                                        <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
            
                                        <!-- - - - - - - - - - - - - - Question form - - - - - - - - - - - - - - - - -->
            
                                        <div id="tab-questions" class="tab_container">
                                            
                                            <section class="section_offset">
            
                                                <h3>Câu hỏi từ khách hàng</h3>
            
                                                <ul class="reviews">
            
                                                    <li>
            
                                                        <!-- - - - - - - - - - - - - - Review - - - - - - - - - - - - - - - - -->
                                                        
                                                        <article class="review">
															
															<% if @product.questions.count > 0 %>
															
																<% @product.questions.each do |question| %>
				
																	<!-- - - - - - - - - - - - - - Review body - - - - - - - - - - - - - - - - -->
					
																	<div class="review-body">
					
																		<div class="review-meta">
					
																			<span class="bold alightleft"><%= question.name %></span>, <%= question.created_at.strftime("%d-%m-%Y") %>
					
																		</div>
																		
																		<div class="review-meta">
					
																			<p class="alightleft"><%= question.email %></p>
					
																		</div>
					
																		<p class="justifly"><%= question.content %></p>
					
																	</div>
					
																	<!-- - - - - - - - - - - - - - End of review body - - - - - - - - - - - - - - - - -->
				
																<% end %>
															
															<% else %>
																
																<p class="box">Chưa có câu hỏi nào cho sản phẩm.</p>
																
															<% end %>
														
														</article>
            
                                                        <!-- - - - - - - - - - - - - - End of review - - - - - - - - - - - - - - - - -->
            
                                                    </li>
            
                                                </ul>
            
                                            </section><!--/ .section_offset -->
                                            
                                            <section class="section_offset">
            
                                                <h3>Viết câu hỏi cho sản phẩm</h3>
            
                                                <div class="row">
            
                                                    <div class="col-lg-12 col-md-12">
											
														<%= form_for @question, html: {class: "type_2"} do |f| %>
														
															<% if current_user.present? %>
																
																<%= f.hidden_field :user_id, value: current_user.id %>
															
															<% end %>
														
															<%= f.hidden_field :product_id, value: @product.id %>
					
															<ul>
															
																<li class="row">
					
																	<div class="col-sm-12">
																	
																		<label for="cf_name" class="required">Họ & Tên</label>
																		
																		<% if current_user.present? %>
																			
																			<%= f.text_field :name, value: current_user.first_name + ' ' + current_user.last_name, readonly: true, required: true %>
																		
																		<% else %>
																			
																			<%= f.text_field :name, required: true %>
																			
																		<% end %>
					
																	</div><!--/ [col]-->
					
																</li><!--/ .row -->
																
																<li class="row">
					
																	<div class="col-sm-12">
					
																		<label for="cf_email" class="required">Địa chỉ email</label>
																		
																		<% if current_user.present? %>
																			
																			<%= f.email_field :email, value: current_user.email, readonly: true, required: true %>
																		
																		<% else %>
																			
																			<%= f.email_field :email, required: true %>
																			
																		<% end %>
					
																	</div><!--/ [col]-->
					
																</li><!--/ .row -->
					
																<li class="row">
					
																	<div class="col-xs-12">
					
																		<label for="cf_message" class="required">Nội dung câu hỏi</label>
																		
																		<%= f.text_area :content, rows: "6", required: true %>
					
																	</div><!--/ [col]-->
					
																</li><!--/ .row -->
																
																<li class="row">
					
																	<div class="col-xs-12">
					
																		<label for="cf_message" class="required">Trả lời câu hỏi dưới đây</label>
																		
																		<span class="input-group-addon captcha_wrap">Captcha</span>
					
																	</div><!--/ [col]-->
					
																</li><!--/ .row -->
					
															</ul>
															
															<%= f.submit "Gửi câu hỏi", class: "button_blue middle_btn alignright" %>
					
														<% end %><!--/ .questionform -->
					
														<!-- - - - - - - - - - - - - - End of question form - - - - - - - - - - - - - - - - -->
														
													</div>
													
												</div>
												
											</section>
                                        
                                        </div><!--/ #tab-2-->
            
                                        <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
            
                                        <!-- - - - - - - - - - - - - - Tab - - - - - - - - - - - - - - - - -->
            
                                        <div id="tab-review" class="tab_container">
            
                                            <section class="section_offset">
            
                                                <h3>Đánh giá từ khách hàng</h3>
            
                                                <ul class="reviews">
            
                                                    <li>
            
                                                        <!-- - - - - - - - - - - - - - Review - - - - - - - - - - - - - - - - -->
                                                        
                                                        <article class="review">
															
															<% if @product.comments.count > 0 %>
															
																<% @product.comments.each do |comment| %>
				
																	<!-- - - - - - - - - - - - - - Review body - - - - - - - - - - - - - - - - -->
					
																	<div class="review-body">
					
																		<div class="review-meta">
					
																			<span class="bold alightleft"><%= comment.name %></span>, <%= comment.created_at.strftime("%d-%m-%Y") %>
																			
																			<ul class="rating alightright">
																				
																				<% (1..comment.star).each do |star| %>
																					<li class="active"></li>
																				<% end %>
									
																			</ul>
					
																		</div>
					
																		<p class="justifly"><%= comment.content %></p>
					
																	</div>
					
																	<!-- - - - - - - - - - - - - - End of review body - - - - - - - - - - - - - - - - -->
				
																<% end %>
															
															<% else %>
																
																<p class="box">Chưa có đánh giá nào cho sản phẩm.</p>
																
															<% end %>
														
														</article>
            
                                                        <!-- - - - - - - - - - - - - - End of review - - - - - - - - - - - - - - - - -->
            
                                                    </li>
            
                                                </ul>
            
                                            </section><!--/ .section_offset -->
            
                                            <section class="section_offset">
            
                                                <h3>Viết đánh giá cho sản phẩm</h3>
            
                                                <div class="row">
            
                                                    <div class="col-lg-12 col-md-12">
            
                                                        <!-- - - - - - - - - - - - - - Review form - - - - - - - - - - - - - - - - -->
														
														<%= form_for @comment, html: {class: "type_2"} do |f| %>
														
															<% if current_user.present? %>
																
																<%= f.hidden_field :user_id, value: current_user.id %>
															
															<% end %>
														
															<%= f.hidden_field :product_id, value: @product.id %>
            
                                                            <ul>
            
                                                                <li class="row">
            
                                                                    <div class="col-sm-12">
                                                                        
                                                                        <label for="cf_name" class="required">Họ & Tên</label>
                                                                        
																		<% if current_user.present? %>
																			
																			<%= f.text_field :name, value: current_user.first_name + ' ' + current_user.last_name, readonly: true, required: true %>
																		
																		<% else %>
																			
																			<%= f.text_field :name, required: true %>
																			
																		<% end %>
            
                                                                    </div>
            
                                                                </li>
            
                                                                <li class="row">
            
                                                                    <div class="col-xs-12">
            
                                                                        <label for="cf_name" class="required">Nội dung</label>
            
                                                                        <%= f.text_area :content, rows: "5", required: true %>
            
                                                                    </div>
            
                                                                </li>
                                                                
                                                                <li class="row">

                                                                    <div class="col-xs-12">
                    
                                                                        <label for="cf_name" class="required">Đánh giá</label>
                    
                                                                        <div class="form_el">
																			
																			<%= f.radio_button :star, '1', required: true %><label for="comment_star_1">Rất kém</label>
																			
																			<%= f.radio_button :star, '2', required: true %><label for="comment_star_2">Kém</label>
																			
																			<%= f.radio_button :star, '3', required: true %><label for="comment_star_3">Bình thường</label>
																			
																			<%= f.radio_button :star, '4', required: true %><label for="comment_star_4">Tốt</label>
																			
																			<%= f.radio_button :star, '5', required: true %><label for="comment_star_5">Rất tốt</label>
                    
                                                                        </div>
                    
                                                                    </div>
                    
                                                                </li>
																
																<%= f.submit "Gửi đánh giá", class: "button_blue middle_btn alignright" %>
            
                                                            </ul>
            
                                                        <% end %>
            
                                                        <!-- - - - - - - - - - - - - - End of review form - - - - - - - - - - - - - - - - -->
            
                                                    </div>
            
                                                </div><!--/ .row -->
            
                                            </section><!--/ .section_offset -->
            
                                        </div><!--/ #tab-3-->
            
                                        <!-- - - - - - - - - - - - - - End tab - - - - - - - - - - - - - - - - -->
            
                                    </div><!--/ .tab_containers_wrap -->
            
                                    <!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->
            
                                </div><!--/ .tabs-->
            
                            </div><!--/ .section_offset -->
            
                            <!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->
            
                            <!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->
            
                            <div class="section_offset">
            
                                <div class="tabs products">
                                    
                                    <h3>Sản phẩm liên quan</h3>
            
                                    <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->
            
                                    <div class="tab_containers_wrap">
            
                                        <div id="tab-5" class="tab_container">
            
                                            <!-- - - - - - - - - - - - - - Carousel of featured products - - - - - - - - - - - - - - - - -->
            
                                            <div class="owl_carousel carousel_in_tabs type_2">
												
												<% @product.get_related_products.each do |product| %>
                                                
													<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
				
													<div class="product_item">
				
														<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
				
														<div class="image_wrap">
				
															<% if product.get_main_image.present? %>
																
																<img src="<%= product.get_main_image.image_url.medium_image %>" alt="">
															
															<% else %>
																
																<img src="/frontend/images/medium_image.png" alt="">
															
															<% end %>
				
															<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
				
															<div class="actions_wrap">
				
																<div class="centered_buttons">
				
																	<a href="#" class="button_dark_grey quick_view" data-modal-url="<%= quick_view_path(product_id: product.id) %>">Xem nhanh</a>
				
																	<%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: product), class: "button_blue add_to_cart" %>
				
																</div><!--/ .centered_buttons -->
				
																<a href="#" class="button_dark_grey def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào mục yêu thích</span></a>
				
																<a href="#" class="button_dark_grey def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>
				
															</div><!--/ .actions_wrap-->
															
															<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
				
														</div><!--/. image_wrap-->
				
														<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
				
														<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
				
														<div class="description">
															
															<div class="nowrap-ellipsis">
																
																<%= link_to product.name, { controller: "product", action: "product", product_id: product.id }, title: product.name %>
															
															</div>
															
															<div class="clearfix product_info">
				
																<p class="product_price alignleft"><b><%= format_number(product.price) %> đ</b></p>
				
															</div>
				
														</div>
				
														<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
				
													</div><!--/ .product_item-->
													
													<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->
													
												<% end %>
            
                                            </div><!--/ .sh_container-->
                                            
                                            <!-- - - - - - - - - - - - - - End of carousel of featured products - - - - - - - - - - - - - - - - -->
            
                                        </div><!--/ #tab-1-->
            
                                    </div>
            
                                    <!-- - - - - - - - - - - - - - End of tabs containers - - - - - - - - - - - - - - - - -->
            
                                </div><!--/ .tabs.section_offset-->
            
                            </div>
                                
                            <!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->
                            
                            <section class="section_offset">

								<h3 class="offset_title">Sản phẩm vừa xem</h3>

								<div class="owl_carousel other_products">

									<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

									<div class="product_item">

										<!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

										<div class="image_wrap">

											<img src="/frontend/images/product_img_6.jpg" alt="">

											<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

											<div class="actions_wrap">

												<div class="centered_buttons">

													<a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

													<a href="#" class="button_blue middle_btn add_to_cart">Thêm giỏ hàng</a>

												</div><!--/ .centered_buttons -->

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào mục yêu thích</span></a>

												<a href="#" class="button_dark_grey middle_btn def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>

											</div><!--/ .actions_wrap-->
											
											<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

										</div><!--/. image_wrap-->

										<!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

										<div class="description">

											<div class="nowrap-ellipsis">
            
                                                <a href="#" title="Adipiscing aliquet sed in lacus, Liqui-gels 24">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
                                            
                                            </div>

											<div class="clearfix product_info">

												<p class="product_price alignleft"><b>$75.39</b></p>

											</div>

										</div>

										<!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

									</div><!--/ .product_item-->
									
									<!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

								</div><!--/ .owl_carousel -->

							</section><!--/ .section_offset -->

                        </main><!--/ [col] -->

                    </div><!--/ .row -->

                </div> 

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.elevateZoom-3.0.8.min.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>