<!--==================================
		Quick view modal window
======================================-->

<div id="quick_view" class="modal_window">

	<button class="close arcticmodal-close"></button>
	
	<div class="quick_view_add_cart_success">
		
		<!-- - - - - - - - - - - - - - Alert box - - - - - - - - - - - - - - - - -->
		
		<div class="alert_box success">

			<b>Thêm thành công!</b> Xem <%= link_to "giỏ hàng", { controller: "checkout", action: "shopping_cart" } %> của bạn.

			<a class="close"></a>

		</div>
		
		<!--/ .alert_box.success -->
		
		<br/>
		
	</div>
	
	<div class="quick_view_add_wishlist_success">
		
		<div class="alert_box info">

			<b>Thêm thành công!</b> Xem <%= link_to "danh sách", { controller: "account", action: "wishlist" } %> sản phẩm yêu thích.
	
			<a class="close"></a>
	
		</div>
		
		<!--/ .alert_box.info -->
		
		<br/>
		
	</div>
	
	<div class="quick_view_add_wishlist_error">
		
		<!-- - - - - - - - - - - - - - Alert box - - - - - - - - - - - - - - - - -->
		
		<div class="alert_box info">

			<b>Thêm thất bại!</b> Bạn cần <%= link_to "đăng nhập", { controller: "account", action: "login" } %> hoặc <%= link_to "đăng ký", { controller: "account", action: "register" } %> để thêm sản phẩm vào danh sách yêu thích.
	
			<a class="close"></a>
	
		</div>
		
		<br/>
		
	</div>
	
	<div class="quick_view_add_compare_success">
		
		<!-- - - - - - - - - - - - - - Alert box - - - - - - - - - - - - - - - - -->
		
		<div class="alert_box success">

			<b>Thêm thành công!</b> Xem <%= link_to "danh sách", { controller: "product", action: "comparison" } %> sản phẩm so sánh.

			<a class="close"></a>

		</div>
		
		<!--/ .alert_box.success -->
		
		<br/>
		
	</div>

	<div class="clearfix">

		<!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

		<div class="single_product">

			<!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

			<div class="image_preview_container" id="qv_preview">

				<img id="img_zoom" data-zoom-image="<%= @product.get_main_image.image_url.big_image %>" src="<%= @product.get_main_image.image_url.large_image %>" alt="">

			</div><!--/ .image_preview_container-->

			<!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->
			
			<div class="product_preview" data-output="#qv_preview">

				<div class="owl_carousel" id="thumbnails">
				
					<% @product.product_images.each do |item| %>

						<img src="<%= item.image_url.small_image %>" data-large-image="<%= item.image_url.large_image %>" alt="">
					
					<% end %>

				</div><!--/ .owl-carousel-->

			</div><!--/ .product_preview-->
			
			<!-- - - - - - - - - - - - - - End of prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

		</div>

		<!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

		<div class="single_product_description">

			<h3><%= link_to @product.name, { controller: "product", action: "product", product_id: @product } %></h3>

			<div class="description_section v_centered">

				<% if @product.count_stars.length > 0 %>

					<!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
					
					<ul class="rating">
						
						<% (1..@product.average_stars).each do |star| %>

							<li class="active"></li>
						
						<% end %>

					</ul>
						
					<!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

				<% end %>

				<!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->

				<ul class="topbar">
                    
					<li class="rate">
						<% if @product.comments.count == 0 %>
	
							<%= link_to "Chưa đánh giá sản phẩm.", { controller: "product", action: "product", product_id: @product.id, status: "tab_comment" } %>
							
						<% else %>
							
							<a href="#"><%= @product.comments.count %> đánh giá sản phẩm.</a>
							
						<% end %>
					</li>
                    
					<li>
						<% if current_user.present? %>
												
							<%= link_to '<span class="tooltip top">Thêm vào mục yêu thích</span>'.html_safe, add_item_wish_lists_path(product_id: @product, user_id: current_user.id), class: "color_red button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container quick_view_add_to_wishlist_button" %>
						
						<% else %>
							
							<%= link_to '<span class="tooltip top">Thêm vào mục yêu thích</span>'.html_safe, { controller: "account", action: "login" }, class: "color_red button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container error_quick_view_add_to_wishlist_button" %>
						
						<% end %>
						
						<%= link_to '<span class="tooltip top">Thêm vào danh sách so sánh</span>'.html_safe, add_item_line_item_compares_path(product_id: @product), class: "color_orange button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container quick_view_add_to_compare_button" %>
		
						<%= link_to '<span class="tooltip top">Câu hỏi về sản phẩm</span>'.html_safe, { controller: "product", action: "product", product_id: @product.id, status: "tab-questions"}, class: "color_facebook button_dark_grey def_icon_btn middle_btn add_to_question tooltip_container" %>
					</li>

				</ul>

				<!-- - - - - - - - - - - - - - End of reviews menu - - - - - - - - - - - - - - - - -->

			</div>

			<div class="description_section">

				<table class="product_info">

					<tbody>

						<tr>

							<td class="line_product_info"><b>Thương hiệu sản phẩm:</b> </td>
							<td><%= link_to @product.manufacturer.name, { controller: "manufacturer", action: "products", manufacturer_id: @product.manufacturer_id } %></td>

						</tr>

						<tr>

							<td class="line_product_info"><b>Mã sản phẩm:</b> </td>
							<td><%= @product.code %></td>

						</tr>

						<tr>

							<td class="line_product_info"><b>Trạng thái:</b> </td>
							<td>Có hàng</td>

						</tr>
						
						<tr>

							<td class="line_product_info"><b>Đơn vị:</b> </td>
							<td><%= format_number(@product.quantity) + "" + @product.unit %></td>

						</tr>
						
						<tr>

							<td class="line_product_info"><b>Phương thức thanh toán:</b> </td>
							<td>
								<% PaymentMethod.get_all_payment_methods.each do |item| %>
									<%= item.title + ", " %>
								<% end %>
							</td>

						</tr>

					</tbody>

				</table>

			</div>

			<hr>

			<div class="description_section">

				<p class="text-justify"><%= @product.short_description %></p>
				
			</div>

			<hr>

			<p class="product_price"><b class="theme_color"><%= format_number(@product.price) %> đ</b></p>

			<!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

			<div class="description_section_2 v_centered">
				
				<span class="title">Số lượng:</span>

				<div class="qty min clearfix">

					<button class="theme_button" data-direction="minus">&#45;</button>
					<input type="text" name="" class="quantity" value="1">
					<button class="theme_button" data-direction="plus">&#43;</button>

				</div>

			</div>

			<!-- - - - - - - - - - - - - - End of quantity - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

			<div class="buttons_row">
				
				<%= link_to 'Thêm vào giỏ hàng', add_to_cart_line_items_path(product_id: @product), class: "button_blue middle_btn add_to_cart quick_view_add_to_cart_button" %>
				
				<%= link_to 'Mua ngay', add_cart_buy_now_line_items_path(product_id: @product), class: "button_buy_now middle_btn add_to_cart" %>
				
            </div>

			<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
			
			<!-- - - - - - - - - - - - - - Share - - - - - - - - - - - - - - - - -->
			
			<div class="v_centered mrg-top">

				<div class="addthis_widget_container">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					<a class="addthis_button_preferred_1"></a>
					<a class="addthis_button_preferred_2"></a>
					<a class="addthis_button_preferred_3"></a>
					<a class="addthis_button_preferred_4"></a>
					<a class="addthis_button_compact"></a>
					<a class="addthis_counter addthis_bubble_style"></a>
					</div>
					<!-- AddThis Button END -->
				</div>
				
			</div>
			
			<!-- - - - - - - - - - - - - - End of share - - - - - - - - - - - - - - - - -->

		</div>

		<!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

	</div>

</div>

<script>
	$(document).on("click", ".quick_view_add_to_cart_button", function(e){
		e.preventDefault();
		
		var url = $(this).attr("href");
		$.ajax({
			method: "GET",
			url: url,
			data: {quantity: $("input.quantity").val()}
		})
		.done(function( msg ) {
			get_cart();
			$(".quick_view_add_cart_success").show();
	
			$(".quick_view_add_wishlist_success").hide();
			
			$(".quick_view_add_wishlist_error").hide();
			
			$(".quick_view_add_compare_success").hide();
		});
	});
	$(document).on("click", ".quick_view_add_to_wishlist_button", function(e){
		e.preventDefault();
		
		var url = $(this).attr("href");
		$.ajax({
			method: "GET",
			url: url
		})
		.done(function( msg ) {
			get_cart();
			$(".quick_view_add_cart_success").hide();
	
			$(".quick_view_add_wishlist_success").show();
			
			$(".quick_view_add_wishlist_error").hide();
			
			$(".quick_view_add_compare_success").hide();
		});
	});
	$(document).on("click", ".error_quick_view_add_to_wishlist_button", function(e){
		e.preventDefault();
		$(".quick_view_add_cart_success").hide();
	
		$(".quick_view_add_wishlist_success").hide();
		
		$(".quick_view_add_wishlist_error").show();
		
		$(".quick_view_add_compare_success").hide();
	});
	$(document).on("click", ".quick_view_add_to_compare_button", function(e){
		e.preventDefault();
		
		var url = $(this).attr("href");
		$.ajax({
			method: "GET",
			url: url
		})
		.done(function( msg ) {
			get_cart();
			$(".quick_view_add_cart_success").hide();
	
			$(".quick_view_add_wishlist_success").hide();
			
			$(".quick_view_add_wishlist_error").hide();
			
			$(".quick_view_add_compare_success").show();
		});
	});
	$(".quick_view_add_cart_success").hide();
	
	$(".quick_view_add_wishlist_success").hide();
	
	$(".quick_view_add_wishlist_error").hide();
	
	$(".quick_view_add_compare_success").hide();
</script>

<!--==================================
		End quick view modal window
====================================== -->