<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="<%= root_path %>">Trang chủ</a></li>
                    <li><a href="#">Customer Testimonials</a></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <div class="section_offset">

                    <div class="row">

                        <div id="content" class="col-sm-12">
                          
                            <h1>Write testimonial</h1>
                            
                            <div class="table_wrap bordered_content padded">
                            
                                <p>Testimonial is your experience or comments on the website.</p>
                                
                                <form action="/product/testimonialform" method="post" enctype="multipart/form-data" id="testimonial" class="type_2">
                              
                                    <ul>
                        
                                        <li class="row">
                                    
                                          <div class="col-xs-12">
                                    
                                            <label class="required" for="input-desc">Testimonial:</label>
                                    
                                            <textarea name="description" rows="10" id="input-desc" class="form-control"></textarea>
                                    
                                          </div>
                                    
                                        </li>
                                    
                                        <li class="row">
                                    
                                          <div class="col-xs-12">
                                    
                                            <label for="input-name">Name:</label>
                                    
                                            <input type="text" name="name" id="input-name" value="" class="form-control" vk_12c2f="subscribed">
                                    
                                          </div>
                                    
                                        </li>
                                    
                                        <li class="row">
                                    
                                          <div class="col-xs-12">
                                    
                                            <label for="input-city">City:</label>
                                    
                                            <input type="text" name="city" id="input-city" value="" class="form-control" vk_12c2f="subscribed">
                                    
                                          </div>
                                    
                                        </li>
                                    
                                        <li class="row">
                                    
                                          <div class="col-xs-12">
                                    
                                            <label for="input-email">Email address (will not be published):</label>
                                    
                                            <input type="text" name="email" id="input-email" value="" class="form-control" vk_12c2f="subscribed">
                                    
                                          </div>
                                    
                                        </li>
                                      
                                    </ul>
                              
                                </form>
                              
                            </div>
                            
                            <footer class="bottom_box on_the_sides">

                                <div class="left_side">
                            
                                    <div class="g-recaptcha" data-sitekey="6LehxAQTAAAAAHP-c_WTM-4XaxbytblTHvzfvpnd">
                                        <div>
                                            <div style="width: 304px; height: 78px;">
                                                <iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LehxAQTAAAAAHP-c_WTM-4XaxbytblTHvzfvpnd&amp;co=aHR0cDovL3ZlbGlrb3JvZG5vdi5jb206ODA.&amp;hl=vi&amp;v=r20160328144503&amp;size=normal&amp;cb=dkeid3xgejrb" title="tiện ích con mã xác thực lại" width="304" height="78" role="presentation" frameborder="0" scrolling="no" name="undefined">
                                                    
                                                </iframe>
                                            </div>
                                            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; ">
                                                
                                            </textarea>
                                        </div>
                                    </div>
                                   
                                </div>
                            
                                <div class="right_side">
                            
                                    <input class="btn btn-primary" type="submit" value="Send">
                            
                                </div>
    
                            </footer>
                        
                        </div>

                    </div><!--/ .row -->

                </div>

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= stylesheet_link_tag '/frontend/css/stylesheet.css' %>
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.elevateZoom-3.0.8.min.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>