<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
                    <li><%= link_to "Ý kiến khách hàng", testimonial_list_path %></li>
                    <li><%= @title_head %></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <div class="section_offset">

                    <div class="row">

                        <div id="content" class="col-sm-12">
                          
                            <h1><%= @title_head %></h1>
                            
                            <div class="table_wrap bordered_content padded">
                            
                                <p>Viết ý kiến, nhận xét của bạn dành cho website DacSanVungMien.net.</p>
                                
                                <%= form_for @testimonial, html: {class: "type_2"} do |f| %>
                              
                                    <ul>
                                    
                                        <li class="row">
                                    
                                            <div class="col-xs-12">
                                      
                                                <label class="required" for="input-name">Tên khách hàng:</label>
                                                
                                                <% if current_user.present? %>
                                                    
                                                    <input class="required" type="text" name="testimonial[name]" id="testimonial_name" value="<%= current_user.first_name + " " + current_user.last_name %>" class="form-control" readonly >
                                                    
                                                <% else %>
                                                    
                                                    <input class="required" type="text" name="testimonial[name]" id="testimonial_name" class="form-control" >
                                                    
                                                <% end %>
                                                    
                                            </div>
                                    
                                        </li>
                                    
                                        <li class="row">
                                    
                                            <div class="col-xs-12">
                                      
                                                <label class="required" for="input-city">Tỉnh/Thành phố:</label>
                                      
                                                <div class="form_el">
													
													<div>
							  
														<select class="required" name="testimonial[city]">
                                                            
                                                            <% if current_user.present? %>
			
                                                                <% Area.get_list_province_city.each do |area| %>
                      
                                                                    <option <%= "selected" if (current_user.province.to_i == area.id) %> value="<%= area.name %>"><%= area.name %></option>
                                                                
                                                                <% end %>
                                                            
                                                            <% else %>
                                                                
                                                                <% Area.get_list_province_city.each do |area| %>
                      
                                                                    <option value="<%= area.name %>"><%= area.name %></option>
                                                                
                                                                <% end %>
                                                                
                                                            <% end %>
				
														</select>
													
													</div>
							  
												</div>
                                      
                                            </div>
                                    
                                        </li>
                                    
                                        <li class="row">
                                    
                                            <div class="col-xs-12">
                                      
                                                <label class="required" for="input-email">Địa chỉ email (Không hiển thị trên website):</label>
                                                
                                                <% if current_user.present? %>
                                                    
                                                    <input class="required email" type="text" name="testimonial[email]" id="testimonial_email" value="<%= current_user.email %>" class="form-control" readonly >
                                                    
                                                <% else %>
                                                    
                                                    <input class="required email" type="text" name="testimonial[email]" id="testimonial_email" class="form-control" >
                                                    
                                                <% end %>
                                      
                                            </div>
                                    
                                        </li>
                                        
                                        <li class="row">
                                    
                                            <div class="col-xs-12">
                                      
                                                <label class="required" for="input-desc">Nội dung:</label>
                                      
                                                <textarea class="required" name="testimonial[content]" rows="10" id="testimonial_content" class="form-control"></textarea>
                                      
                                            </div>
                                    
                                        </li>
                                      
                                    </ul>
                              
                                <% end %>
                              
                            </div>
                            
                            <footer class="bottom_box on_the_sides">

                                <div class="left_side">
                            
                                    <div class="g-recaptcha" data-sitekey="6LehxAQTAAAAAHP-c_WTM-4XaxbytblTHvzfvpnd">
                                        
                                        <div>
                                            
                                            <div style="width: 304px; height: 78px;">
                                                
                                                <iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LehxAQTAAAAAHP-c_WTM-4XaxbytblTHvzfvpnd&amp;co=aHR0cDovL3ZlbGlrb3JvZG5vdi5jb206ODA.&amp;hl=vi&amp;v=r20160328144503&amp;size=normal&amp;cb=dkeid3xgejrb" title="tiện ích con mã xác thực lại" width="304" height="78" role="presentation" frameborder="0" scrolling="no" name="undefined"></iframe>
                                            
                                            </div>
                                            
                                            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea>
                                        
                                        </div>
                                    
                                    </div>
                                   
                                </div>
                            
                                <div class="right_side">
                            
                                    <input form="new_testimonial" class="btn btn-primary" type="submit" value="Gửi ý kiến">
                            
                                </div>
    
                            </footer>
                        
                        </div>

                    </div><!--/ .row -->

                </div>

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
	============================================ -->
    <%= stylesheet_link_tag '/frontend/css/stylesheet.css' %>
	<%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
	<%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
	<%= javascript_include_tag '/frontend/js/rs-plugin/js/jquery.themepunch.tools.min.js' %>
	<%= javascript_include_tag '/frontend/js/rs-plugin/js/jquery.themepunch.revolution.min.js' %>
	<%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
	<%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
	<%= javascript_include_tag '/frontend/js/royalslider/jquery.easing-1.3.js' %>
	<%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
	<%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
	<%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
	<%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
	<%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
	<%= javascript_include_tag '/frontend/js/retina.min.js' %>
	<%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
	<%= javascript_include_tag 'https://select2.github.io/dist/js/select2.full.js' %>
	<%= stylesheet_link_tag "https://select2.github.io/dist/css/select2.min.css" %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>
	
	<!-- Theme files
	============================================ -->
	<%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
	<%= javascript_include_tag '/frontend/js/theme.core.js' %>
    <script>
        $(document).ready(function(){
            $("#new_testimonial").validate();
        });
    </script>
</body>