<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout page_with_main_nav">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render "module/header" %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                

                <div class="row">

                    <aside class="col-md-3 col-sm-4 has_mega_menu">

                        <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                        <%= render "module/categories" %>

                        <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <a href="#" class="banner">
                                
                                <img src="/frontend/images/banner_img_10.png" alt="">

                            </a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Bestseller products - - - - - - - - - - - - - - - - -->
                        
                            <%= render "module/category_bestseller" %>
                        
                        <!-- - - - - - - - - - - - - - End of bestseller products - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <a href="#" class="banner">
                                
                                <img src="/frontend/images/banner_img_11.png" alt="">

                            </a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                    </aside>

                    <main class="col-md-9 col-sm-8">
                        
                        <%= render 'module/main_nav_right' %>
                        
                        <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                        <ul class="breadcrumbs">
                            
                            <li><%= link_to "Trang chủ", root_path %></li>
                            
                            <li><%= link_to "Sản phẩm", root_path %></li>
                            
                            <% if params[:st] == "deal" %>
                                
                                <li>Hàng khuyến mãi</li>
                            
                            <% elsif params[:st] == "prominent" %>
                                
                                <li>Sản phẩm nổi bật</li>
                            
                            <% elsif params[:st] == "bestseller" %>
                                
                                <li>Sản phẩm bán chạy</li>
                            
                            <% elsif params[:st] == "new" %>
                               
                                <li>Sản phẩm mới</li>
                            
                            <% elsif params[:st] == "imported" %>
                               
                                <li>Hàng nhập khẩu</li>
                            
                            <% end %>
        
                        </ul>
                        
                        <!--render 'todays_deals'-->

                        <section class="">
                          
                            <% if params[:st] == "deal" %>
                                
                                <h1>Hàng khuyến mãi</h1>
                            
                            <% elsif params[:st] == "prominent" %>
                               
                                <h1>Sản phẩm nổi bật</h1>
                            
                            <% elsif params[:st] == "bestseller" %>
                                
                                <h1>Sản phẩm bán chạy</h1>
                            
                            <% elsif params[:st] == "new" %>
                               
                                <h1>Sản phẩm mới</h1>
                            
                            <% elsif params[:st] == "imported" %>
                               
                                <h1>Hàng nhập khẩu</h1>
                            
                            <% end %>

                        </section>

                        <!-- - - - - - - - - - - - - - Products - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <header class="top_box on_the_sides">

                                <div class="left_side clearfix v_centered">
                                    
                                    <%= form_tag({controller: "product", action: "view_all_product_by_status"}, method: "get") do %>
                                        
                                        <%= hidden_field_tag "number", params[:number] %>
                                        
                                        <!-- - - - - - - - - - - - - - Sort by - - - - - - - - - - - - - - - - -->
    
                                        <div class="v_centered">
                                            
                                            <span>Sắp xếp:</span>
    
                                            <div class="sort_select">
                                                
                                                <select name="sort_group">
                                                        
                                                    <option value="">Mặc định</option>
                                                    <option <%= "selected" if params[:sort_group] == "products.name asc" %> value="products.name asc">Tên (A - Z)</option>
                                                    <option <%= "selected" if params[:sort_group] == "products.name desc" %> value="products.name desc">Tên (Z - A)</option>
                                                    <option <%= "selected" if params[:sort_group] == "products.price desc" %> value="products.price desc">Giá (Cao - Thấp)</option>
                                                    <option <%= "selected" if params[:sort_group] == "products.price asc" %> value="products.price asc">Giá (Thấp - Cao)</option>
    
                                                </select>
    
                                            </div>
    
                                        </div>
    
                                        <!-- - - - - - - - - - - - - - End of sort by - - - - - - - - - - - - - - - - -->
                                    
                                    <% end %>

                                </div>

                                <div class="right_side">
                                    
                                    <%= form_tag({controller: "product", action: "view_all_product_by_status"}, method: "get") do %>
                                        <%= hidden_field_tag "sort_group", params[:sort_group] %>
                                    
                                        <div class="v_centered mrg-show-category">
                                        
                                            <span>Hiển thị:</span>
            
                                            <div class="show_select">
        
                                                <select name="number">
        
                                                    <option <%= "selected" if params[:number] == "15" %> value="15">15</option>
                                                    <option <%= "selected" if params[:number] == "12" %> value="12">12</option>
                                                    <option <%= "selected" if params[:number] == "9" %> value="9">9</option>
                                                    <option <%= "selected" if params[:number] == "6" %> value="6">6</option>
                                                    <option <%= "selected" if params[:number] == "3" %> value="3">3</option>
        
                                                </select>
        
                                            </div>
                                            
                                        </div>
                                        
                                    <% end %>

                                    <!-- - - - - - - - - - - - - - Product layout type - - - - - - - - - - - - - - - - -->

                                    <div class="layout_type buttons_row" data-table-container="#products_container">

                                        <a href="#" value="grid_view" data-table-layout="grid_view" class="change_view_button button_grey middle_btn icon_btn active tooltip_container"><i class="icon-th"></i><span class="tooltip top">Xem dạng lưới</span></a>

                                        <a href="#" value="list_view" data-table-layout="list_view list_view_products" class="change_view_button button_grey middle_btn icon_btn tooltip_container"><i class="icon-th-list"></i><span class="tooltip top">Xem dạng danh sách</span></a>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of product layout type - - - - - - - - - - - - - - - - -->

                                </div>

                            </header>

                            <div class="table_layout" id="products_container">

                                <div class="table_row">
                                    
                                    <% @view_all_products.each_with_index do |product, index| %>
                                    
                                        <a href="#" class="button_dark_grey add_cart_success" data-modal-url="<%= add_cart_success_path %>">Success</a>
											
                                        <a href="#" class="button_dark_grey add_wishlist_success" data-modal-url="<%= add_wishlist_success_path %>">Success</a>
                                        
                                        <a href="#" class="button_dark_grey add_compare_success" data-modal-url="<%= add_compare_success_path %>">Success</a>
                                        
                                        <a href="#" class="button_dark_grey no_singed" data-modal-url="<%= no_singed_path %>">No Singed</a>
                                        
                                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
    
                                        <div class="table_cell">
    
                                            <div class="product_item">
    
                                                <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->
    
                                                <div class="image_wrap">
                                                    
                                                    <% if product.get_main_image.present? %>
																
                                                        <img src="<%= product.get_main_image.image_url.medium_image %>" alt="">
                                                    
                                                    <% else %>
                                                        
                                                        <img src="/frontend/images/medium_image.png" alt="">
                                                    
                                                    <% end %>
    
                                                    <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
    
                                                    <div class="actions_wrap">
    
                                                        <div class="centered_buttons">
                                                            
                                                            <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="<%= quick_view_path(product_id: product.id) %>">Xem nhanh</a>
                                                            
                                                            <%= link_to 'Thêm vào giỏ hàng', add_to_cart_line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart add_to_cart_category add_to_cart_button" %>
    
                                                        </div><!--/ .centered_buttons -->
                                                        
                                                        <% if current_user.present? %>
											
                                                            <%= link_to '<span class="tooltip right">Thêm vào mục yêu thích</span>'.html_safe, add_item_wish_lists_path(product_id: product, user_id: current_user.id), class: "color_red button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container add_to_wishlist_button" %>
                                                        
                                                        <% else %>
                                                            
                                                            <%= link_to '<span class="tooltip right">Thêm vào mục yêu thích</span>'.html_safe, { controller: "account", action: "login" }, class: "color_red button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container no_singed_button" %>
                                                        
                                                        <% end %>
                                                        
                                                        <%= link_to '<span class="tooltip left">Thêm vào danh sách so sánh</span>'.html_safe, add_item_line_item_compares_path(product_id: product), class: "color_orange button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container add_to_compare_button" %>
    
                                                    </div><!--/ .actions_wrap-->

                                                    <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
                                            
                                                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->
                                                    
                                                    <% if product.is_deal? and params[:st] == "deal" %>
                                            
                                                        <% if !product.discount_percent.nil? or !product.discount_percent == 0 %>
                                                            
                                                            <div class="label_offer percentage">
                                    
                                                                <div><%= product.discount_percent.to_i %>%</div>OFF
                                    
                                                            </div>
                                                            
                                                        <% end %>
                                                        
                                                    <% end %>
                                                    
                                                    <% if params[:st] == "new" %>
                                                        
                                                        <div class="label_new"><div>Mới</div></div>
                                                        
                                                    <% end %>
                                                    
                                                    <% if params[:st] == "bestseller" %>
                                                        
                                                        <%= product.display_is_bestseller.html_safe %>
                                                        
                                                    <% end %>
                                                    
                                                    <% if params[:st] == "prominent" %>
                                                        
                                                        <%= product.display_is_prominent.html_safe %>
                                                        
                                                    <% end %>
                                                    
                                                    <% if params[:st] == "imported" %>
                                                        
                                                        <%= product.display_is_imported.html_safe %>
                                                        
                                                    <% end %>
                                                    
                                                    <% if product.is_sold_out? %>
                                                        
                                                        <div class="lbl_right_soldout">
                                
                                                            <div><%= product.display_is_sold_out %></div>
                                
                                                        </div>
                                                        
                                                    <% end %>
                                
                                                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->
    
                                                </div><!--/. image_wrap-->
    
                                                <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->
    
                                                <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->
                                                
                                                <div class="description">
                                                    
                                                    <div class="nowrap-ellipsis">
                                                       
                                                       <%= link_to product.name, { controller: "product", action: "product", product_id: product.id }, title: product.name %>
                                                       
                                                    </div>
    
                                                    <div class="clearfix product_info">
    
                                                        <% if product.is_deal? %>
                                        
                                                            <p class="product_price alignleft"><s><%= format_number(product.old_price) %>đ</s> <b><%= format_number(product.price) %> đ</b></p>
                                                            
                                                        <% elsif %>
                            
                                                            <p class="product_price alignleft"><b><%= format_number(product.price) %> đ</b></p>
                                                            
                                                        <% end %>
    
                                                        <% if product.count_stars.length > 0 %>

                                                            <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
                                                            
                                                            <ul class="rating alignright">
                                                                
                                                                <% (1..product.average_stars).each do |star| %>
                
                                                                    <li class="active"></li>
                                                                
                                                                <% end %>
                
                                                            </ul>
                                                                
                                                            <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->
            
                                                        <% end %>
    
                                                    </div>
    
                                                </div>
    
                                                <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->
    
                                                <!-- - - - - - - - - - - - - - Full description (only for list view) - - - - - - - - - - - - - - - - -->
    
                                                <div class="full_description">
    
                                                    <div class="nowrap-ellipsis">
                                                        
                                                        <%= link_to product.name, { controller: "product", action: "product", product_id: product.id }, class: "product_title", title: product.name %>
                                                        <% if !product.manufacturer.nil? %>
                                                            <%= link_to product.manufacturer.name, { controller: "manufacturer", action: "list" }, class: "product_category" %>
                                                        <% end %>
                                                        
                                                    </div>

                                                    <div class="v_centered product_reviews">
    
                                                        <% if product.count_stars.length > 0 %>

                                                            <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
                                                            
                                                            <ul class="rating">
                                                                
                                                                <% (1..product.average_stars).each do |star| %>
                
                                                                    <li class="active"></li>
                                                                
                                                                <% end %>
                
                                                            </ul>
                                                                
                                                            <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->
            
                                                        <% end %>
    
                                                    </div>
    
                                                    <p class="text-justify"><%= product.short_description %></p>
    
                                                </div>
    
                                                <!-- - - - - - - - - - - - - - End of full description (only for list view) - - - - - - - - - - - - - - - - -->
                                                
                                                <!-- - - - - - - - - - - - - - Product price & actions (only for list view) - - - - - - - - - - - - - - - - -->
    
                                                <div class="actions">
    
                                                    <% if product.is_deal? %>
                                        
                                                        <p class="product_price bold"><s><%= format_number(product.old_price) %>đ</s> <%= format_number(product.price) %> đ</p>
                                                        
                                                    <% elsif %>
                        
                                                        <p class="product_price bold"><%= format_number(product.price) %> đ</p>
                                                        
                                                    <% end %>
    
                                                    <ul class="buttons_col">
                                                        
                                                        <%= link_to 'Thêm vào giỏ hàng', add_to_cart_line_items_path(product_id: product), class: "button_blue middle_btn add_to_cart add_to_cart_category add_to_cart_button" %>
                                                        
                                                        <% if current_user.present? %>
                                                            
                                                            <li><%= link_to '<i class="icon-heart-5 icon_red"></i>Thêm vào mục yêu thích'.html_safe, add_item_wish_lists_path(product_id: product, user_id: current_user.id), class: "icon_link icon_link_fix add_to_wishlist_button" %></li>
                                                        
                                                        <% else %>
                                                            
                                                            <li><%= link_to '<i class="icon-heart-5 icon_red"></i>Thêm vào mục yêu thích'.html_safe, { controller: "account", action: "login" }, class: "icon_link icon_link_fix no_singed_button" %></li>
                                                            
                                                        <% end %>
                                                        
                                                        <li><%= link_to '<i class="icon-resize-small icon_orange"></i>Thêm vào mục so sánh'.html_safe, add_item_line_item_compares_path(product_id: product), class: "icon_link icon_link_fix add_to_compare_button" %></li>
    
                                                    </ul>
    
                                                </div>
    
                                                <!-- - - - - - - - - - - - - - End product price & actions (only for list view) - - - - - - - - - - - - - - - - -->
    
                                            </div><!--/ .product_item-->
    
                                        </div>
                                    
                                        <%= "</div><div class=\"table_row\"><!--/ .table_row -->".html_safe if index%3 == 2 %>
                                    
                                    <% end %>
                                    
                                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                                    
                                </div>

                            </div><!--/ .table_layout -->

                            <footer class="bottom_box on_the_sides">

                                <div class="left_side">

                                    <p><%= page_entries_info @view_all_products.get_active_products %> sản phẩm.</p>
    
                                </div>

                                <div class="right_side">
                                
                                    <%= will_paginate @view_all_products.get_active_products, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
    
                                </div>

                            </footer>

                        </div>

                        <!-- - - - - - - - - - - - - - End of products - - - - - - - - - - - - - - - - -->

                    </main>

                </div><!--/ .row -->

            </div><!--/ .container-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render "module/footer" %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render "module/social_feeds" %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery-ui.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
    <script>
		$(document).on("click", ".add_to_cart_button", function(e){
			e.preventDefault();
			
			var url = $(this).attr("href");
			$.ajax({
				method: "GET",
				url: url,
				data: {quantity: $("input.quantity").val()}
			})
			.done(function( msg ) {
				get_cart();
				$(".add_cart_success").trigger("click")
			});
		});
        $(document).on("click", ".add_to_wishlist_button", function(e){
			e.preventDefault();
			
			var url = $(this).attr("href");
			$.ajax({
				method: "GET",
				url: url
			})
			.done(function( msg ) {
				get_cart();
				$(".add_wishlist_success").trigger("click");
			});
		});
		$(document).on("click", ".add_to_compare_button", function(e){
			e.preventDefault();
			
			var url = $(this).attr("href");
			$.ajax({
				method: "GET",
				url: url
			})
			.done(function( msg ) {
				get_cart();
				$(".add_compare_success").trigger("click");
			});
		});
        $(document).on("click", ".no_singed_button", function(e){
			e.preventDefault();
			$(".no_singed").trigger("click")
		});
        $(document).on("click", ".change_view_button", function(e){
            var type = $(this).attr('value');
            $.cookie('type_view', type);
        });
        $(document).ready(function(){
            $('.change_view_button[value='+$.cookie('type_view')+']').trigger('click');
        });
	</script>
    
</body>