<section class="block-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-md-2 col-sm-0">

        <!-- left sidebar -->
        <%= render "/modules/left_sidebar" %>
        <!-- End left sidebar -->

      </div>

      <div class="col-md-7 col-sm-8">

        <!-- block content -->
        <div class="block-content">

          <!-- grid box -->
          <div class="grid-box">
            <div class="title-section">
              <h1><span>Thư Viện Ảnh</span></h1>
            </div>
            <div class="row">
              <% @galleries.each_with_index do |item,index| %>
              <div class="col-md-6">
                  <div class="news-post standard-post2">
                    <div class="post-gallery">
                      <%= image_tag item.image_url.medium_image, alt: "" %>
                      <%= link_to "Thư viện ảnh", gallery_picture_path, class: "category-post" %>
                    </div>
                    <div class="post-title">
                      <h2><%= link_to item.title, "" %></h2>
                      <ul class="post-tags">
                        <li><i class="fa fa-clock-o"></i><%= item.created_at.strftime("%d/%m/%Y") %></li>
                        <li><i class="fa fa-user"></i>bởi <%= link_to "Chùa Linh Quang", root_path %></li>
                      </ul>
                    </div>
                    <div class="post-content">
                      <%= link_to '<i class="fa fa-arrow-circle-right"></i>Đọc Tiếp'.html_safe, "", class: "read-more-button" %>
                    </div>
                  </div>
                </div>
              <%= '</div><div class="row">'.html_safe if index%2 == 1 %>
              <% end %>
            </div>

          </div>
          <!-- End grid box -->

          <!-- pagination box -->
          <div class="pagination-box">
            <%= will_paginate @posts, previous_label: 'Trang trước', next_label: 'Trang sau', renderer: BootstrapPagination::Rails %>
            <br><br><p><%= page_entries_info @posts %></p>
          </div>
          <!-- End Pagination box -->

        </div>
        <!-- End block content -->

      </div>

      <div class="col-md-3 col-sm-4">

        <!-- right sidebar -->
        <%= render "/modules/right_sidebar" %>
        <!-- End right sidebar -->

      </div>

    </div>

  </div>
</section>