<table class="table">
    <thead>
        <tr class="bg-teal-800">
            <th></th>
            <th><%= t(:picture) %></th>
            <th><%= t(:title) %>/<%= t(:tags) %></th>
            <th><%= t(:content) %></th>
            <th><%= t(:category) %></th>
            <th><%= t(:created_at) %></th>
            <th class="text-center"><%= t(:actions) %></th>
        </tr>
    </thead>
    <tbody>
        <% @articles.get_all_blogs.each do |item| %>
            <tr>
                <td>
                    <input name="article_ids[]" value="<%= item.id %>" type="checkbox" class="checkbox-related-articlesz" checked>
                </td>
                <td>
                    <div class="media-left">
                        <% if can? :update, item %>
                            <%= link_to image_tag(item.image_url, size: "180x110", class: "img-rouded"), edit_admin_article_path(item), target: "_blank" %>
                        <% else %>
                            <%= image_tag(item.image_url, size: "180x110", class: "img-rouded") %>
                        <% end %>
                    </div>
                </td>
                <td>
                    <%= item.title %><br/>
                    <% if item.approved == true %>
                        <span class="label bg-success"><%= t(:approved) %></span>
                    <% else %>
                        <span class="label bg-danger"><%= t(:not_yet_approved) %></span>
                    <% end %>
                </td>
                <td><%= truncate(strip_tags(item.content.html_safe), length: 150) %></td>
                <td></td>
                <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                <td>
                    <span class="btn btn-marning bg-danger remove_button">X</span>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>