<% if @delivery_method.errors.any? %>
    <div id="error_explanation">
        <span class="label label-warning"></span>
        <div class="alert alert-warning alert-styled-left">
            <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            <% @delivery_method.errors.full_messages.each do |message| %>
                - <%= message %><br/>
            <% end %>
        </div>
    </div>
<% end %>

<%= form_for [:admin, @delivery_method], html: {class: "form-horizontal", id: "validate_checking"} do |f| %>
    
    <div class="form-group">
        <label class="col-lg-2 control-label" ><%= t(:title) %> <span class='text-danger'>*</span></label>
        <div class="col-lg-10">
            <%= f.text_field :title, class: "form-control required" %>
        </div>
    </div>
        
    <div class="form-group">
        <%= f.label t(:list_description), class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
            <%= f.text_area :description, rows: "5", cols: "5", class: "form-control" %>
        </div>
    </div>

    <div class="text-right">
        <%= button_tag "#{t(:save)}<i class=\"icon-plus22 position-right\"></i>".html_safe, class: "btn btn-primary"%>
        <%= link_to "#{t(:cancel)}<i class=\"icon-cross3 position-right\"></i>".html_safe, admin_delivery_methods_path, class: "btn btn-danger"%>
    </div>
    
<% end %>