<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="<%= root_path %>">Trang chủ</a></li>
                    <li>Account</li>
                    <li>Address Book</li>
                    <li>Edit Address</li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <div class="row">

                    <aside class="col-md-3 col-sm-4">

                        <%= render 'menu_account_login' %>

                    </aside><!--/ [col]-->

                    <main class="col-md-9 col-sm-8">
                        <h1>Edit Address</h1>
                        <div class="table_wrap bordered_content">
                            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="#">
                              
                                <ul class="padded margin-b">
                                    <li class="row">
                                      <div class="col-xs-12 required">
                                        <label for="input-firstname" class="col-sm-2 control-label">First Name</label>
                                        <div class="form_el">
                                          <input type="text" class="form-control" id="input-firstname" placeholder="First Name" value="" name="firstname" vk_11575="subscribed">
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="row">
                                      <div class="col-xs-12 required">
                                        <label for="input-lastname" class="col-sm-2 control-label">Last Name</label>
                                        <div class="form_el">
                                          <input type="text" class="form-control" id="input-lastname" placeholder="Last Name" value="" name="lastname" vk_11575="subscribed">
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="row">
                                      <div class="col-xs-12">
                                        <label for="input-company" class="col-sm-2 control-label">Company</label>
                                        <div class="form_el">
                                          <input type="text" class="form-control" id="input-company" placeholder="Company" value="" name="company" vk_11575="subscribed">
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="row">
                                      <div class="col-xs-12 required">
                                        <label for="input-address-1" class="col-sm-2 control-label">Address 1</label>
                                        <div class="form_el">
                                          <input type="text" class="form-control" id="input-address-1" placeholder="Address 1" value="" name="address-1" vk_11575="subscribed">
                                        </div>
                                      </div>
                                    </li>
                                    <li class="row">
                                      <div class="col-xs-12">
                                        <label for="input-address-2" class="col-sm-2 control-label">Address 2</label>
                                        <div class="form_el">
                                          <input type="text" class="form-control" id="input-address-2" placeholder="Address 1" value="" name="address-2" vk_11575="subscribed">
                                        </div>
                                      </div>
                                    </li>
                                    <li class="row">
                                      <div class="col-xs-12 required">
                                        <label for="input-city" class="col-sm-2 control-label">City</label>
                                        <div class="form_el">
                                          <input type="text" class="form-control" id="input-city" placeholder="City" value="" name="city" vk_11575="subscribed">
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="row">
                                      <div class="col-xs-12 required">
                                        <label for="input-post-code" class="col-sm-2 control-label">Post Code</label>
                                        <div class="form_el">
                                          <input type="text" class="form-control" id="input-post-code" placeholder="Post Code" value="" name="post-code" vk_11575="subscribed">
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="row">
                                      <div class="col-xs-12 required">
                                        <label for="input-country" class="col-sm-2 control-label">Country</label>
                                        <div class="form_el">
                                            <select name="country_id" id="input-country" class="form-control">
                                              <option value=""> --- Please Select --- </option>
                                              <option value="244">Aaland Islands</option>
                                              <option value="1">Afghanistan</option>
                                              <option value="2">Albania</option>
                                              <option value="3">Algeria</option>
                                              <option value="4">American</option>
                                            </select>
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="row">
                                      <div class="col-xs-12 required">
                                        <label for="input-region-state" class="col-sm-2 control-label">Region/State</label>
                                        <div class="form_el">
                                            <select name="region-state_id" id="input-region-state" class="form-control">
                                              <option value=""> --- Please Select --- </option>
                                              <option value="244">Aaland Islands</option>
                                              <option value="1">Afghanistan</option>
                                              <option value="2">Albania</option>
                                              <option value="3">Algeria</option>
                                              <option value="4">American</option>
                                            </select>
                                        </div>
                                      </div>
                                    </li>
                                    
                                    <li class="row">
                          
                                        <div class="col-sm-12">
                        
                                            <label class="col-sm-2 control-label">Default Address</label>
                        
                                            <div class="form_el">
                                                
                                                <input checked="" type="radio" name="default" id="yes">
                        
                                                <label for="yes">Yes</label>
        
                                                <input type="radio" name="default" id="no">
                        
                                                <label for="no">No</label>
                                                
                                            </div>
                        
                                        </div>
                        
                                    </li>
                                  
                                </ul>
                                
                            </form>
                          
                        </div>
                        <footer class="bottom_box on_the_sides">

							<div class="left_side">

								<a class="button_grey middle_btn" href="<%= url_for({controller: 'account', action: 'address'}) %>">Back</a>

							</div>

							<div class="right_side">

								<a href="#" class="button_blue middle_btn">Continue</a>

							</div>

						</footer>
                        
                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>