<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
						
					<li><%= link_to "Tài khoản", { controller: "account", action: "my_account" } %></li>
                    
					<li><%= @title_head %></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->
                
                <!--
                <div class="alert_box success">

                    <b>Well done!</b> You successfully read this important alert message.

                    <button class="close"></button>

                </div>-->

                <div class="row">

                    <aside class="col-md-3 col-sm-4">
						
                        <%= render "module/menu_account_logged" %>

                    </aside><!--/ [col]-->

                    <main class="col-md-9 col-sm-8">

                        <h1><%= @title_head %></h1>

                        <div class="table_wrap">
                            
							<table>
                                
								<tbody>
                                  
								  <tr>
                                    
									<td class="text-left">
										
										<%= current_user.first_name + ' ' + current_user.last_name %><br/>
										
										<%= current_user.address_1 + ', ' + current_user.area.name + ', ' + current_user.country + '.' %>
									
									</td>
                                    
                                    <td data-title="Action" class="product_actions_col">
										
										<%= link_to '<i class="icon-pencil"></i>'.html_safe, { controller: "account", action: "edit" }, class: "button_dark_grey icon_btn edit_product" %>

                                    </td>
                                  
								  </tr>
                               
							    </tbody>
                           
						    </table>
                       
					    </div>    
                          
                        <footer class="bottom_box on_the_sides">

							<div class="right_side">

								<%= link_to "Trở về", { controller: 'account', action: 'my_account' }, class: "button_blue middle_btn" %>

							</div>

						</footer>

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>