<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="<%= root_path %>">Trang chủ</a></li>
                    <li>Account</li>
                    <li>Edit Information</li>

                </ul>

                <div class="row">

                    <aside id="column-left" class="col-md-3 col-sm-4 has_mega_menu">
                      
                        <%= render 'menu_account_login' %>

                    </aside>

                    <main class="col-md-9 col-sm-8">
                        
                        <h1 class="tall">My Account Information</h1>
                        
                        <h3>Your Personal Details</h3>
                        
                        <div class="table_wrap bordered_content">
                            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="#">
                              
                                <ul class="padded margin-b">
                                  <li class="row">
                                    <div class="col-xs-12 required">
                                      <label for="input-firstname" class="col-sm-2 control-label">First Name</label>
                                      <div class="form_el">
                                        <input type="text" class="form-control" id="input-firstname" placeholder="First Name" value="" name="firstname" vk_11575="subscribed">
                                      </div>
                                    </div>
                                  </li>
                                  
                                  <li class="row">
                                    <div class="col-xs-12 required">
                                      <label for="input-lastname" class="col-sm-2 control-label">Last Name</label>
                                      <div class="form_el">
                                        <input type="text" class="form-control" id="input-lastname" placeholder="Last Name" value="" name="lastname" vk_11575="subscribed">
                                      </div>
                                    </div>
                                  </li>
                                  
                                  <li class="row">
                                    <div class="col-xs-12 required">
                                      <label for="input-email" class="col-sm-2 control-label">E-Mail</label>
                                      <div class="form_el">
                                        <input type="text" class="form-control" id="input-email" placeholder="E-Mail" value="" name="email" vk_11575="subscribed">
                                      </div>
                                    </div>
                                  </li>
                                  
                                  <li class="row">
                                    <div class="col-xs-12 required">
                                      <label for="input-telephone" class="col-sm-2 control-label">Telephone</label>
                                      <div class="form_el">
                                        <input type="text" class="form-control" id="input-telephone" placeholder="Telephone" value="" name="telephone" vk_11575="subscribed">
                                      </div>
                                    </div>
                                  </li>
                                  <li class="row">
                                    <div class="col-xs-12">
                                      <label for="input-fax" class="col-sm-2 control-label">Fax</label>
                                      <div class="form_el">
                                        <input type="text" class="form-control" id="input-fax" placeholder="Fax" value="" name="fax" vk_11575="subscribed">
                                      </div>
                                    </div>
                                  </li>
                                  
                                </ul>
                              
                            </form>
                          
                        </div>
                        <footer class="bottom_box on_the_sides">

							<div class="left_side">

								<a class="button_grey middle_btn" href="<%= url_for({controller: 'account', action: 'my_account'}) %>">Back</a>

							</div>

							<div class="right_side">

								<a href="#" class="button_blue middle_btn">Continue</a>

							</div>

						</footer>

                    </main>

                </div><!--/ .row -->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer'%>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery-ui.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>