<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
						
					<li><%= link_to "Tài khoản", { controller: "account", action: "login" } %></li>
                    
					<li><%= @title_head %></li>

                </ul>

                <div class="row">

                    <aside class="col-md-3 col-sm-4">
                      
                        <%= render 'module/menu_account_not_signed' %>

                    </aside>

                    <main class="col-md-9 col-sm-8">
                        
                        <h1>Đăng nhập tài khoản</h1>
						
						<div class="table_wrap bordered_content">
							
                            <table>
								
                                <tbody>
									
									<tr>
										
										<td>
											
											<div>
												
												<div class="top">
													
													<h4>Chưa có tài khoản</h4>
													
													<p class="text-justifly">Việc đăng ký tài khoản sẽ giúp bạn đặt hàng nhanh hơn. Dể dàng cập nhật tình trạng đơn hàng và xem lại lịch sử đặt hàng.</p>
												
												</div>
											
											</div>
										
										</td>
										
										<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
										
											<td>
												
												<div class=" top">
													
													<h4>Đã có tài khoản</h4>
														
														<div class="form-group">
															
															<label class="control-label" for="input-email" style="text-align: left;">Địa chỉ email</label>
															
															<p class="user_input"><%= f.email_field :email, class: "form-control required", placeholder: "Nhập địa chỉ email..." %></p>
														
														</div>
														
														<div class="form-group">
															
															<label class="control-label" for="input-password" style="text-align: left;">Password</label>
															
															<p class="user_input"><%= f.password_field :password, autocomplete: "off", class: "form-control required", placeholder: "Nhập mật khẩu..." %></p>
														
														</div>
														
														<a href="<%= url_for({controller: 'account', action: 'forgotten'}) %>" class="forgotten">Quên mật khẩu.</a>
													
												</div>
											  
											</td>
										  
										  </tr>
										  
										<tr>
											
											<td>
												
												<div class="bottom">
													
													<%= link_to "Đăng ký ngay", { controller: "account", action: "register" }, class: "button_blue middle_btn" %>
												
												</div>
											
											</td>
											
											<td>
												
												<div class="bottom">
												  
												  <div id="social_login_content_holder"></div>
												  
												  <%= button_tag 'Đăng nhập <i class="icon-circle-right2 position-right"></i>'.html_safe, class: "btn btn-primary"%>
											  
												</div>
											
											</td>
											
										</tr>
										
									<% end %>
                                
								</tbody>
                            
							</table>
                        
						</div>

                    </main>

                </div><!--/ .row -->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer'%>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery-ui.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    <script>
        
        $(document).ready(function(){
            $("#new_user").validate();
        });
        
    </script>
</body>