<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="<%= root_path %>">Trang chủ</a></li>
                    <li>Account</li>
                    <li>Logout</li>

                </ul>

                <div class="row">

                    <aside class="col-md-3 col-sm-4">
                      
                        <%= render 'menu_account_logout' %>

                    </aside>

                    <main class="col-md-9 col-sm-8">
                        
                        <h1>Account Logout</h1>
						
						<div class="table_wrap bordered_content">
                            <table>
                                <tbody>
                                  <tr>
                                    <td>
										<div>
											<div class="top">
												<h4>New Customer</h4>
												<p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
											</div>
										</div>
									</td>
                                    <td>
										<div class=" top">
											<h4>Returning Customer</h4>
											<p>I am a returning customer</p>
											<form action="<%= url_for({controller: 'account', action: 'login'}) %>" method="post" enctype="multipart/form-data">
												<div class="form-group">
													<label class="control-label" for="input-email" style="text-align: left;">E-Mail Address</label>
													<input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" vk_1d8ed="subscribed">
												</div>
												<div class="form-group">
													<label class="control-label" for="input-password" style="text-align: left;">Password</label>
													<input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" vk_1d8ed="subscribed">
												</div>
												<a href="<%= url_for({controller: 'account', action: 'forgotten'}) %>" class="forgotten">Forgotten Password</a>
											</form>
										</div>
									  
									</td>
                                  </tr>
                                  <tr>
                                    <td>
										<div class="bottom">
											<input type="submit" value="Register Account" class="btn btn-primary">
										</div>
									</td>
                                    <td>
										<div class="bottom">
										  <div id="social_login_content_holder"></div>
										  <input type="submit" value="Login" class="btn btn-primary">
									  </div>
									</td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>

                    </main>

                </div><!--/ .row -->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer'%>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery-ui.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>