<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
						
					<li><%= link_to "Tài khoản", { controller: "account", action: "login" } %></li>
                    
					<li><%= @title_head %></li>

                </ul>

                <div class="row">

                    <aside class="col-md-3 col-sm-4">
                      
                        <%= render 'module/menu_account_not_signed' %>

                    </aside>

                    <main class="col-md-9 col-sm-8">
                        
                        <h1>Đăng nhập tài khoản</h1>
						
						<div class="table_wrap bordered_content">
							
							<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							
								<table>
									
									<tbody>
										
										<tr>
											
											<td>
												
												<div>
													
													<div class="top">
														
														<h4>Chưa có tài khoản</h4>
														
														<p class="text-justifly">Việc đăng ký tài khoản sẽ giúp bạn đặt hàng nhanh hơn. Dể dàng cập nhật tình trạng đơn hàng và xem lại lịch sử đặt hàng.</p>
													
													</div>
												
												</div>
											
											</td>
											
											<td>
												
												<div class=" top">
													
													<h4>Đã có tài khoản</h4>
														
														<div class="form-group">
															
															<label class="control-label" for="input-email" style="text-align: left;">Địa chỉ email</label>
															
															<p class="user_input"><%= f.email_field :email, class: "form-control required", placeholder: "Nhập địa chỉ email..." %></p>
														
														</div>
														
														<div class="form-group">
															
															<label class="control-label" for="input-password" style="text-align: left;">Password</label>
															
															<p class="user_input"><%= f.password_field :password, autocomplete: "off", class: "form-control required", placeholder: "Nhập mật khẩu..." %></p>
														
														</div>
														
												</div>
											  
											</td>
											
										</tr>
											  
										<tr>
											
											<td>
												
												<div class="bottom">
													
													<%= link_to "Đăng ký ngay", { controller: "account", action: "register" }, class: "button_blue middle_btn" %>
												
												</div>
											
											</td>
											
											<td>
												
												<div class="bottom alignleft">
												  
												  <div id="social_login_content_holder"></div>
												  
												  <input type="submit" value="Đăng nhập" class="btn btn-primary" >
											  
												</div>
												
												<div class="bottom alignright">
												  
												  <ul class="horizontal_list social_btns">
													
													<li>
														<fb:login-button class="icon_btn middle_btn social_facebook tooltip_container" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
														<div id="status"></div>
													</li>
													<li><%= link_to '<i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span>'.html_safe, user_omniauth_authorize_path(:facebook), class: "icon_btn middle_btn social_facebook tooltip_container" %></li>
													<li><a href="#" class="icon_btn middle_btn social_twitter tooltip_container"><i class="icon-twitter"></i><span class="tooltip top">Twitter</span></a></li>
													<li><a href="#" class="icon_btn middle_btn social_googleplus tooltip_container"><i class="icon-gplus-2"></i><span class="tooltip top">GooglePlus</span></a></li>
										
												</ul><!--/ .horizontal_list.wrapper.social_btns-->
											  
												</div>
												
												<br/>
												
												<% if flash[:error].present? %>
															
													<!-- - - - - - - - - - - - - - Alert box - - - - - - - - - - - - - - - - -->
													
													<div class="alert_box error">

														<b>Đăng nhập thất bại!</b> Tài khoản hoặc mật khẩu không chính xác.
					
														<p class="close"></p>
					
													</div>
													
													<!--/ .alert_box.error -->
													
												<% end %>
											
											</td>
											
										</tr>
									
									</tbody>
								
								</table>
							
							<% end %>
                        
						</div>

                    </main>

                </div><!--/ .row -->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer'%>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery-ui.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    <script>
        
        $(document).ready(function(){
            $("#new_user").validate();
        });
		
		// This is called with the results from from FB.getLoginStatus().
		function statusChangeCallback(response) {
		  console.log('statusChangeCallback');
		  console.log(response);
		  // The response object is returned with a status field that lets the
		  // app know the current login status of the person.
		  // Full docs on the response object can be found in the documentation
		  // for FB.getLoginStatus().
		  if (response.status === 'connected') {
			// Logged into your app and Facebook.
			testAPI();
		  } else if (response.status === 'not_authorized') {
			// The person is logged into Facebook, but not your app.
			document.getElementById('status').innerHTML = 'Please log ' +
			  'into this app.';
		  } else {
			// The person is not logged into Facebook, so we're not sure if
			// they are logged into this app or not.
			document.getElementById('status').innerHTML = 'Please log ' +
			  'into Facebook.';
		  }
		}
	  
		// This function is called when someone finishes with the Login
		// Button.  See the onlogin handler attached to it in the sample
		// code below.
		function checkLoginState() {
		  FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
		  });
		}
		
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1238119839582178',
				cookie     : true,  // enable cookies to allow the server to access 
								  // the session
				xfbml      : true,  // parse social plugins on this page
				version    : 'v2.2' // use version 2.2
		});
			
		/ Now that we've initialized the JavaScript SDK, we call 
		// FB.getLoginStatus().  This function gets the state of the
		// person visiting this page and can return one of three states to
		// the callback you provide.  They can be:
		//
		// 1. Logged into your app ('connected')
		// 2. Logged into Facebook, but not your app ('not_authorized')
		// 3. Not logged into Facebook and can't tell if they are logged into
		//    your app or not.
		//
		// These three cases are handled in the callback function.
	  
		FB.getLoginStatus(function(response) {
		  statusChangeCallback(response);
		});
	  
		};
	  
		// Load the SDK asynchronously
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	  
		// Here we run a very simple test of the Graph API after login is
		// successful.  See statusChangeCallback() for when this call is made.
		function testAPI() {
		  console.log('Welcome!  Fetching your information.... ');
		  FB.api('/me', function(response) {
			console.log('Successful login for: ' + response.name);
			document.getElementById('status').innerHTML =
			  'Thanks for logging in, ' + response.name + '!';
		  });
		}
        
    </script>
</body>