<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'home/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="<%= root_path %>">Trang chủ</a></li>
                    <li>Account</li>
                    <li>Change Password</li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <div class="row">

                    <aside class="col-md-3 col-sm-4">

                        <%= render 'menu_account' %>

                    </aside><!--/ [col]-->

                    <main id="content" class="col-md-9 col-sm-8">

                        <h1>Special Offers</h1>

                        <div class="bordered_content padded box">
                          
                              <div class="padded_ex_bottom">
                              <form action="<%= url_for({controller: 'account', action: 'password'}) %>" method="post" enctype="multipart/form-data">
                                <fieldset>
                                  
                                  
                                <div class="row">
                                  <div class="form-group col-sm-6 required">
                                    <label class="control-label" for="input-password">Password</label>
                                      <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" vk_1ef60="subscribed">
                                                </div>
                        
                                  <div class="form-group col-sm-6 required">
                                    <label class="control-label" for="input-confirm">Password Confirm</label>
                                      <input type="password" name="confirm" value="" placeholder="Password Confirm" id="input-confirm" class="form-control" vk_1ef60="subscribed">
                                                </div>
                                </div>
                                  
                                </fieldset>
                                </form></div>
                                
                                <div class="bottom_buttons">
                                <div class="row">
                                  <div class="col-xs-6"><a href="<%= url_for({controller: 'account', action: 'my_account'}) %>" class="btn btn-default">Back</a></div>
                                  <div class="col-xs-6 text-right">
                                    <input type="submit" value="Continue" class="btn btn-primary">
                                  </div>
                                  </div>
                                </div>
                              
                              </div>

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'home/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'home/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>