<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
						
					<li><%= link_to "Tài khoản", { controller: "account", action: "my_account" } %></li>
                    
					<li><%= @title_head %></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <div class="row">

                    <aside class="col-md-3 col-sm-4">

                        <%= render "module/menu_account_logged" %>

                    </aside><!--/ [col]-->

                    <main id="content" class="col-md-9 col-sm-8">

                        <h1 class="tall"><%= @title_head %></h1>
						
                        <h3>Mật khẩu của bạn</h3>
						
						<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
							
							<%= devise_error_messages! %>
							
							<%= f.hidden_field :reset_password_token %>
							
							<div class="table_wrap bordered_content">
								
								<ul class="padded margin-b">
							
									<li class="row">
										
										<% if @minimum_password_length %>
											
											<em>(Mật khẩu phải ít nhất <%= @minimum_password_length %> ký tự.)</em><br />
										
										<% end %>
							
										<div class="col-sm-6 required">
											
											<label for="input-password" class="control-label" style="text-align: left;">Mật khẩu mới</label>
											
											<%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
											
										</div>
										
										<div class="col-sm-6 required">
											
											<label for="input-password-confirm" class="control-label" style="text-align: left;">Xác nhận mật khẩu mới</label>
											
											<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
											
										</div>
									</li>
								</ul>
								
							</div>
							
							<footer class="bottom_box on_the_sides">
	
								<div class="left_side">
	
									<a class="button_grey middle_btn" href="<%= url_for({controller: 'account', action: 'my_account'}) %>">Trở về</a>
	
								</div>
	
								<div class="right_side">
									
									<%= f.submit "Xác nhận thay đổi", class: "button_blue middle_btn" %>
	
								</div>
	
							</footer>
                            
                        <% end %>    

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>