<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="<%= root_path %>">Trang chủ</a></li>
                    <li>Account</li>
                    <li>Change Password</li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <div class="row">

                    <aside class="col-md-3 col-sm-4">

                        <%= render 'menu_account' %>

                    </aside><!--/ [col]-->

                    <main class="col-md-9 col-sm-8">
                        <h1>Forgot Your Password?</h1>
                        <p>Your total number of reward points is: <span class="price">0</span></p>
                        <div class="box">
                          <table class="list last">
                            <thead>
                              <tr>
                                <td class="left">Date Added</td>
                                <td class="left">Description</td>
                                <td style="text-align: right">Points</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="left">08/04/2016</td>
                                <td class="left">Pending</td>
                                <td class="right"></td>
                              </tr>
                              <tr>
                                <td class="left">08/04/2016</td>
                                <td class="left">Pending</td>
                                <td class="right"></td>
                              </tr>
                            </tbody>
                            <!--You do not have any reward points!-->
                            <tbody>
                              <tr>
                                <td colspan="3" class="text-center" style="text-align: center">You do not have any reward points!</td>
                              </tr>
                            </tbody>
                            <!--End - You do not have any reward points!-->
                          </table>
                        </div>
                        <div class="bottom_buttons bordered_content">
                            <div class="bottom on_the_sides">
                              <div class="right_side v_centered">
                                <a class="button_blue middle_btn" href="<%= url_for({controller: 'account', action: 'my_account'}) %>">Continue</a>
                              </div>
                            </div>
                        </div>

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>