<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="<%= root_path %>">Trang chủ</a></li>
                    <li> Purchase a Gift Certificate</li>

                </ul>

                <div class="row">

                    <aside id="column-left" class="col-md-3 col-sm-4 has_mega_menu">
                      
                        <%= render 'menu_account_login' %>

                    </aside>

                    <main class="col-md-9 col-sm-8">
                        
                        
						<h1 class="tall">Purchase a Gift Certificate</h1>

                        <div class="table_wrap bordered_content">
                            
                            <form action="<%= url_for({controller: 'account', action: 'newsletter'}) %>" method="post" enctype="multipart/form-data">
                            
                                <div class="padded">
                        
                                    <p style="margin-bottom: 0px;">Thank you for purchasing a gift certificate! Once you have completed your order your gift voucher recipient will be sent an e-mail with details how to redeem their gift voucher.</p>
                        
                                </div>                                        
                            
                            </form>
                        
                        </div>
						
                        <footer class="bottom_box on_the_sides">
                          
							<div class="right_side">
						
								<a href="<%= url_for ({controller: 'checkout', action: "cart"}) %>" class="button_blue middle_btn">Continue</a>
						
							</div>

						</footer>

                    </main>

                </div><!--/ .row -->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer'%>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery-ui.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.plugin.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.countdown.min.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>