<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
						
					<li><%= link_to "Tài khoản", { controller: "account", action: "my_account" } %></li>
                    
					<li><%= @title_head %></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

                <div class="row">

                    <aside class="col-md-3 col-sm-4">

                        <%= render 'module/menu_account_logged' %>

                    </aside><!--/ [col]-->

                    <main class="col-md-9 col-sm-8">

                        <h1><%= @title_head %></h1>
						
						<% if current_user.wish_lists.count > 0 %>
						
							<header class="top_box on_the_sides">
	
								<div class="left_side v_centered">
	
									<p class="visible_pages"><%= page_entries_info @products %> sản phẩm yêu thích.</p>
	
								</div>
	
								<div class="right_side">
								
									<%= will_paginate @products, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
	
								</div>
	
							</header><!--/ .top_box -->
	
							<div class="table_wrap">
	
								<table class="table_type_1 wishlist_table">
										
									<thead>
										
										<tr>
											
											<th class="product_image_col">Hình ảnh</th>
											<th class="product_title_col">Tên sản phẩm</th>
											<th class="product_price_col">Mã sản phẩm</th>
											<th class="product_price_col">Trạng thái trong kho</th>
											<th class="product_price_col">Giá</th>
											<th>Thao tác</th>
	
										</tr>
	
									</thead>
	
									<tbody>
										
										<% @products.each do |item| %>
	
											<tr>
		
												<!-- - - - - - - - - - - - - - Product image - - - - - - - - - - - - - - - - -->
												
												<td data-title="Product Image">
													
													<% if item.product.get_main_image.present? %>
																			
														<%= link_to image_tag(item.product.get_main_image.image_url.small_image), { controller: "product", action: "product", product_id: item.product_id } %>
													
													<% else %>
														
														<img src="/frontend/images/small_image.png" alt="">
													
													<% end %>
		
												</td>
		
												<!-- - - - - - - - - - - - - - End of product image - - - - - - - - - - - - - - - - -->
		
												<!-- - - - - - - - - - - - - - Product name - - - - - - - - - - - - - - - - -->
		
												<td data-title="Product Name and Category">
													
													<%= link_to item.product.name, { controller: "product", action: "product", product_id: item.product_id } %>
		
												</td>
		
												<!-- - - - - - - - - - - - - - End of product name - - - - - - - - - - - - - - - - -->
		
												<!-- - - - - - - - - - - - - - Product code - - - - - - - - - - - - - - - - -->
		
												<td data-title="Code"><%= item.product.code %></td>
		
												<!-- - - - - - - - - - - - - - End of product code - - - - - - - - - - - - - - - - -->
		
												<!-- - - - - - - - - - - - - - Product quantity - - - - - - - - - - - - - - - - -->
		
												 <td data-title="Status" class="success">In Stock</td>
		
												<!-- - - - - - - - - - - - - - End of product quantity - - - - - - - - - - - - - - - - -->
												
												<!-- - - - - - - - - - - - - - Product quantity - - - - - - - - - - - - - - - - -->
		
												 <td data-title="Price" class="total"><%= format_number(item.product.price) %> đ</td>
		
												<!-- - - - - - - - - - - - - - End of product quantity - - - - - - - - - - - - - - - - -->
		
												<!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->
		
												<td data-title="Action">
		
													<ul class="buttons_col">
		
														<li>
														   
															<%= button_to 'Thêm vào giỏ hàng', line_items_path(product_id: item.product_id), class: "button_blue add_to_cart" %>
														
														</li>
		
														<li>
															
															<%= link_to 'Xóa khỏi danh sách', item, method: :delete, data: {confirm: 'Xóa sản phẩm khỏi danh sách yêu thích?'}, class: "button_dark_grey" %>
														
														</li>
		
													</ul>
		
												</td>
		
												<!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->
		
											</tr>
											
										<% end %>
	
									</tbody>
	
								</table>
	
							</div><!--/ .table_wrap -->
	
							<footer class="bottom_box on_the_sides">
	
								<div class="left_side v_centered">
	
									<p class="visible_pages"><%= page_entries_info @products %> sản phẩm yêu thích.</p>
	
								</div>
	
								<div class="right_side">
								
									<%= will_paginate @products, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
	
								</div>
	
							</footer><!--/ .bottom_box -->
							
						<% else %>
							
							<p class="box">Danh sách sản phẩm yêu thích trống!</p>
						
						<% end %>

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= stylesheet_link_tag '/frontend/css/custom.css' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>