<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>

        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
                    <li><%= @title_head %></li>

                </ul>

                <div class="row">

                    <aside class="col-md-3 col-sm-4">

                        <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_categories' %>

                        <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <a href="#" class="banner">

                                <img src="/frontend/images/banner_img_10.png" alt="">

                            </a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->

                        <%= render 'module/newsletter' %>

                        <!-- - - - - - - - - - - - - - End of Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <a href="#" class="banner">

                                <img src="/frontend/images/banner_img_11.png" alt="">

                            </a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Blog Tags - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_tags' %>
                        
                        <!-- - - - - - - - - - - - - - End blog tags - - - - - - - - - - - - - - - - -->

                    </aside>
                    <!--/ [col]-->

                    <main class="col-md-9 col-sm-8">

                        <h1><%= @title_head %></h1>

                        <header class="top_box on_the_sides">
                            
                            <div class="left_side v_centered">

                                <p><%= page_entries_info @blogs %> bài viết.</p>

                            </div>

                            <div class="right_side">
                                
                                <%= will_paginate @blogs, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>

                            </div>

                        </header>

                        <!-- - - - - - - - - - - - - - List of entries - - - - - - - - - - - - - - - - -->

                        <ul class="list_of_entries">
                            
                            <% @blogs.each do |blog| %>

                                <li>
    
                                    <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                    <article class="entry">
    
                                        <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->
                                        
                                        <%= link_to image_tag(blog.image_url.big_image), { controller: "blog", action: "show", blog_id: blog.id }, class: "thumbnail entry_image" %>
    
                                        <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->
    
                                        <h4 class="entry_title"><%= link_to blog.title, { controller: "blog", action: "show", blog_id: blog.id } %></h4>
    
                                        <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->
    
                                        <div class="entry_meta">
    
                                            <div class="alignleft">
    
                                                <span><i class="icon-calendar"></i> <%= blog.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %></span>
    
                                                <span><i class="icon-comment"></i> <%= blog.comment_articles.count %></span>
    
                                                <span><i class="icon-user-8"></i> bởi Người quản trị</span>
    
                                            </div>
    
                                        </div>
                                        <!--/ .byline-->
    
                                        <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->
    
                                        <p class="text-justify">﻿<%= truncate(strip_tags(blog.content.html_safe), length: 360) %></p>
    
                                        <%= link_to 'Đọc tiếp', {controller: 'blog', action: 'show', blog_id: blog.id }, class: 'button_grey middle_btn' %>
    
                                    </article>
    
                                    <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->
    
                                </li>

                            <% end %>

                        </ul>

                        <!-- - - - - - - - - - - - - - End of list of entries - - - - - - - - - - - - - - - - -->

                        <footer class="bottom_box on_the_sides">

                            <div class="left_side">

                                <p><%= page_entries_info @blogs %> bài viết.</p>

                            </div>

                            <div class="right_side">
                                
                                <%= will_paginate @blogs, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>

                            </div>

                        </footer>

                    </main>
                    <!--/ [col]-->

                </div>
                <!--/ .row-->

            </div>
            <!--/ .container-->

        </div>
        <!--/ .page_wrapper-->

        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>

        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div>
    <!--/ [layout]-->

    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>
    
    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    <script>
        
        $(document).ready(function(){
            $("#new_newsletter").validate();
        });

    </script>

</body>