<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
                    
					<li>
                        
						<% @blog.article_categories.each do |category| %>
                           
						    <%= link_to category.name, "" %> / 
                        
						<% end %>
                        
						<%= @blog.title %>
                    
					</li>

                </ul>

                <div class="row">

                    <aside class="col-md-3 col-sm-4">

                        <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                        <%= render "module/blog_categories" %>

                        <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Related Products - - - - - - - - - - - - - - - - -->
                        
                        <% if @blog.products.count < 4 %>
								
                            <%= render "module/blog_related_products_1" %>
                            
                        <% else %>
                            
                            <%= render "module/blog_related_products_2" %>
                            
                        <% end %>
                        
                        <!-- - - - - - - - - - - - - - End Related Products - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <a href="#" class="banner">

                                <img src="/frontend/images/banner_img_10.png" alt="">

                            </a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->

                        <%= render 'module/newsletter' %>

                        <!-- - - - - - - - - - - - - - End of Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <a href="#" class="banner">

                                <img src="/frontend/images/banner_img_11.png" alt="">

                            </a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Blog Tags - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_tags' %>
                        
                        <!-- - - - - - - - - - - - - - End blog tags - - - - - - - - - - - - - - - - -->

                    </aside>
                    <!--/ [col]-->

                    <main class="col-md-9 col-sm-8">

                        <section class="section_offset">

                            <h1><%= @blog.title %></h1>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry single">

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> <%= @blog.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %></span>
    
                                        <span><a href="#" class="comments"><i class="icon-comment"></i> <%= @blog.comment_articles.count %></a></span>

                                        <span><i class="icon-user-8"></i> bởi Người quản trị</span>

                                        <span><i class="fa fa-eye"></i> Số lượt đã đọc: 0</span>

                                    </div>

                                </div><!--/ .entry_meta-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->


                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <div class="entry_image">
                                    
                                    <img src="<%= @blog.image_url.big_image %>" alt="">

                                </div>

                                <h4 class="entry_title"><a href="#">Ut pharetra augue nec augue integer rutrum ante eu lacus</a></h4>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <p><%= @blog.content.html_safe %></p>

                                <div class="v_centered share">

                                    <span class="title">Chia sẻ với:</span>

                                    <div class="addthis_widget_container">

                                        <!-- AddThis Button BEGIN -->
                                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                        <a class="addthis_button_preferred_1"></a>
                                        <a class="addthis_button_preferred_2"></a>
                                        <a class="addthis_button_preferred_3"></a>
                                        <a class="addthis_button_preferred_4"></a>
                                        <a class="addthis_button_compact"></a>
                                        <a class="addthis_counter addthis_bubble_style"></a>
                                        </div>
                                        <!-- AddThis Button END -->

                                    </div>

                                </div><!--/ .v_centered-->

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                            <% if @blog.split_tags.count > 0 %>
							
								<footer class="bottom_box">
	
									Từ khóa bài viết: <% @blog.split_tags.each do |tag| %> <a href="#"><%= tag %></a> <% end %>
	
								</footer>
								
							<% end %>

                        </section>

                        <!-- - - - - - - - - - - - - - Related posts - - - - - - - - - - - - - - - - -->

                        <section class="section_offset">
                            
                            <h3>Related Posts</h3>

                            <div class="table_layout related_posts">

                                <div class="table_row">
                                    
                                    <% @blog.get_related_blogs.limit(2).each do |blog| %>

                                        <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
    
                                        <div class="table_cell">
    
                                            <article class="entry">
                                                
                                                <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->
                                                
                                                <%= link_to image_tag(blog.image_url.medium_image), { controller: "blog", action: "show", blog_id: blog.id }, class: "entry_thumb" %>
    
                                                <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->
    
                                                <div class="wrapper">
    
                                                    <h6 class="entry_title text-justify"><%= link_to blog.title, { controller: "blog", action: "show", blog_id: blog.id } %></h6>
    
                                                    <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->
    
                                                    <div class="entry_meta">
    
                                                        <span><i class="icon-calendar"></i> <%= blog.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %></span>
    
                                                        <span><a href="#" class="comments"><i class="icon-comment"></i> <%= @blog.comment_articles.count %></a></span>
    
                                                    </div><!--/ .byline-->
    
                                                    <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->
    
                                                </div><!--/ .wrapper-->
    
                                            </article><!--/ .clearfix-->
    
                                        </div>
    
                                        <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                                    <% end %>

                                </div>

                            </div>						

                        </section>

                        <!-- - - - - - - - - - - - - - End related posts - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Comments - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_comments' %>

                        <!-- - - - - - - - - - - - - - End of comments - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Leave a comment - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_leave_comment' %>

                        <!-- - - - - - - - - - - - - - End leave a comment - - - - - - - - - - - - - - - - -->

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>
    <%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    <script>
        
        $(document).ready(function(){
            $("#new_comment_article").validate();
            $("#new_newsletter").validate();
			
			//
			$(document).on('click', '.comment-reply-link', function(){
				var value = $(this).attr("value");
				$("input[name=parent_id]").val(value);
				$(window).scrollTop($('#new_comment_article').offset().top-200);
				
				$(".comment_article_reply").html($(this).parents("article").html());
			});
        });
		
		function addTextTag(text){
			document.getElementById('parent_id').value == text;
		}

    </script>
</body>