<body>

    <!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

    <div class="wide_layout">

        <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

        <%= render 'module/header' %>
        
        <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><%= link_to "Trang chủ", root_path %></li>
                    <li>
                        <% @blog.article_categories.each do |category| %>
                            <%= link_to category.name, "" %> / 
                        <% end %>
                        <%= @blog.title %>
                    </li>

                </ul>

                <div class="row">

                    <aside class="col-md-3 col-sm-4">

                        <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_categories' %>

                        <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <a href="#" class="banner">

                                <img src="/frontend/images/banner_img_10.png" alt="">

                            </a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_newsletter' %>

                        <!-- - - - - - - - - - - - - - End of Sign Up to Our Newsletter - - - - - - - - - - - - - - - - -->
                        
                        <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                        <div class="section_offset">

                            <a href="#" class="banner">

                                <img src="/frontend/images/banner_img_11.png" alt="">

                            </a>

                        </div>

                        <!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Blog Tags - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_tags' %>
                        
                        <!-- - - - - - - - - - - - - - End blog tags - - - - - - - - - - - - - - - - -->

                    </aside>
                    <!--/ [col]-->

                    <main class="col-md-9 col-sm-8">

                        <section class="section_offset">

                            <h1><%= @blog.title %></h1>

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                            
                            <article class="entry single">

                                <!-- - - - - - - - - - - - - - Entry meta - - - - - - - - - - - - - - - - -->

                                <div class="entry_meta">

                                    <div class="alignleft">

                                        <span><i class="icon-calendar"></i> <%= @blog.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %></span>
    
                                        <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                        <span><i class="icon-user-8"></i> bởi Người quản trị</span>

                                        <span><i class="fa fa-eye"></i> Số lượt đã đọc: 370</span>

                                    </div>

                                </div><!--/ .entry_meta-->

                                <!-- - - - - - - - - - - - - - End of entry meta - - - - - - - - - - - - - - - - -->


                                <!-- - - - - - - - - - - - - - Entry image - - - - - - - - - - - - - - - - -->

                                <div class="entry_image">
                                    
                                    <img src="<%= @blog.image_url.big_image %>" alt="">

                                </div>

                                <h4 class="entry_title"><a href="#">Ut pharetra augue nec augue integer rutrum ante eu lacus</a></h4>

                                <!-- - - - - - - - - - - - - - End of entry image - - - - - - - - - - - - - - - - -->

                                <p><%= @blog.content.html_safe %></p>

                                <div class="v_centered share">

                                    <span class="title">Chia sẻ với:</span>

                                    <div class="addthis_widget_container">

                                        <!-- AddThis Button BEGIN -->
                                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                        <a class="addthis_button_preferred_1"></a>
                                        <a class="addthis_button_preferred_2"></a>
                                        <a class="addthis_button_preferred_3"></a>
                                        <a class="addthis_button_preferred_4"></a>
                                        <a class="addthis_button_compact"></a>
                                        <a class="addthis_counter addthis_bubble_style"></a>
                                        </div>
                                        <!-- AddThis Button END -->

                                    </div>

                                </div><!--/ .v_centered-->

                            </article>

                            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                            <footer class="bottom_box">

                                Từ khóa bài viết: <a href="#">beauty</a>, <a href="#">medicine</a>, <a href="#">health</a>

                            </footer>

                        </section>

                        <!-- - - - - - - - - - - - - - Related posts - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_related_posts' %>

                        <!-- - - - - - - - - - - - - - End related posts - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Comments - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_comments' %>

                        <!-- - - - - - - - - - - - - - End of comments - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Leave a comment - - - - - - - - - - - - - - - - -->

                        <%= render 'module/blog_leave_comment' %>

                        <!-- - - - - - - - - - - - - - End leave a comment - - - - - - - - - - - - - - - - -->

                    </main><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->
        
        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

        <%= render 'module/footer' %>
        
        <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->
    
    <!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

    <%= render 'module/social_feeds' %>

    <!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->
    
    <!-- Include Libs & Plugins
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag '/frontend/js/queryloader2.min.js' %>
    <%= javascript_include_tag '/frontend/js/jquery.appear.js' %>
    <%= javascript_include_tag '/frontend/js/owlcarousel/owl.carousel.min.js' %>
    <%= javascript_include_tag '/frontend/twitter/jquery.tweet.min.js' %>
    <%= javascript_include_tag '/frontend/js/arcticmodal/jquery.arcticmodal.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/jquery.fancybox.pack.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %>
    <%= javascript_include_tag '/frontend/js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %>
    <%= javascript_include_tag '/frontend/js/colorpicker/colorpicker.js' %>
    <%= javascript_include_tag '/frontend/js/retina.min.js' %>
    <%= javascript_include_tag 'http://s7.addthis.com/js/300/addthis_widget.js' %>

    <!-- Theme files
    ============================================ -->
    <%= javascript_include_tag '/frontend/js/theme.plugins.js' %>
    <%= javascript_include_tag '/frontend/js/theme.core.js' %>
    
</body>