<!-- Main navbar -->
<%= render "/admin/main/main_navbar" %>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                <%= render "/admin/main/user_menu" %>
                <!-- /user menu -->

                <!-- Main navigation -->
                <%= render "/admin/main/main_menu" %>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">
        
            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><span class="text-semibold"><%= t(:coupons) %></span></h4>
                    </div>
                </div>
            
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><%= link_to '<i class="icon-home2 position-left"></i>'.html_safe + t(:home), { controller: "main", action: "index" } %></li>
                        <li><a href="<%= admin_coupons_path %>"><%= t(:voucher_coupon) %></a></li>
                        <li class="active"><%= t(:coupons) %></li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->
            
            <!-- Content area -->
            <div class="content">
            
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="panel-heading col-md-12">
                        <h5 class="panel-title col-md-6"><span class="text-semibold"><%= t(:listing_coupons) %></span></h5>
                        <%= link_to t(:new_coupon), new_admin_coupon_path, class: 'btn btn-primary pull-right' %>
                    </div>
                    
                    <div class="filter-box">
                        <%= form_for("", url: {controller: 'coupons', action: 'search'}, method: "get") do |f| %>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="" ><%= t(:sort_by) %></label>
                                        <div>
                                            <%= select_tag(:sort_by, options_for_select(Coupon.sort_by, :selected => params[:sort_by]), class: "select") %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="" ><%= t(:sort_order) %></label>
                                        <div>
                                            <%= select_tag(:sort_order, options_for_select(Coupon.sort_order, :selected => params[:sort_order]), class: "select") %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="" ><%= t(:valid_date) %></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                            <input type="text" class="form-control pickadate-accessibility date-select" name="valid_date" value="<%= params[:valid_date] %>" placeholder="Valid date&hellip;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 pull-right">
                                    <div class="form-group">
                                        <label class="" ><%= t(:filter) %></label>
                                        <div class="input-group">
                                            <input type="text" name="keyword" class="form-control" placeholder="<%= t(:placeholder_filter) %>" value="<%= params[:keyword] %>">
                                            <a class="input-group-addon keyword_search_button"><i class="icon-search4"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>                    
                        <% end %>
                    </div>
                    
                    <table class="table">
                        <thead>
                            <tr class="bg-teal-800">
                                <th><%= t(:title) %></th>
                                <th><%= t(:price_coupon) %></th>
                                <th><%= t(:quantity_coupon) %></th>
                                <th><%= t(:from_date) %></th>
                                <th><%= t(:to_date) %></th>
                                <th><%= t(:description) %></th>
                                <th><%= t(:created_at) %></th>
                                <th class="text-center"><%= t(:actions) %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @coupons.each do |item| %>
                                <tr>
                                    <td>
                                        <%= link_to item.name, edit_admin_coupon_path(item) %>
                                    </td>
                                    <td>
                                        <%= format_number(item.price) %>
                                    </td>
                                    <td class="text-center">
                                        <%= item.codes.count %>
                                    </td>
                                    <td>
                                        <%= item.from_date.strftime("%d/%m/%Y") %>
                                    </td>
                                    <td>
                                        <%= item.to_date.strftime("%d/%m/%Y") %>
                                    </td>
                                    <td>
                                        <%= item.description %>
                                    </td>
                                    <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe + t(:edit), edit_admin_coupon_path(item) %>
                                                    </li>
                                                    <li>
                                                        <%= link_to '<i class="icon-cross2"></i>'.html_safe + t(:delete), [:admin, item], method: :delete, data: {confirm: t(:confirm_delete)} %>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <div class="dataTables_wrapper no-footer">
                        <div class="datatable-footer showed">
                            <div class="dataTables_info" ><%= page_entries_info @coupons %></div>
                            <div class="dataTables_paginate paging_simple_numbers">
                                <%= will_paginate @coupons, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /basic datatable -->
            
                <!-- Footer -->
                <%= render '/admin/main/footer' %>
                <!-- /footer -->
            
            </div>
            <!-- /content area -->
        
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/forms/styling/uniform.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/assets/javascripts/datatables_manufacturers.js' %>

<%= javascript_include_tag '/backend/assets/js/plugins/pickers/daterangepicker.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/pickadate/picker.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/pickadate/picker.date.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/pickadate/picker.time.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/pickadate/legacy.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/pickers/anytime.min.js' %>
<script>    
    // Accessibility labels
    $('.pickadate-accessibility').pickadate({
        labelMonthNext: 'Go to the next month',
        labelMonthPrev: 'Go to the previous month',
        labelMonthSelect: 'Pick a month from the dropdown',
        labelYearSelect: 'Pick a year from the dropdown',
        selectMonths: true,
        selectYears: true
    });
</script>
<!-- /theme JS files -->