<!DOCTYPE html>
<html lang="en">
<head>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Đặc sản vùng miền | Trang quản lý</title>

	<!-- Global stylesheets -->
	<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" %>
	<%= stylesheet_link_tag "/backend/assets/css/icons/icomoon/styles.css" %>
	<%= stylesheet_link_tag "/backend/assets/css/bootstrap.min.css" %>
	<%= stylesheet_link_tag "/backend/assets/css/core.min.css" %>
	<%= stylesheet_link_tag "/backend/assets/css/components.min.css" %>
	<%= stylesheet_link_tag "/backend/assets/css/colors.min.css" %>
	<%= stylesheet_link_tag "/backend/assets/stylesheets/custom.css" %>
	<!-- /global stylesheets -->
	
	<!-- JS for Rails -->
	<%= javascript_include_tag 'application' %>
	<!-- /js for rails -->

	<!-- Core JS files -->
	<%= javascript_include_tag "/backend/assets/js/plugins/loaders/pace.min.js" %>
	<%= javascript_include_tag "/backend/assets/js/core/libraries/jquery.min.js" %>
	<%= javascript_include_tag "/backend/assets/js/core/libraries/bootstrap.min.js" %>
	<%= javascript_include_tag "/backend/assets/js/plugins/loaders/blockui.min.js" %>
	<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>
	<%= javascript_include_tag "/backend/assets/js/custom.js" %>
	<%= javascript_include_tag '/backend/assets/js/plugins/notifications/sweet_alert.min.js' %>
	<%= javascript_include_tag '/backend/assets/js/plugins/notifications/bootbox.min.js' %>
	<%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js' %>
	<!-- /core JS files -->

</head>

<body>
	
	<script>
		
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  
		ga('create', 'UA-77038521-1', 'auto');
		ga('send', 'pageview');
		
		
		$(document).ready(function() {
			
			// add related articles to list	
			$(document).on("click", ".add_related_articles_button", function() {
				var ids = $(".list_related_articles").select2("val");
				var product_id = $(this).attr("product_id");
				if(ids != "") {
					$.ajax({
						method: "GET",
						url: '<%= add_related_articles_admin_products_path %>?article_ids='+ids+'&product_id='+product_id,
					})
					.done(function( msg ) {
						$('<div>').html(msg).find("tbody tr").each(function() {
							var id = $(this).find("input[name='article_ids[]']").val();
							var count = $(".table_related_articles tbody input[value="+id+"]").length;
							if(count == 0) {
								$(".table_related_articles tbody").prepend($(this).clone());
							}
						});						
					});
				} else {
					
				}
				$(".list_related_articles").select2("val","");
			});
			$(document).on("click", ".table_related_articles .remove_button", function() {
				$(this).parents("tr").remove();
			});
			
			$(document).on("click", ".add_related_products_button", function() {
				var ids = $(".list_related_products").select2("val");
				var article_id = $(this).attr("article_id");
				if(ids != "") {
					$.ajax({
						method: "GET",
						url: '<%= add_related_products_admin_articles_path %>?product_ids='+ids+'&article_id='+article_id,
					})
					.done(function( msg ) {
						$('<div>').html(msg).find("tbody tr").each(function() {
							var id = $(this).find("input[name='product_ids[]']").val();
							var count = $(".table_related_products tbody input[value="+id+"]").length;
							if(count == 0) {
								$(".table_related_products tbody").prepend($(this).clone());
							}
						});						
					});
				} else {
					
				}
				$(".list_related_products").select2("val","");
			});
			$(document).on("click", ".table_related_products .remove_button", function() {
				$(this).parents("tr").remove();
			});
			
		});
		
		<% if notice.present? %>
			swal({
				title: "<%= notice %>",
				confirmButtonColor: "#66BB6A",
				type: "success",
				allowOutsideClick: true
			});
		<% end %>
		
	</script>

	<%= yield %>
	
    <script>
		$("#validate_checking").validate();
	</script>
</body>
</html>
