
<!doctype html>
<html lang="en" class="no-js">
<head>
	
  <meta charset="utf-8">
	<meta name="description" content="Chùa Linh Quang – Ấp 1, Xã Phú Hòa, Huyện Định Quán, Tỉnh Đồng Nai, Việt Nam">
	<meta name="author" content="Chùa Linh Quang">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
	<title>Chùa Linh Quang - Ấp 1, Xã Phú Hòa, Huyện Định Quán, Tỉnh Đồng Nai, Việt Nam</title>

  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic" %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  
  <%= stylesheet_link_tag "/frontend/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "/frontend/css/font-awesome.css" %>
  <%= stylesheet_link_tag "/frontend/css/style.css" %>
  <%= stylesheet_link_tag "/frontend/css/custom.css" %>

</head>

<body class="comming-soon-page">

	<!-- comming-soon-page -->
	<%= yield %>
	<!-- End comming-soon-page -->
  
	<!-- include javascripts
    ================================================== -->
	<%= javascript_include_tag "/frontend/js/jquery.min.js" %>
	<%= javascript_include_tag "/frontend/js/jquery.migrate.js" %>
	<%= javascript_include_tag "/frontend/js/jquery.imagesloaded.min.js" %>
	<%= javascript_include_tag "/frontend/js/bootstrap.min.js" %>
	<%= javascript_include_tag "/frontend/js/countdown.js" %>
	<%= javascript_include_tag "/frontend/js/script.js" %>
	<!-- End Include Javascripts -->

</body>
</html>