
<!doctype html>
<html lang="en" class="no-js">
<head>
  
  <meta charset="utf-8">
	<meta name="description" content="Chùa Linh Quang – Ấp 1, Xã Phú Hòa, Huyện Định Quán, Tỉnh Đồng Nai, Việt Nam">
	<meta name="author" content="Chùa Linh Quang">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
	<title>Chùa Linh Quang - Ấp 1, Xã Phú Hòa, Huyện Định Quán, Tỉnh Đồng Nai, Việt Nam</title>
  
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic" %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  
  <%= stylesheet_link_tag "/frontend/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "/frontend/css/jquery.bxslider.css" %>
  <%= stylesheet_link_tag "/frontend/css/font-awesome.css" %>
  <%= stylesheet_link_tag "/frontend/css/magnific-popup.css" %>
  <%= stylesheet_link_tag "/frontend/css/owl.carousel.css" %>
  <%= stylesheet_link_tag "/frontend/css/owl.theme.css" %>
  <%= stylesheet_link_tag "/frontend/css/ticker-style.css" %>
  <%= stylesheet_link_tag "/frontend/css/style.css" %>
  <%= stylesheet_link_tag "/frontend/css/custom.css" %>

</head>

<body>

	<!-- Container -->
	<div id="container">

		<!-- Header
		    ================================================== -->
		<header class="clearfix third-style">
			<!-- Bootstrap navbar -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation">

				<!-- Top line -->
				<%= render "/modules/top_line" %>
				<!-- End Top line -->

				<!-- list line posts -->
				<%= render "/modules/list_line_posts" %>
				<!-- End list line posts -->

				<!-- navbar list container -->
				<div class="nav-list-container">
					<div class="container">

						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Menu Chính</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
              <%= link_to image_tag("/frontend/images/small-logo.png", alt: ""), home_path, class: "navbar-brand" %>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<%= render "/modules/home_menu" %>
						<!-- /.navbar-collapse -->
					</div>
				</div>
				<!-- End navbar list container -->

			</nav>
			<!-- End Bootstrap navbar -->

		</header>
		<!-- End Header -->
		
		<% if ["category"].include?(params[:controller]) || ["post_detail"].include?(params[:controller]) %>
		<!-- ticker-news-section
			================================================== -->
		<%= render "/modules/hot_news" %>
		<!-- End ticker-news-section -->
		<% end %>

		<!-- block-wrapper-section
			================================================== -->
		<%= yield %>
		<!-- End block-wrapper-section -->

		<!-- footer 
			================================================== -->
		<%= render "/modules/footer" %>
		<!-- End footer -->

	</div>
	<!-- End Container -->
  
  <!-- include javascripts
    ================================================== -->
  <%= render "/modules/js_files" %>
	<!-- End Include Javascripts -->

</body>
</html>