<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voucher.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @voucher.code %>
</p>

<p>
  <strong>From date:</strong>
  <%= @voucher.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @voucher.to_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @voucher.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @voucher.quantity %>
</p>

<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
